﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">フクロウがこんなに飼い主さんに甘える事実を知って驚いたと同時にうらやましい</span><span class="info">（ちーちゃんまま/女性/50代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（9件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">フクロウも飼いたいのですが、フクロウの食事が苦手でなかなか飼う勇気がでないんです。なので、他の人が飼っているフクロウの動画をみて可愛いなぁ、と癒されています。甘えている姿がとっても可愛いです。</span><span class="info">（ちび助/女性/20代）</span></li>
        <li><span class="text">猛禽は自分では飼えないので、見て楽しませていただいてます。</span><span class="info">（ぴぴまる/女性/50代）</span></li>
        <li><span class="text">猛禽類と暮らすことへの憧れ</span><span class="info">（えいたま。/女性/30代）</span></li>
        <li><span class="text">以前ふくろうを飼いたいと考えてたから</span><span class="info">（みやびです/女性/60代）</span></li>
        <li><span class="text">フクロウが好きだから</span><span class="info">（風のゆびさき/女性/50代）</span></li>
        <li><span class="text">かっこ良過ぎます</span><span class="info">（そあら/女性/40代）</span></li>
        <li><span class="text">ふくろうってこんなに可愛いんだ</span><span class="info">（ぷーさん/女性/20代）</span></li>
        <li><span class="text">あまり懐かない筈のフクロウが飼い主にベタ慣れしており可愛い。</span><span class="info">（ニシ/女性/30代）</span></li>
        <li><span class="text">フクロウをメインとしているチャンネルが少ないし、なにより可愛いから。</span><span class="info">（まさ/男性/20代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>