﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">春じまさんと春子さんがサザナミのアオちゃんをはさんで、視聴者さんのお悩みに応えてるラジオ番組風の動画…。なかなかタメになります。</span><span class="info">（t.yazawa/男性/60代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（57件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">鳥への愛情もしっかり感じられるし、生態や病気に関しても学べる事がたくさんあるチャンネルです！</span><span class="info">（みぃ姐さん/女性/40代）</span></li>
        <li><span class="text">インコの飼い方、接し方、体験談など客観的情報が参考になる。鳥そのものの情報のほか、関連グッズや施設などの紹介も見ていて楽しい。</span><span class="info">（ポンあきインコ/男性/40代）</span></li>
        <li><span class="text">分かりやすい項目分けになっているので、検索し易く、また一緒にお茶しながら楽しめるチャンネル!</span><span class="info">（おかん/女性/50代）</span></li>
        <li><span class="text">春じまさんと晴子さんの穏やかな人柄、人と鳥がお互い心地よく暮らせるよう飼育に真摯に向き合う姿勢が好きです。変に可愛さを演出せず、マイペースなスイちゃんの姿をお届けするスタイルも好きです。</span><span class="info">（mone/女性/20代）</span></li>
        <li><span class="text">鳥かわいさがわかるチャンネルですね。</span><span class="info">（ゆうゆ/女性/50代）</span></li>
        <li><span class="text">聞いていて楽しいから</span><span class="info">（れい/女性/10代）</span></li>
        <li><span class="text">視聴者からの質問に回答してくれるところ</span><span class="info">（おこ/男性/40代）</span></li>
        <li><span class="text">勉強になります</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">動画内の雰囲気が穏やかで柔らかく、見ていてとても癒やされる。動画の内容もためになるものばかりです。</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">みんな同じことで悩んでるんだなぁとか参考になるから。</span><span class="info">（みう/女性/40代）</span></li>
        <li><span class="text">見やすい編集と、役に立つ内容</span><span class="info">（ぽこ/女性/10代）</span></li>
        <li><span class="text">お二人とも癒し系ボイス！動画は私にとってなごみの時間。</span><span class="info">（フグママ/女性/40代）</span></li>
        <li><span class="text">企画のおもしろさと、お二人のやり取りの脱力感(笑)</span><span class="info">（やちま/男性/40代）</span></li>
        <li><span class="text">とても勉強になりますお二人の掛け合いというか、ふんわりお話しされているところも好きです</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">インコ飼いの悩みなどを動画にしてくれていてわかりやすい</span><span class="info">（とりおた/女性/10代）</span></li>
        <li><span class="text">為になる</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">今は休止しているようですが、面白いと思います。</span><span class="info">（まさ/男性/50代）</span></li>
        <li><span class="text">鳥の飼い方を主に動画にしている。2人の会話を聞いてるだけで癒されます。</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">最近、インコのいるラジオ？お休みしてるのかな？理由が わからないので少し心配です。また春じまさんとはるこさんの癒し系インコトークが見たいです。待ってます。</span><span class="info">（ひさ/女性/40代）</span></li>
        <li><span class="text">勉強になります</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">私がサザナミインコを飼うきっかけとなったユーチューバーさんです</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">お二人の話のペースが心地よいです</span><span class="info">（くりきん/女性/50代）</span></li>
        <li><span class="text">鳥のお悩み相談所が役に立つ</span><span class="info">（ペこ/女性/10代）</span></li>
        <li><span class="text">鳥カフェ行きたくなる</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">サザナミインコもいつかお迎えしてみたい鳥の一羽。春じまさんと春子さんの穏やかな会話が癒し系？会話の途中で、たまに春じまさんの(？)描かれる鳥の絵がポップアップしてきて可愛い。鳥アイスとか鳥コーヒーとかアメリカにはなさそうな商品をトライされてた動画も◎。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">春じまさんと春子さんのおしゃべりで鳥さんの色々な情報が紹介されていて参考になります。</span><span class="info">（やっちゃん/女性/50代）</span></li>
        <li><span class="text">初心者向けの鳥の飼い方、悩みなど扱う題材が為になる。春じまさん春子さんの掛け合いがほのぼのする。癒し系。</span><span class="info">（りん@/女性/30代）</span></li>
        <li><span class="text">サザナミちゃんのことがわかる</span><span class="info">（うめわか/女性/20代）</span></li>
        <li><span class="text">2人の会話が良い</span><span class="info">（里香里香/女性/40代）</span></li>
        <li><span class="text">ウロコインコを飼うきっかけとなったから</span><span class="info">（まーーー/女性/30代）</span></li>
        <li><span class="text">うちがインコを買おうと決めたチャンネルです。爪切りやペレットのことについても話しててためになる。</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">初心者にとっつきやすいあるあるの話が多いのでインコ飼い始めに参考になる</span><span class="info">（うめ4/女性/30代）</span></li>
        <li><span class="text">さまざまな質問に答えてくださって、インコのいろんな情報を発信してくださるから。</span><span class="info">（あいり/女性/10代）</span></li>
        <li><span class="text">鳥について、ちょっと気になったことなどが知れるから。</span><span class="info">（piyo/女性/10代）</span></li>
        <li><span class="text">愛鳥家さんたちのインコへのお悩みを解決したり、アドバイスしたり。とても興味深い。淡々とご夫婦でインコについて話されてるのが分かりやすい。</span><span class="info">（ちーこ/女性/40代）</span></li>
        <li><span class="text">参考になるから。</span><span class="info">（モコ太郎/女性/40代）</span></li>
        <li><span class="text">お悩み解決をしていて分かりやすい</span><span class="info">（まきまき/女性/40代）</span></li>
        <li><span class="text">役に立つ情報もあるし、ちょうどいいトークのトーンがいい</span><span class="info">（may/女性/30代）</span></li>
        <li><span class="text">鳥のいるラジオが好きでした</span><span class="info">（ねむむ/女性/50代）</span></li>
        <li><span class="text">現在お休み中の春じまさん。春子さんとの掛け合いも面白くて飼育について勉強になる話が盛りだくさんです！！再開を心待ちにしています！！</span><span class="info">（鳥が好き学生。/女性/10代）</span></li>
        <li><span class="text">初心者に向けての動画やお悩み動画など参考になる動画をupしてくれているから。</span><span class="info">（あーにゃん/女性/30代）</span></li>
        <li><span class="text">ためになる</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">鳥を飼うにあたり色々お勉強させていただいたチャンネルです</span><span class="info">（ゆぅきちゃん/女性/40代）</span></li>
        <li><span class="text">親近感を感じる。</span><span class="info">（イチ/女性/30代）</span></li>
        <li><span class="text">鳥について知識が深く参考になる</span><span class="info">（とっしー/男性/50代）</span></li>
        <li><span class="text">春じまさんと春子さんのほのぼのにいやされます。</span><span class="info">（まいまいぷー/女性/30代）</span></li>
        <li><span class="text">ためになる解説をやさしい雰囲気の男女で話されているのが好印象です。</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">お悩み相談とても助かりました。色々な人の意見も見れて良かったです。今は休止中のようで残念です。</span><span class="info">（まひろ/女性/30代）</span></li>
        <li><span class="text">小鳥の困った行動に対する対応の仕方がわかる。おでかけスポットも楽しい。</span><span class="info">（モコちゃん/女性/40代）</span></li>
        <li><span class="text">心地よい声で大好きです。また聴きたいです。</span><span class="info">（ぴょい/女性/60代）</span></li>
        <li><span class="text">勉強になります！</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">色んな知識を教えてくれる</span><span class="info">（インコ大好きJK/女性/10代）</span></li>
        <li><span class="text">勉強になります</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">お二人のマッタリとした会話の中にも鳥と一緒に暮らすために大切なことを教えてくださること。視聴者を考えて構成しているラジオ番組風な感じも他になくてよいです。</span><span class="info">（DION/女性/50代）</span></li>
        <li><span class="text">ショップやネットでは質問しきれない細かい鳥さん達の特性や性格などをYouTubeを通して知れるので勉強になります。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">以前、サザナミインコを飼っていたこともあり、懐かしい気持ちで見ています。サザナミインコのしぐさにもすごく癒されています。インコのお悩み相談所も、とても役に立つ情報が載っておりすごく助かっています。今はセキセイインコを飼っているので動画の中で話されている内容を参考にさせていただいています。あと、二人で話しているほのぼのした感じが好き。</span><span class="info">（ひないちご/女性/20代）</span></li>
        <li><span class="text">面白い</span><span class="info">（匿名さん/男性/50代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>