﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">いろいろな種類の鳥を飼ってらっしゃり、憧れです(*^^*)鳥さん達ものびのびと個性豊かで、見ていて楽しいです！飼いたくても飼えない大型の鳥さんも見られるのでいつもチェックしてます☆</span><span class="info">（るいちゃん好き/女性/30代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（17件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">がっちゃん、ホーちゃんとにかくみんな可愛いです🙋飼い主様の笑いに思わず一緒に笑ってます。</span><span class="info">（はみたん/女性/50代）</span></li>
        <li><span class="text">やきもちガッチの大ファンです！</span><span class="info">（トロ/女性/40代）</span></li>
        <li><span class="text">観ていると心が癒されるから。</span><span class="info">（白文鳥/女性/30代）</span></li>
        <li><span class="text">飼い主さんが良い</span><span class="info">（まお/女性/60代）</span></li>
        <li><span class="text">鳥さんたちもかわいいけど、ママさんの幸せそうでにぎやかな笑い声が癒されます。</span><span class="info">（ぱりん/女性/40代）</span></li>
        <li><span class="text">同じ鳥飼いとして共感できる</span><span class="info">（ハニー/女性/50代）</span></li>
        <li><span class="text">飼い主に愛されてる</span><span class="info">（匿名さん/男性/30代）</span></li>
        <li><span class="text">タイハクが可愛い</span><span class="info">（匿名さん/男性/30代）</span></li>
        <li><span class="text">たくさんの動物をのびのび育てていらっしゃる様子が伝わってきます。</span><span class="info">（froggy/女性/40代）</span></li>
        <li><span class="text">ママさんが明るくて楽しい</span><span class="info">（ゆちこ/女性/50代）</span></li>
        <li><span class="text">とりさんたちがみんな個性的でほんとに可愛い！自由に遊ぶ様子がいつも楽しそうでうらやましい❗飼い主さんの喋り声も好き😊</span><span class="info">（pigeon/女性/40代）</span></li>
        <li><span class="text">がっちゃんが面白すぎる</span><span class="info">（まる/男性/40代）</span></li>
        <li><span class="text">面白い、ヨウムが賢い</span><span class="info">（匿名さん/男性/30代）</span></li>
        <li><span class="text">飼い主の人柄の良さと笑いがそそられます♪がっちゃまんも可愛いです。</span><span class="info">（わきち/女性/40代）</span></li>
        <li><span class="text">飼い主の笑い声が好き！</span><span class="info">（ルリビ/女性/50代）</span></li>
        <li><span class="text">ウロコインコが大好きで、チビハル達の芸が凄すぎる。</span><span class="info">（小鳥ちゃん大好き14羽のムツゴロウ王国/女性/40代）</span></li>
        <li><span class="text">わんことタイハクオウムなど仲良く遊んでる姿に癒されます。ご夫婦の愛情の深さ、爪切りでの信頼関係など学ぶことが一杯で大好きです。</span><span class="info">（りんりん/女性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>