﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">オカメインコの飼育歴が長い方が投稿されていて、今までのインコさんの人生、紆余曲折が垣間見える。穏やかな雰囲気の編集も好きです。</span><span class="info">（けろ/女性/20代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（4件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">高齢のオカメインコ2羽（かつては3羽）のチャンネルです。ピピンちゃんが亡くなってからはしんみりとした空気になりましたが、持病を抱えながらも元気に生きているチャメちゃんやコナミちゃんを見ていると、何気無い日常がとても大切なものに思えてきます。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">長寿、盲目となったオカメインコですが、飼い主様と寄り添い生きています。</span><span class="info">（バントット・マイマイ・ピヨ/男性/40代）</span></li>
        <li><span class="text">20歳でも甘える時は雛みたいな声を出すコナミちゃんにメロメロです。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">昔からよく見ているYouTuberさんでオカメインコ3羽がとても可愛くて癒される！お年寄りなんだけどまだまだ元気いっぱいでその様子を見ていると明日も頑張ろう！って気持ちになる！</span><span class="info">（匿名さん/女性/10代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>