﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">まいちゃん(アオメキバタン)のおしゃべりで、なにか言ってるけど何を言ってるのか分からないモゴモゴ感がたまらなく可愛いです❤️そしてキバタンらしい狂気じみたヘドバンは何度見ても面白いです笑。癖になります笑</span><span class="info">（インコまみれ/女性/20代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（16件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">猫とオウムがどうしてこんなに親しくできるのか不思議でたまらない。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">まいちゃんとネコちゃんのやりとりに癒されました。</span><span class="info">（トロ/女性/40代）</span></li>
        <li><span class="text">マイちゃんのファンです。お父さんも優しくて、マイちゃんとのやりとりが楽しみ。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">お父さんとマイちゃんの掛け合いが良い！</span><span class="info">（ブリリアント/女性/10代）</span></li>
        <li><span class="text">単純に可愛いです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">まいちゃんとニャンコのやりとりが笑えます。</span><span class="info">（ちこちこ/女性/50代）</span></li>
        <li><span class="text">マイちゃんが非常に芸達者。</span><span class="info">（froggy/女性/40代）</span></li>
        <li><span class="text">まいちゃんが面白い</span><span class="info">（匿名さん/女性/70代〜）</span></li>
        <li><span class="text">面白い❗</span><span class="info">（ユウ/女性/40代）</span></li>
        <li><span class="text">見ていて楽しい。</span><span class="info">（J3/男性/30代）</span></li>
        <li><span class="text">猫に触りたいオウムの初回から拝見しております。まいちゃんの「カキカキしる」や「わかる？」などと飼い主の方とのコミュニケーションが面白く、とても楽しませてもらっています。1番グッときた動画は、亡くなってしまったくうちゃんの写真を見て、まいちゃんが「くうちゃん」と言っている動画です。ちゃんとあの猫ちゃんは「くうちゃん」と分かっている様子で、いつものように撫でようとしている姿を見ると、涙が止まりません😭これからも鳥さん、わんちゃん、飼い主さん、ご家族の方とのほのぼの動画、楽しみにしております。</span><span class="info">（ででぽ/女性/10代）</span></li>
        <li><span class="text">まいちゃんが人間を翻弄している所がいい</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">この子もよくおしゃべりしてとても可愛くて時々観て癒されております。</span><span class="info">（nicoty/女性/50代）</span></li>
        <li><span class="text">まいちゃんのでおしゃべり</span><span class="info">（kerohana/女性/50代）</span></li>
        <li><span class="text">まいちゃんがお父さん大好きでかわいい。まいぴーというのも可愛い。過去のネコとの触れあいも可愛い。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ねこを触りたくても遠慮がちにしている姿が健気すぎる</span><span class="info">（ちーちゃんまま/女性/50代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>