﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">オカメインコのらてちゃん・もかちゃん、セキセイインコのここちゃん・ぱんちゃんの騒がしくもたのしい生活が楽しいです。色々検証や実験してくれたり、様々なDIYも見せてくれたり、とても勉強にもなって楽しいです。</span><span class="info">（ビトー/女性/40代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（15件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">4羽も飼っていらっしゃるので、すごいなあと毎回思います。</span><span class="info">（キキちゃん大好き/女性/40代）</span></li>
        <li><span class="text">とても愛のある飼い主さんの動画だと見いっています❗4羽いるので、名前がちょっといつまでたっても覚えられないんですが、観ていて和みます</span><span class="info">（YU-KI/女性/40代）</span></li>
        <li><span class="text">二羽のオカメインコがカワイイ。同じ鳥を飼っているので参考になる。</span><span class="info">（かのん０３１６/女性/40代）</span></li>
        <li><span class="text">暇なときなんとなくみてる。</span><span class="info">（さななん/女性/40代）</span></li>
        <li><span class="text">ぱんちゃんが好き</span><span class="info">（リカ・アッカーマン/女性/50代）</span></li>
        <li><span class="text">かわいい</span><span class="info">（ぴのこ/女性/30代）</span></li>
        <li><span class="text">分かりやすい</span><span class="info">（ゆにこん/女性/40代）</span></li>
        <li><span class="text">ぱんちゃん、ここちゃん、もかちゃん、らてちゃんの４羽がそれぞれ性格違って可愛い♡</span><span class="info">（あーりん☆/女性/40代）</span></li>
        <li><span class="text">編集が面白くて楽しく見ています。</span><span class="info">（結祈/女性/40代）</span></li>
        <li><span class="text">器用に何でも作る所</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">音楽にのせてコミカルだなあとつい見てしまいます</span><span class="info">（とーもーさん/女性/50代）</span></li>
        <li><span class="text">家のインコに似てるので見てます。</span><span class="info">（える/女性/30代）</span></li>
        <li><span class="text">のほほんとしたBGMと鳥達に好かれない動画主の葛藤が面白いです。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">鳥との距離感が良いです。</span><span class="info">（秀/男性/50代）</span></li>
        <li><span class="text">ここちゃん、ぱんちゃん、モカちゃん、ラテちゃん、4羽それぞれの生活をみせてくれてます。楽しいです。</span><span class="info">（きょん太郎/女性/50代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>