﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">あべちゃんのおしゃべり大好きです。もう何度も見ているけどそのたびに可愛くて面白くて幸せな気持ちになります。</span><span class="info">（くーちゃん/女性/40代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（8件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">もうあべちゃんは亡くなっているけど笑顔にしてくれる。面白い！</span><span class="info">（こーこ/女性/10代）</span></li>
        <li><span class="text">アベちゃんの喋りは一番凄い。スガちゃんも頑張ってます！</span><span class="info">（あや/女性/40代）</span></li>
        <li><span class="text">あべちゃんのおしゃべりがうますぎる</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">おしゃべりすごい</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">面白い</span><span class="info">（Earl Grey/女性/20代）</span></li>
        <li><span class="text">電話対応が出来るスーパー九官鳥が素敵</span><span class="info">（ニシ/女性/30代）</span></li>
        <li><span class="text">すがちゃんからの大ファンです。飼い主さんの優しさが伝わります。鳥類の賢さを認識します。</span><span class="info">（けん/男性/40代）</span></li>
        <li><span class="text">飼い主さんの可愛らしい声を九官鳥さんがしっかり継いでいてたまらないかわいさがある。</span><span class="info">（サンマルコ。/女性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>