﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">鳥に対しての柔らかく包み込むような愛情が、動画からにじみ出ている。見ているこちらもその愛情に癒される。余計な効果音やリピートも入れておらず、鳥を私物化していない感じも良い。セキセイインコとオカメインコがここまで仲良く暮らしているのも珍しい。相手を思いやる飼い主の優しさが、鳥にも伝染しているように思う。写真に二羽のセリフをつけたタイムラインも、本当にそんな会話をしているようで、見ていて楽しい。</span><span class="info">（ドリチン/女性/30代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（77件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">2羽が仲良しできゅんとなる。飼い主さんの声かけが本当に優しくて、こちらも心癒される。</span><span class="info">（だんごむし/女性/50代）</span></li>
        <li><span class="text">ピノちゃんとはなちゃんに、ママがかける愛情がとっても素敵で応援したくなります。お父さん大好きなはなちゃんがサイコーです。</span><span class="info">（ぺん子/女性/40代）</span></li>
        <li><span class="text">飼い主さんの深い愛情を受けてか、鳥さん同士も思いやりを持って過ごしているのが動画から感じ取れて微笑ましい。</span><span class="info">（ちいぱっぱ/女性/40代）</span></li>
        <li><span class="text">はなちゃんを大好きなぴのちゃんが可愛いです。鳥さんのお世話の仕方も参考にしています。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">オカメインコのはなちゃん、そしてセキセイのピノちゃん、最近御家族になられたカラちゃん、どの子もめいっぱい愛されてて優しい動画で見ていると自然に涙が出てきます。大切に大切にされてるので我が家もああいう家族になりたい、と参考にさせていただきながら見守らせていただいてます。</span><span class="info">（こたママ/女性/30代）</span></li>
        <li><span class="text">こきんちょう気になる</span><span class="info">（れもん/女性/40代）</span></li>
        <li><span class="text">はなちゃん(オカメ)とぴのちゃん(セキセイ)の仲がとても良くて、ぴのちゃんははなちゃんが大好きで、付きまとっていても、怒らずにいるんです。優しくて健気なインコさん達です。大好きです。カラちゃん(コキンチョウ)はつい最近、主様がペットショップにいたカラちゃんのケージの悪環境に見て見ぬふりが出来ず、すぐに引き取ったという経緯で、今は写真で主に近況の様子を投稿して下さっています。これからどんな特技やお気に入りができるのか、楽しみですね！優しい主様とインコちゃん達と一緒に楽しい鳥生を送って欲しいです😊応援してます</span><span class="info">（インコまみれ/女性/20代）</span></li>
        <li><span class="text">はなちゃんとピノちゃんの仲良しを見てほっこりします</span><span class="info">（まゆちゃん/女性/50代）</span></li>
        <li><span class="text">鳥のセミナー等に参加している所。コキンチョウのカラちゃんを迎え感動した。</span><span class="info">（あびにゃん/女性/40代）</span></li>
        <li><span class="text">鳥との日常風景を動画にされておりほのぼのしている。飼い主さんの鳥への愛情が伝わってくる。鳥をYouTubeのネタとして強く強調していないので見ていて癒されます。</span><span class="info">（鳥好きアラフォー/男性/40代）</span></li>
        <li><span class="text">はなちゃんとぴのちゃんも可愛いし愛情溢れる動画がとても良いです</span><span class="info">（おじょう/女性/50代）</span></li>
        <li><span class="text">フォローしてます</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">ぴのちゃんとはなちゃんがとにかく可愛い！最近飼われたコキンチョウのカラちゃんとも今後どう絡んでいくのか楽しみです。</span><span class="info">（pocota/女性/30代）</span></li>
        <li><span class="text">癒される、飼い方の参考になる。</span><span class="info">（ハル/女性/30代）</span></li>
        <li><span class="text">飼い主さんへのインコ達への愛情が伝わります。 災害などの対策は勉強になりました。わかりやすいです！</span><span class="info">（うめちゃん/女性/20代）</span></li>
        <li><span class="text">愛情。編集。</span><span class="info">（ななまま/女性/40代）</span></li>
        <li><span class="text">編集の仕方がとても好きで動画を見ていてとても安らぐし、感動するのもあって鳥に対する愛情が凄く伝わって来ます</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">種類の違う、大きさも違うインコなのにとっても仲良しさん❗新しくコキンチョウさんも迎えられて、初めて観るコキンチョウさんに見惚れてしまいました。</span><span class="info">（YU-KI/女性/40代）</span></li>
        <li><span class="text">新入り「コキンチョウ」の今後が気になる。。 「コキンチョウ」の美しさも気になる。。</span><span class="info">（Y.K./女性/50代）</span></li>
        <li><span class="text">オカメのはなちゃんとセキセイのぴのちゃんが仲良くて可愛いのよ。男同士であんなに仲良くなるものなんですかね。上手に飼われてるのでいつも見てます。コキンのカラちゃんもオススメ⭐</span><span class="info">（どんべえきつね/男性/40代）</span></li>
        <li><span class="text">ピノちゃんとはなちゃんの毎日が、可愛いくて見てしまう。</span><span class="info">（ぽぷり/女性/50代）</span></li>
        <li><span class="text">とにかく可愛い❤️愛に満ち溢れています。いつもピノはなちゃんに癒して頂いてます(//∇//)パパママさんの優しさもステキ過ぎます。</span><span class="info">（うまのほっぺ/女性/40代）</span></li>
        <li><span class="text">pino hana さんの、鳥さんたちを見守っている姿勢が好きです。手作りのバードジムやテントなどを見ていても本当に好きなのが伝わってきます♪そして、コキンチョウのカラちゃんをお迎えしたときのエピソードには、飼い主さんの鳥への愛情が溢れてて感動しました💓</span><span class="info">（ナル/女性/60代）</span></li>
        <li><span class="text">このチャンネルの鳥の十戒が、ものすごく考えさせられたので。</span><span class="info">（ノグ/男性/40代）</span></li>
        <li><span class="text">フィンチ好きとしては、コキンチョウが新たに加わったのが高ポイント。人慣れしてないコなので、今後の接し方でどう変わっていくか楽しみ。フィンチは大人から迎えると人慣れしてないコが多いので、参考になる。</span><span class="info">（りん@/女性/30代）</span></li>
        <li><span class="text">飼い主さんが大切に育てている様子に好感がもてる。オカメインコをとにかく慕うセキセイのピノ君が意地らしくてかわいい。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">花ちゃんの愛らしさと飼い主さんの愛情を感じます。</span><span class="info">（むうこ/女性/60代）</span></li>
        <li><span class="text">Pinoちゃんのはなちゃん好きがたまらなく可愛い</span><span class="info">（ぷ～た☆彡/女性/50代）</span></li>
        <li><span class="text">可愛い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ママさんや家族がとても優しく鳥さん達に接していて愛情溢れた動画なので。</span><span class="info">（はるちゃんママ/女性/40代）</span></li>
        <li><span class="text">ピノちゃんに癒やされる</span><span class="info">（あお きい まる ママ/男性/40代）</span></li>
        <li><span class="text">コキンチョウのカラちゃんも家族になりました。</span><span class="info">（ぱりん/女性/40代）</span></li>
        <li><span class="text">カラちゃんの幸せそうな姿に癒やされます</span><span class="info">（ねむむ/女性/50代）</span></li>
        <li><span class="text">オカメインコとセキセイインコの仲良しな日常と最近加わったコキンチョウの近況が気になって見ています。どの子も愛情を注がれているなと見ていてなごみます。</span><span class="info">（とりこ/女性/30代）</span></li>
        <li><span class="text">インコちゃんがかわいい！</span><span class="info">（ゆにこん/女性/40代）</span></li>
        <li><span class="text">オカメとセキセのコンビがいい。このチャンネルが一番お気に入り。</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">癒される</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">カラちゃんを家族にしてあげたから尊敬</span><span class="info">（やまこ/女性/40代）</span></li>
        <li><span class="text">鳥ちゃんのご家族さんの優しさが伝わってきて、鳥との関わり方をしっかり考えるきっかけになります。愛情を持って共に暮らす様子に心がぽかぽかします。</span><span class="info">（さと/女性/20代）</span></li>
        <li><span class="text">オカメインコ可愛い</span><span class="info">（Sora/女性/30代）</span></li>
        <li><span class="text">観ていて、ほっこりした気持ちになる。</span><span class="info">（shu-mi/女性/30代）</span></li>
        <li><span class="text">私もオカメインコを飼っています</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">飼い主さんとのやりとりがみていて微笑ましい❗癒される❗</span><span class="info">（R/女性/40代）</span></li>
        <li><span class="text">ぴのちゃん、はなちゃん、カラちゃん兄弟団らんしている光景にほっこり✨</span><span class="info">（匿名さん/女性/70代〜）</span></li>
        <li><span class="text">カラちゃんとても気になります</span><span class="info">（とーもーさん/女性/50代）</span></li>
        <li><span class="text">ピノちゃんのはなくん大好き感が好き！</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">マイペースでおっとりなはなちゃん、はなちゃんが大好きな甘えん坊のぴのちゃん、新入りで慣れてきた様子のカラちゃん、ほんわかした動画に癒されます。</span><span class="info">（マメルリハの飼い主ともとも/女性/30代）</span></li>
        <li><span class="text">とにかく、かわいい。</span><span class="info">（たま/女性/40代）</span></li>
        <li><span class="text">鳥同士が仲良しで見てて楽しいです。</span><span class="info">（pen/男性/50代）</span></li>
        <li><span class="text">やさしさ</span><span class="info">（m/女性/50代）</span></li>
        <li><span class="text">仲良し二羽が可愛い</span><span class="info">（あらし/女性/50代）</span></li>
        <li><span class="text">飼い主さんのはなちゃんとピノちゃんに対する愛が深い。ピノちゃんのはなちゃんの事大好きでしつこい所や、最近家族になったカラちゃんからも目が離せない。</span><span class="info">（☆AHKO☆/女性/40代）</span></li>
        <li><span class="text">癒されます❗</span><span class="info">（ユウ/女性/40代）</span></li>
        <li><span class="text">お母さんが優しい。🐥愛がある。</span><span class="info">（くりちゃん/女性/40代）</span></li>
        <li><span class="text">にぎやかな鳥さんとの毎日が見ていてあきません</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">かわいい！</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">ぴのちゃんのはなちゃんに対する愛情と、飼い主さんの鳥さんの優しさ。</span><span class="info">（たれみみ/女性/40代）</span></li>
        <li><span class="text">ピノちゃんはなちゃんの仲良しさが可愛い❤️</span><span class="info">（れお/女性/40代）</span></li>
        <li><span class="text">カラのお迎えエピソードに泣いた</span><span class="info">（うりぼー/女性/20代）</span></li>
        <li><span class="text">飼い主の優しさが伝わる</span><span class="info">（匿名さん/男性/30代）</span></li>
        <li><span class="text">コキンチョウをお迎えした経緯を知って心が温かくなり、カラちゃんのこれからが気になるからです！ピノちゃんとハナちゃんが仲睦まじく見ていてほっこりします。</span><span class="info">（ゆいん/女性/20代）</span></li>
        <li><span class="text">はなちゃんとぴのが仲良いから微笑ましい。日向ぼっこや餌のやり方などに飼い主さんの優しさや大事にしてる感じが伝わり、はなちゃん達が楽しそうにほんわかしてる姿がたまらない。</span><span class="info">（小鳥ちゃん大好き14羽のムツゴロウ王国/女性/40代）</span></li>
        <li><span class="text">コキンチョウのお迎えに関する記事に涙が出ました。鳥さんたちの育成環境等みると、かわいい。大切な鳥さんに具体的にどう工夫したら良いのか伝わるのが素敵です。</span><span class="info">（katy/女性/40代）</span></li>
        <li><span class="text">勉強になります。癒されます。</span><span class="info">（098japan/男性/30代）</span></li>
        <li><span class="text">コキンチョウのカラちゃんに対するきめ細かな接し方に愛がこもっていてとても嬉しいです。</span><span class="info">（ねむねむ/女性/50代）</span></li>
        <li><span class="text">コキンチョウが加わって益々楽しい</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">飼い主の優しさが好き</span><span class="info">（ぴよこ/女性/50代）</span></li>
        <li><span class="text">なんというか・・・鳥さんに対する愛情が底なし沼の様に深いのです！（笑）</span><span class="info">（みけ/女性/50代）</span></li>
        <li><span class="text">大人？のオカメインコのはなと元気一杯のセキセイインコのぴの、仲良し動画は見てると心があたたかくなります。最近家族になったコキンチョウのカラ、素敵なおうちに迎えられてよかったです。これからの動画が楽しみです。</span><span class="info">（ぴよ/女性/50代）</span></li>
        <li><span class="text">カラちゃんが可愛い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">飼い主さんの鳥を大切に思う気持ちが伝わって来る優しい気持ちになれるチャンネルです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">オカメインコとセキセイインコが仲良しで癒される</span><span class="info">（けん/男性/40代）</span></li>
        <li><span class="text">はなちゃんとぴのちゃんの関係が可愛くステキで見始めたのですが、最近、さらにカラちゃんが増え目が離せません。飼い主さんとご主人さまのお人柄が心優しく、鳥への思いやりにいつも心打たれます。</span><span class="info">（Nana Hacchi/女性/40代）</span></li>
        <li><span class="text">ぴのちゃん、はなちゃん、とても、可愛いです。最近では、カラちゃんも、仲間入り。なんと言っても、主様の優しい心が素敵です。カラちゃんお迎えの経緯も素晴らしいです。</span><span class="info">（きょん太郎/女性/50代）</span></li>
        <li><span class="text">オカメとセキセイが仲が良くて羨ましい。最近ではホームセンターで寂しくしていたこきんちょうが仲間入り。早く慣れてくれるといいなあと、更新が楽しみ。</span><span class="info">（momo7/女性/40代）</span></li>
        <li><span class="text">コキンチョウのカラちゃんの大ファンです。オカメインコとセキセイインコの仲良しがとても好き。ぴのはなワールドに魅了されてます。</span><span class="info">（まるまるちゃん/女性/60代）</span></li>
        <li><span class="text">我が家のインコと名前も見た目もそっくり！</span><span class="info">（ぴの/女性/30代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>