﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">何かに襲われて保護した子雀を自然に返した後の雀の様子が感動する。涙無しでは観られない程です。</span><span class="info">（まゆちゃん/女性/50代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（3件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">すずめ達との繋がり</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">野生のスズメとの触れ合い</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">野生のスズメの雛を拾い、育て、放鳥して、そのスズメが子供や孫をつくり、彼らが亡くなっていくまでを詳細に記録しています。スズメたちが死に際に見せるドラマに深い感銘を覚えます。</span><span class="info">（バントット・マイマイ・ピヨ/男性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>