﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">コールダックの魅力をここで知りました。なかなか身近で飼ってる方がいない鳥なので日常っぽい動画も新鮮です。もちもちボディに癒されます。</span><span class="info">（ななお/女性/30代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（18件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">コールダック可愛い！！</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">フォルムが面白い</span><span class="info">（きょうさん/男性/10代）</span></li>
        <li><span class="text">かわいい</span><span class="info">（しろこ/女性/20代）</span></li>
        <li><span class="text">コールダック飼いたい！</span><span class="info">（まっちゅん/女性/40代）</span></li>
        <li><span class="text">楽しそう</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">ブッチーがかわいい。ファミリーで楽しそう。</span><span class="info">（tami/女性/50代）</span></li>
        <li><span class="text">アヒルって可愛いと教えてくれる！</span><span class="info">（ブリリアント/女性/10代）</span></li>
        <li><span class="text">すごく可愛い。ずっと見てたい。私はブッチー推しです</span><span class="info">（むむ/女性/20代）</span></li>
        <li><span class="text">モコちゃんの鳴き声がとにかく可愛い。</span><span class="info">（マカロニ/男性/50代）</span></li>
        <li><span class="text">もこちゃんとブッチーのもちっぷりに癒される</span><span class="info">（むぎちゃ/女性/40代）</span></li>
        <li><span class="text">ぶっちともこちゃんと飼い主の三つ巴に注目</span><span class="info">（うりぼー/女性/20代）</span></li>
        <li><span class="text">コールダックの会話が好き‼️飼い主さんが頭をポンポンって撫でるのが大好き💓♥️❤️</span><span class="info">（リコッコ/女性/40代）</span></li>
        <li><span class="text">ダックを見れるのが珍しい</span><span class="info">（かずー/男性/20代）</span></li>
        <li><span class="text">なかなか目にすることができない種類だから。</span><span class="info">（まど。/女性/10代）</span></li>
        <li><span class="text">ライブがいい。海外のファンも多いのでママさんの英語が上達していく、すごいな。お家もアヒルのためのお家を建てて家族で頑張って生きている。主役はそんな事は考えていないと思いますが、お尻がかわいい～くて、歩き方もかわいい～。</span><span class="info">（s.chikashi/女性/50代）</span></li>
        <li><span class="text">日本のYouTubeで飼い慣らしたコールダックを見れるのはここだけだと思います🌸とってもキュートなモコちゃんとブッチくんが見れて幸せです。</span><span class="info">（まるまる/女性/30代）</span></li>
        <li><span class="text">ブッチーも、モコちゃんも大好き♪ママさんの声も優しくて癒されます。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">コールダックは飼いたいけど環境的に無理なので、見せていただいて癒やされています。</span><span class="info">（マカロニ/男性/50代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>