﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">san chanは大阪のヨウムさん、大阪弁での飼い主さんとのやり取りがとっても面白く、さすが関西のヨウムちゃんです。ヨウムちゃんの賢さと大阪弁が何とも言えず笑えて可愛くて癒されます、大好きです！イチオシです！</span><span class="info">（アッキー❤️/女性/50代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（5件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">ヨウムのさんchanと飼い主さんとの掛け合いが面白い。賢いさんchanと飼い主さんが、対等にやりとりしている様子が笑えます。</span><span class="info">（みなっつ/女性/30代）</span></li>
        <li><span class="text">ヨウムの賢さや可愛さがよくわかる。さんちゃんに振り回されている飼い主さんが楽しそう。</span><span class="info">（イチ/女性/30代）</span></li>
        <li><span class="text">オウムのさんちゃんがとにかく面白いです。関西弁で飼い主さんと喧嘩する動画で、口調が大阪のおばちゃんそのもので、大笑いしました。</span><span class="info">（みずき/女性/50代）</span></li>
        <li><span class="text">とにかく、かわいい</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">さんちゃんのキャラ。登録しているのにチャンネル名があやふやです。すみません。</span><span class="info">（匿名さん/女性/50代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>