﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">とにかくボタンちゃんがカワイイ！！何とも言えない表情や動き。あと飼い主さん(Spada2さん)との大阪弁のやり取りが漫才みたいで面白いです。</span><span class="info">（ビトー/女性/40代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（63件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">ボタンちゃんの背泳ぎでファンになり、ボタンちゃんが色んな遊び方をするのがとっても可愛くて、飼い主さんの愛情も伝わってきて見るたびに癒されてます❤️</span><span class="info">（pigeon/女性/40代）</span></li>
        <li><span class="text">ボタンインコのボタンちゃんのコミカルで愛くるしいキャラクターが大好きで、UP主さんの編集と大好きで癒しをいつも貰っています！１番好きなチャンネルです！</span><span class="info">（マキシマ/女性/30代）</span></li>
        <li><span class="text">内容や字幕が面白い。</span><span class="info">（イチ/女性/30代）</span></li>
        <li><span class="text">ボタンちゃんがとにかくかわいい！クッションの間で背泳ぎしたり、ビンや蓋で遊んでいるのがかわいいです。そしてボタンちゃんの心の声を大阪弁で表現していて面白いです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ボタンインコさんの可愛さが全面に溢れてて、主様や主様ご両親(ボタンちゃんの飼い主様)のボタンちゃんへの愛が伝わってくるので見ていて癒されます！ボタンちゃんはボタンインコさんの中でも特に個性的で、おすすめポイントは見事な背泳ぎです^^*</span><span class="info">（こたママ/女性/30代）</span></li>
        <li><span class="text">ボタンちゃんと飼い主さんのやり取りが微笑ましく癒されます。</span><span class="info">（くろたつ/女性/40代）</span></li>
        <li><span class="text">ボタンちゃんの背泳ぎ歩きがとても可愛くて笑えます!</span><span class="info">（みこ/女性/50代）</span></li>
        <li><span class="text">とにかくボタンちゃんがかわいい！そして自由すぎる！無駄な演出が無いにもかかわらず、観るたびにいつも笑ってしまいます。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">ぼたんちゃんの気持ちが関西弁になってでてるところが、仕草とぴったりでとても面白いです。</span><span class="info">（ぴめい/女性/50代）</span></li>
        <li><span class="text">ボタンちゃんの背泳ぎが、最高にかわいい‼️大阪弁のやりとりもおもしろい</span><span class="info">（ワンタン/女性/40代）</span></li>
        <li><span class="text">関西弁のぼたんちゃん</span><span class="info">（きほ/女性/10代）</span></li>
        <li><span class="text">なんと言っても背泳ぎする姿がカワイイ</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ボタンインコのボタンちゃんが自由で、見ていて楽しいです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">単純にボタンちゃんが可愛い過ぎるからですね。</span><span class="info">（kj/男性/40代）</span></li>
        <li><span class="text">背中を滑らせクッションからクッションの間を移動する仕草がなんとも言えず可愛い</span><span class="info">（masamin/女性/50代）</span></li>
        <li><span class="text">芸達者なところがかわいい ボタンインコの魅力にはまった</span><span class="info">（くりきん/女性/50代）</span></li>
        <li><span class="text">鳥さんの上から目線な感じが面白い</span><span class="info">（lave.oza/女性/50代）</span></li>
        <li><span class="text">ボタンインコを飼っているので 親近感を感じる</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">コメントが上手い</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">背泳ぎが好き</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ボタンちゃんのセリフが面白いです</span><span class="info">（かよこ/女性/30代）</span></li>
        <li><span class="text">ボタンちゃんおもしろくて可愛い☺️</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">撮影も編集も自然な感じで、鳥さん本来の魅力が伝わってきます。勝気なボタンちゃんの性格を関西弁でうまく代弁される飼い主さん。ふたりの掛け合いが微笑ましく、ツッコミも的確で笑わせていただいています笑</span><span class="info">（サイジ/女性/40代）</span></li>
        <li><span class="text">可愛い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ボタンインコのボタンちゃんの表情がとても可愛い！Spada2さんとのやりとりとセリフがピタリと合っていて面白くて、癒やされます！</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">以前、ボタンインコを飼っていたので。ボタンインコが好き。</span><span class="info">（ゆう/女性/40代）</span></li>
        <li><span class="text">ボタンちゃんの関西弁最高です。</span><span class="info">（はるちゃんママ/女性/40代）</span></li>
        <li><span class="text">背泳ぎがかわいい</span><span class="info">（のんちゃそ/女性/30代）</span></li>
        <li><span class="text">ボタンちゃん大好き</span><span class="info">（まお/女性/60代）</span></li>
        <li><span class="text">以前飼っていたコザクラインコと前にぴんふさんの飼ってみえたパセリちゃんがそっくりだったので見ています。</span><span class="info">（マカロニ/男性/50代）</span></li>
        <li><span class="text">ぼたんちゃんがかわいい！</span><span class="info">（モコ太郎/女性/40代）</span></li>
        <li><span class="text">関西弁？ボタンちゃんが可愛いです。</span><span class="info">（けんたろう。/男性/50代）</span></li>
        <li><span class="text">ボタンインコのボタンちゃんがとっても個性的で、とにかく可愛い😆💕飼い主さんのお人柄も素晴らしく、見てるだけで顔が自然とニヤけてしまいます😁</span><span class="info">（だんごむし/女性/20代）</span></li>
        <li><span class="text">ボタンちゃんかわいい</span><span class="info">（ぱりん/女性/40代）</span></li>
        <li><span class="text">ボタンちゃんが可愛い!</span><span class="info">（ねむむ/女性/50代）</span></li>
        <li><span class="text">ぼたんちゃん 可愛い。家に居るボタンインコと全然違うのが良いの</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ぼたんちゃんといじわる人間の掛け合いが楽しい</span><span class="info">（ぴーちゃん/女性/70代〜）</span></li>
        <li><span class="text">関西弁の吹き出しがおもしろい</span><span class="info">（まる優/女性/50代）</span></li>
        <li><span class="text">ブルーボタンが大好きなので</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ボタンちゃんの背泳ぎが最高♬</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">単純にかわいい</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">うちにもブルーボタンインコがいて、重なってしまうのと、なんと言ってもボタンちゃんが話してるように関西弁で出る字幕がたまらなくおもしろい🤣</span><span class="info">（saly0505/女性/50代）</span></li>
        <li><span class="text">ボタンインコの可愛いさが良くわかる動画です。</span><span class="info">（pen/男性/50代）</span></li>
        <li><span class="text">飼っていたボタンインコに似ていて、ボタンちゃんが元気でいることがうれしくなります。しかも私のボタンちゃんと名前が同じです。私のボタンちゃんが亡くなる前から見てました！</span><span class="info">（あるふぁ/女性/10代）</span></li>
        <li><span class="text">背中泳ぎが可愛い💕</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">自分もボタンインコを飼っているし、何よりも可愛いくて 癒されます</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ボタンちゃんが可愛い</span><span class="info">（リカ・アッカーマン/女性/50代）</span></li>
        <li><span class="text">ブルーボタンちゃん、私も共に暮らしています。優しい男の子ですが、ボタンちゃんのような活発で元気な女の子もカワイイ！</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">ヤンチャなボタンインコのボタンちゃんと、それに手を焼く大阪のおばちゃんの掛け合いが楽しい。ボタンちゃんの背泳ぎがたまに観られます。</span><span class="info">（t.yazawa/男性/60代）</span></li>
        <li><span class="text">ボタンちゃんのあたち目線でのコメントが面白いです。</span><span class="info">（ふみ/女性/40代）</span></li>
        <li><span class="text">ボタンちゃんの女の子らしいカンジ大好き❤💕</span><span class="info">（3103🐤🐤/女性/50代）</span></li>
        <li><span class="text">ボタンインコが好きな為。仕草が可愛い。</span><span class="info">（みえ/女性/40代）</span></li>
        <li><span class="text">ボタンちゃんの性格が可愛すぎる！字幕が素敵でボタンちゃん思ってそうだなってニヤニヤしながら見てしまいます!背泳ぎ大好きです！</span><span class="info">（あーさん/女性/20代）</span></li>
        <li><span class="text">鳥さんが背泳ぎするところ</span><span class="info">（Ｍ/女性/40代）</span></li>
        <li><span class="text">自分も同じ種類のインコを飼っていて共感するところがたくさんあります。インコちゃんと飼い主さんが会話しているかのような字幕がおもしろく、毎回笑わせてもらっています。 時間も長過ぎずとても見易い。飼い主さんの愛情が感じられて、毎回ほっこり、幸せな気持ちにさせられます。</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">ぼたんちゃんの呟きが可愛すぎます。背泳ぎや遊び方もとても活気があって楽しいです。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ボタンインコの背泳ぎが好き！かわいい！！！</span><span class="info">（ルルペコ/女性/50代）</span></li>
        <li><span class="text">自由奔放</span><span class="info">（なんくる/女性/40代）</span></li>
        <li><span class="text">ボタンちゃんの背泳ぎがいい</span><span class="info">（カロン/女性/50代）</span></li>
        <li><span class="text">ボタンちゃんの背泳ぎ、軽妙な語り口にいつもニヤニヤしています。ボタンちゃんが可愛すぎます。</span><span class="info">（りんりん/女性/40代）</span></li>
        <li><span class="text">同じインコを飼っているから</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ボタンインコを飼っているので、毎回見ています</span><span class="info">（ままま/女性/20代）</span></li>
        <li><span class="text">飼い主さんとの関西弁のやりとりが楽しみ。得意技の背泳ぎ驚きました！</span><span class="info">（松華堂弁当/女性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>