﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">アカビタイムジオウムの光太郎君のプリンプリンのお腹や光太郎君の歌が面白い。</span><span class="info">（はな/女性/40代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（2件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">アカビタイムジオウムがめちゃくちゃかわいい💕</span><span class="info">（エンくん/女性/40代）</span></li>
        <li><span class="text">アカビタイムジオウムの幸太郎くんの動画です。なぜ入ってないのか不思議です</span><span class="info">（匿名さん/女性/50代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>