﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">とてもおしゃべりなたろちゃんが愉快で楽しい！自分でたろちゃんって呼んでハーイって、言うのが特に好き(笑) 家にいたら、毎日飽きなそうだな～。</span><span class="info">（マヒメ/女性/40代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（23件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">たろちゃん可愛いw</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">たろちゃんのおしゃべりのかわいさと、やっちゃんとのやり取りがただただ笑えます。</span><span class="info">（ひまわり/女性/50代）</span></li>
        <li><span class="text">たろちゃん可愛いくて癒されます。飼い主の関西弁で話す声もかわいいです。</span><span class="info">（さわちん/男性/40代）</span></li>
        <li><span class="text">たろちゃんがかわいい</span><span class="info">（まみ/女性/40代）</span></li>
        <li><span class="text">ままさんとたろちゃんの会話のやり取りが本当にほっこりして毎回癒しをいただいている</span><span class="info">（masamin/女性/50代）</span></li>
        <li><span class="text">タロちゃんが可愛いから。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">最初に見始めたサイト。ソロモンオウムのたろちゃんがとても可愛くて、飼い主さんもとても優しそう。</span><span class="info">（Sii/女性/40代）</span></li>
        <li><span class="text">たろちゃんのじゃんけんが好きです🎵</span><span class="info">（なっつん/女性/20代）</span></li>
        <li><span class="text">おしゃべりがめちゃくちゃかわいい😍</span><span class="info">（エンくん/女性/40代）</span></li>
        <li><span class="text">おしゃべりが楽しい</span><span class="info">（ぷ～た☆彡/女性/50代）</span></li>
        <li><span class="text">たろくんのおしゃべりが楽しい。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">とてもたろちゃんがおしゃべり上手で面白いから</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">たろちゃんの楽しいおしゃべりに癒されます。</span><span class="info">（こっこまり。/女性/50代）</span></li>
        <li><span class="text">やっちゃんとたろちゃんの掛け合いがたのしくて！荒ぶるたろちゃんあまあまたろちゃんかぷかぷたろちゃん自分では家族にするのが難しい、長寿系とりさんのたろちゃんをいつもいいなあ～と楽しく視聴してます！</span><span class="info">（ゆきかぜ/女性/50代）</span></li>
        <li><span class="text">おしゃべりが楽しい</span><span class="info">（あらし/女性/50代）</span></li>
        <li><span class="text">たろちゃんがかわいい</span><span class="info">（匿名さん/男性/30代）</span></li>
        <li><span class="text">ものすごい親近感がある。</span><span class="info">（J3/男性/30代）</span></li>
        <li><span class="text">ひたすらタロちゃんがかわいい</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">たろちゃんのおしゃべりが可愛い</span><span class="info">（aibaちゃん/女性/30代）</span></li>
        <li><span class="text">よくしゃべる癒され動画のひとつで時々拝見し楽しんでおります。</span><span class="info">（nicoty/女性/50代）</span></li>
        <li><span class="text">たろちゃんと飼い主さんのやり取りが 面白くて いつも癒されてます😆</span><span class="info">（九条のねぎちゃん/女性/40代）</span></li>
        <li><span class="text">人の真似をするタロちゃんの真似を、息子がしてます。声と動きがツボみたいです。</span><span class="info">（かこ/女性/40代）</span></li>
        <li><span class="text">たろちゃんのおしゃべりが可愛い。「ピーナッツ食べる？」がツボ。</span><span class="info">（松華堂弁当/女性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>