﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">鳥と犬がこんなにベッタリとくっつくいている光景はなかなか見られない。見ていると心が浄化されていく…かわいい!!</span><span class="info">（どこかの鳥好き/女性/20代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（1件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">とにかく癒ししかない！人間が出てこないところも好きです。</span><span class="info">（Emu/女性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>