﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">世界一リズミカルなオカメインコさんだと思います。飼い主さんが日々のお世話にとても工夫を凝らされていて、動画から愛情を感じます。</span><span class="info">（匿名さん/女性/40代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（152件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">オカメインコのオーナーたちの憧れとカリスマYouTuberさんのチャンネル！最近は老鳥のケアなどノウハウを伝えてくださってます。</span><span class="info">（ゆきかぜ/女性/50代）</span></li>
        <li><span class="text">いいちこのボトルを叩いている姿と、ご機嫌な時のトコトコ歩いて歌っている姿がたまりません。たまに、登場するボタンインコちゃんもクリクリお目めで可愛いです。</span><span class="info">（まっち/女性/30代）</span></li>
        <li><span class="text">いいちこインコさんの主様の16年に及ぶ飼育の様子や、体験でわかった事などいろいろと教えて頂いて勉強になっています、いいちこインコ事、はなちゃんのドラム打ちやお歌などとても可愛いくて、大好きです。</span><span class="info">（ハリーママ８８/女性/50代）</span></li>
        <li><span class="text">鳥を飼うってこんなことだよねと思わせるおじいちゃんインコはなちゃんへの愛が伝わる！長生きしてネと思いながら見てます(^^♪</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">日常がほのぼのします</span><span class="info">（りー/女性/40代）</span></li>
        <li><span class="text">飼い主さんの丁寧で愛情たっぷりの飼育が伝わる</span><span class="info">（ちゃんまゆ/女性/30代）</span></li>
        <li><span class="text">長寿のオカメインコの世話について参考になる</span><span class="info">（おこ/男性/40代）</span></li>
        <li><span class="text">ハナちゃん、飼い主さんが微笑ましい！！</span><span class="info">（おさかなママ/女性/40代）</span></li>
        <li><span class="text">太鼓やいいちこの空箱をトントンするのが軽快で大好きです！鳥飼さんは、オカメインコ飼いの中ではかなりの有名人ですが、ハナちゃんの元気なトントンを見ているといつも元気になります！これからも元気なトントン見せてね！</span><span class="info">（アッキー❤️/女性/50代）</span></li>
        <li><span class="text">いいちこインコさん。とっても長生きで、見ていても楽しいので。</span><span class="info">（ふみなつ/女性/40代）</span></li>
        <li><span class="text">勉強されていて、老後や病気に対して勉強になります。はなちゃんは、とても愛されて育てられているのが伝わってきます。</span><span class="info">（ぷらむ/女性/50代）</span></li>
        <li><span class="text">老鳥となった愛鳥とどう向き合うのか、将来の参考になるし、自然体な飼い主さんの様子も良いですね🎵</span><span class="info">（やちま/男性/40代）</span></li>
        <li><span class="text">とにかく可愛い。。。</span><span class="info">（hshs/女性/20代）</span></li>
        <li><span class="text">ハナちゃんが可愛くて、飼い主さんの愛が伝わってくる</span><span class="info">（しれい/女性/10代）</span></li>
        <li><span class="text">いいちこ（の箱を叩くのが好き）インコという面白さもありますが、それ以上にハナちゃんやチュン太ちゃんを飼い主さんが優しく見守っていることが伝わってきて温かい気持ちになります。音楽等の過度な演出が無いのも良いです。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">いいちこの箱、すごい叩いてるの好きです。特に「今助けるぞー！」の会が好きです笑。オカメちゃんの漫画も書いていて、とてもほっこりします。オカメちゃんは高齢で少し前に嚥下がうまくいかず危ない状況になったことがありましたが、主様の献身的な看護で今は元気になってます。これからも元気に過ごして欲しいです😃</span><span class="info">（インコまみれ/女性/20代）</span></li>
        <li><span class="text">タイコの叩き方が可愛い</span><span class="info">（まゆちゃん/女性/50代）</span></li>
        <li><span class="text">はなちゃんの『いいちこドラム』がすごい！またそれをいろんな角度から見られる映像もインパクト大です。はなちゃん、長生きしてね。</span><span class="info">（みなっつ/女性/30代）</span></li>
        <li><span class="text">飼い主さんが優しい！</span><span class="info">（花/女性/40代）</span></li>
        <li><span class="text">オカメさんの可愛さが伝わってきます。</span><span class="info">（koyomiっち🐦/女性/40代）</span></li>
        <li><span class="text">ハナちゃんのくび振りがかわいい</span><span class="info">（ハル/女性/30代）</span></li>
        <li><span class="text">いいちこインコさんが楽器をトントンするのが可愛い</span><span class="info">（とりすきー/女性/20代）</span></li>
        <li><span class="text">高齢ながらとても大切にされているオカメのはなちゃんと、保護鳥のチュン太さんがとってもかわいい！はなちゃんの高速タンバリンコンコンがたまりません！</span><span class="info">（とこん/女性/50代）</span></li>
        <li><span class="text">はなちゃん可愛いw</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">鳥さんのリズム感が体中からあふれ出ている。楽しそうで面白い、と同時に感心する。おとなしい場面もあり、緩急共に日常がよく表れている。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">一緒にたいこ叩いて遊ぶ姿に癒されるから</span><span class="info">（ピノママ/女性/30代）</span></li>
        <li><span class="text">はなちゃんのヘドバンは最初は衝撃的でした。飼い主さんの深い愛情とはなちゃんのカワイイ仕草に二重丸◎</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">可愛い。</span><span class="info">（オタタ/男性/40代）</span></li>
        <li><span class="text">可愛いインコさんがタンバリンを叩いたり…｡これからも長生きして欲しい！</span><span class="info">（とりおた/女性/10代）</span></li>
        <li><span class="text">いいちこインコというネーミングがユニーク。ほんとにいいちこ好きなのが面白い</span><span class="info">（そのへんの草/女性/20代）</span></li>
        <li><span class="text">いいちこ長生きしてね</span><span class="info">（しろこ/女性/20代）</span></li>
        <li><span class="text">とにかく可愛い。太鼓を叩く動画と、太鼓で行進する動画が可愛い。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">長寿のいいちこインコさん。はなちゃん、長生きしてほしいです。</span><span class="info">（せーの/女性/20代）</span></li>
        <li><span class="text">アレンジされた「はとぽっぽ〜♪」を歌うはなちゃんがかわいい。高齢だけど飼主様の丁寧なお世話がすばらしい。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">トコトコ太鼓かわいい</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">オカメのはなちゃんが好奇心旺盛で可愛い</span><span class="info">（かず/女性/50代）</span></li>
        <li><span class="text">可愛いだけじゃなくて、飼育の情報もわかりやすくあってためになります。うちにもオカメインコがいるので参考にしています。誤嚥対策は本当に勉強になりました。</span><span class="info">（あや/女性/40代）</span></li>
        <li><span class="text">かわいい</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">はなちゃんがドラマーだから。</span><span class="info">（匿名さん/男性）</span></li>
        <li><span class="text">はなちゃんの動きがいとおしい</span><span class="info">（もなこそん/女性/20代）</span></li>
        <li><span class="text">オカメインコが太鼓をクチバシでたたいているのを見るのが面白い。</span><span class="info">（はな/女性/40代）</span></li>
        <li><span class="text">太鼓を飼い主さんと一緒に叩く姿が可愛いです。</span><span class="info">（みちる/女性/40代）</span></li>
        <li><span class="text">自分もオカメインコ飼っており歳をとった時をイメージできる。</span><span class="info">（しなまふぃらてましこむ/女性/40代）</span></li>
        <li><span class="text">自分もオカメインコを飼っているから</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">いいちこさんの本も買ってみてますし、オカメが一番大好きです。</span><span class="info">（どんべえきつね/男性/40代）</span></li>
        <li><span class="text">ご主人様とのセッションが最高です。気分が乗ってないと思われる時にも、太鼓の音に反応しちゃう瞬間とかが好み！</span><span class="info">（いっち/男性/40代）</span></li>
        <li><span class="text">リズム感ww</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ハナちゃんが可愛い</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">飼い主さんが甲斐甲斐しくお世話しているのを見るとほっこりさせられるし愛が伝わってくる。漫画も面白い。</span><span class="info">（かじこ/女性/30代）</span></li>
        <li><span class="text">可愛いから</span><span class="info">（ハル/女性/40代）</span></li>
        <li><span class="text">いいちこの箱をポコポコ叩く姿がたまりません。</span><span class="info">（ぴぴまる/女性/50代）</span></li>
        <li><span class="text">長生きインコさんが憧れるから</span><span class="info">（まーーー/女性/30代）</span></li>
        <li><span class="text">色々勉強になる事も教えてくれるし、とにかく可愛い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">高齢オカメちゃんから、生きる元気をもらえる！</span><span class="info">（ブリリアント/女性/10代）</span></li>
        <li><span class="text">いいちこインコさんが元気で、毎回楽しみです。飼い主さんの愛情を感じます。</span><span class="info">（むうこ/女性/60代）</span></li>
        <li><span class="text">愛おしい。飼い主さんがとっても大切にされているのがほっこりする。</span><span class="info">（エンくん/女性/40代）</span></li>
        <li><span class="text">高齢オカメちゃんや迷子だったボタンインコちゃんを引き取り、優しく愛情たっぷり暮らしているからです。</span><span class="info">（かよこ/女性/30代）</span></li>
        <li><span class="text">鳥には長生きして欲しい。はなちゃんに癒されています。</span><span class="info">（ナデシコ/女性/40代）</span></li>
        <li><span class="text">アイコンに惹かれて見てしまいます！</span><span class="info">（ニコニコちゃん★/女性/30代）</span></li>
        <li><span class="text">24歳のはなちゃんの鳩ぽっぽとボコボコ映像に癒されます。</span><span class="info">（けんたろう。/男性/50代）</span></li>
        <li><span class="text">長生きのオカメインコさんの日常、色々勉強になります。</span><span class="info">（プリンの匂い/女性/40代）</span></li>
        <li><span class="text">ご長寿なハナちゃんに憧れます</span><span class="info">（ねむむ/女性/50代）</span></li>
        <li><span class="text">はなちゃんの太鼓叩きを見て以来のファンです。飼い主さんはなちゃんへの思いの深さが伝わってきます。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ゆったりしている 将来目指したい鳥さんとの関係だから</span><span class="info">（ぴのこ/女性/30代）</span></li>
        <li><span class="text">だいぶ前にいいちこの箱をボコボコ突いている動画にはまり、以後定期的に見るようになりました。オカメインコのハナちゃんもだいぶ高齢になりましたが、主さんの愛情たっぷりの飼育が動画からもとても良く伝わってきます。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ナイスキャラなオカメインコ</span><span class="info">（ykshibata/男性/50代）</span></li>
        <li><span class="text">初めて知った鳥アカウントで活動されている方だからです。(初めてはTwitterで知りました)</span><span class="info">（あーにゃん/女性/30代）</span></li>
        <li><span class="text">高齢のオカメさんを大切にしていて涙が出る</span><span class="info">（えの/女性/50代）</span></li>
        <li><span class="text">いいちこを好きだという点がまず可愛い。しかもそのいいちこは大好きだった祖父のものとか泣ける。あと叩くことが好きで飼い主さんと楽しそうに叩き合うところとかがすごーく可愛い。和む。</span><span class="info">（プクロウ/男性/10代）</span></li>
        <li><span class="text">ハナちゃんが歩き回ったり、いいちこの箱を叩いたり、何をしても愛らしくて大好きです。我が家もオカメを飼っているので、飼い主さんの細やかなお世話は、参考になるし、いつも感心しています。コロナショックの世の中になってしまって、益々癒しと笑いが嬉しいです。</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">ほんわか</span><span class="info">（きゅうべえパパ/男性/40代）</span></li>
        <li><span class="text">飼い主さんの優しさが滲みでてる</span><span class="info">（ぴーちゃん/女性/70代〜）</span></li>
        <li><span class="text">はなちゃんのボコボコ可愛い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">いいちこのパックをバックに頭をふってるのが楽しい。</span><span class="info">（もも吉/女性/50代）</span></li>
        <li><span class="text">おじさんと老鳥がコンビの日常見たいので</span><span class="info">（なんなんなんなし/男性/20代）</span></li>
        <li><span class="text">いいちこが好きなインコで凄く可愛いです</span><span class="info">（ま。/女性/10代）</span></li>
        <li><span class="text">癒されます。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">飼い主の愛情深さが好き</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">アイデアが面白いから</span><span class="info">（風のゆびさき/女性/50代）</span></li>
        <li><span class="text">はなちゃんがとてつもなくかわいい。飼い主さんとの仲の良さが平和。</span><span class="info">（いさ/女性/10代）</span></li>
        <li><span class="text">24才の老鳥を愛情をもって、大事に育てているところ。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">はなちゃんが、いいちこの箱をぼこぼこ、つつくのは凄く面白い！</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">御長寿オカメさんを育てているので、参考になることばかりです</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">長命なオカメインコの飼育に参考になる事も多くあるので｡</span><span class="info">（空丸みん/女性/50代）</span></li>
        <li><span class="text">オカメインコを飼っているので、見ていて飽きない</span><span class="info">（pigeon/女性/40代）</span></li>
        <li><span class="text">のりのり</span><span class="info">（SiN/女性/10代）</span></li>
        <li><span class="text">見る度にオカメインコが飼いたくなっちゃいます。癒されてます！</span><span class="info">（あるふぁ/女性/10代）</span></li>
        <li><span class="text">高齢なおかめちゃんを大切にされている飼い主さんの優しさに1票❣️</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">とにかくハナちゃんかわいい。かわいいだけでなく、飼育のためになる知識などもあり参考になる。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">情報の説明がわかりやすい。とにかく鳥さんがかわいい。</span><span class="info">（イチ/女性/30代）</span></li>
        <li><span class="text">トントンが可愛い</span><span class="info">（匿名さん/男性/20代）</span></li>
        <li><span class="text">ハナが可愛い</span><span class="info">（チョコ/男性/30代）</span></li>
        <li><span class="text">丁寧にお世話されてる幸せな長生きオカメインコさん</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">はなちゃんが飼い主さんの言葉を理解していつも行動していて、とてもかわいいから。</span><span class="info">（ぺん子/女性/40代）</span></li>
        <li><span class="text">ハナちゃんがとってもかわいいです。</span><span class="info">（まいまいぷー/女性/30代）</span></li>
        <li><span class="text">たのしい</span><span class="info">（m/女性/50代）</span></li>
        <li><span class="text">太鼓叩くインコさんをニヤニヤしながら見てます</span><span class="info">（むぎちゃ/女性/40代）</span></li>
        <li><span class="text">オカメインコと末永く付き合うための情報が丁寧に説明されているところが好きです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">24歳老鳥オカメちゃんを応援しています。自分も15歳オカメの飼い主です。</span><span class="info">（みぃ姐さん/女性/40代）</span></li>
        <li><span class="text">誕生月がおなじの同い年のインコ。かわいい</span><span class="info">（Earl Grey/女性/20代）</span></li>
        <li><span class="text">ひょうきんな動きが好きだから。</span><span class="info">（ぺこ/男性/40代）</span></li>
        <li><span class="text">メタルが好きなので</span><span class="info">（とりのこ/女性/30代）</span></li>
        <li><span class="text">いいちこの箱やタンバリンを叩くのが可愛い！！❤ただ歩いてるだけでも可愛い！！w❤飼い主さんの鳥用品の紹介動画も好きです♪</span><span class="info">（むぅた/女性/20代）</span></li>
        <li><span class="text">可愛い</span><span class="info">（ももいちご/女性/40代）</span></li>
        <li><span class="text">参考になるから</span><span class="info">（モコちゃん/女性/40代）</span></li>
        <li><span class="text">お年寄りなのにいいちこ愛がすごい</span><span class="info">（茶葉/女性/10代）</span></li>
        <li><span class="text">はなちゃん❤️</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">ひたすらかわいい</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">長生きインコちゃんの可能性を感じる</span><span class="info">（うりぼー/女性/20代）</span></li>
        <li><span class="text">オカメインコに興味を持ったきっかけがこの動画だったので</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">太鼓や缶を果てしなくカンカンやってる姿が大好き‼️飼い主さんとの交流が感じられる!</span><span class="info">（リコッコ/女性/40代）</span></li>
        <li><span class="text">とても長寿なオカメインコで何より素敵な飼い主さんで日々癒されております。</span><span class="info">（縷々/女性/30代）</span></li>
        <li><span class="text">一緒に太鼓を叩く姿がとっても可愛い！</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">はなちゃんの可愛さ。大切に育てられているのが分かりホッコリする</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">マンガも楽しみにしてます。何よりご長寿のはなちゃん(いいちこインコさん)が大切に愛されているんだなあ、と感じられます。</span><span class="info">（katy/女性/40代）</span></li>
        <li><span class="text">鳥YouTubeを見るきっかけになったチャンネルです</span><span class="info">（ぷーさん/女性/20代）</span></li>
        <li><span class="text">鳥さんがヘドバンする所</span><span class="info">（Ｍ/女性/40代）</span></li>
        <li><span class="text">お父さん優しくて待っている姿がかわいい</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">おもちゃの太鼓を叩く姿がかわいい。一緒に太鼓を叩きたい</span><span class="info">（うめぴぴ/女性/40代）</span></li>
        <li><span class="text">なによりオカメちゃんの年齢にびっくりしました！とても大切に飼われているのが伝わってきます。行進姿も可愛くて大好きです！</span><span class="info">（泰ちゃんママ/女性/30代）</span></li>
        <li><span class="text">広告が入らない！！！どこのチャンネルも愛情タップリなのは同じです🤗🎵</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ニコニコ動画からのファンです。</span><span class="info">（ねむねむ/女性/50代）</span></li>
        <li><span class="text">かわいい</span><span class="info">（こーこ/女性/10代）</span></li>
        <li><span class="text">オカメインコのはなちゃんと飼い主さんが息ぴったりで、とても大切に育てられてて、かわいいです。病気やごはん飼育法などとても参考になっています。</span><span class="info">（Michiko/女性/60代）</span></li>
        <li><span class="text">はなちゃんと飼い主さんの長年の絆と経験がとても参考になります。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ご長寿さんと楽しく過ごしている様子が伝わってくるから</span><span class="info">（ソラ/女性/40代）</span></li>
        <li><span class="text">いいちこの箱をボコボコするオカメインコが可愛い</span><span class="info">（ニシ/女性/30代）</span></li>
        <li><span class="text">ぽこぽこ叩く姿に癒されます</span><span class="info">（るる/女性/20代）</span></li>
        <li><span class="text">鳥さんの知識も発信されてるから</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">いいちこと写ってるのがなんかツボ</span><span class="info">（コザクラインコのみかん/女性/50代）</span></li>
        <li><span class="text">かわいい</span><span class="info">（匿名さん/女性/70代〜）</span></li>
        <li><span class="text">24歳のはなちゃん、まだまだ元気でいてほしいです。嘴で太鼓のようにたたくところがかわいいです。目が回らないのかな？とすこし心配しながら見てます。</span><span class="info">（ぴよ/女性/50代）</span></li>
        <li><span class="text">コンコン頭を打ち付けるのがかわいい</span><span class="info">（ぺるころ/女性/10代）</span></li>
        <li><span class="text">たいこを叩く姿がかわいい！</span><span class="info">（りんりん/女性/40代）</span></li>
        <li><span class="text">ニコニコ動画にあるボコボコしている動画がすごく面白く、それをきっかけに見始めました。はなちゃんが懸命に生きようとしている姿に、いつも元気をもらっています。チュン太さんとはなちゃん日常風景も、癒されるばかりです。鳥さんたちのいつまでも元気な姿を、願っております。</span><span class="info">（ででぽ/女性/10代）</span></li>
        <li><span class="text">・動きが可愛らしい。・前に飼っていた鳥と同じ色種である。</span><span class="info">（ココ/女性/10代）</span></li>
        <li><span class="text">風格まで感じるハナちゃんが可愛い。</span><span class="info">（なんくる/女性/40代）</span></li>
        <li><span class="text">いいちことオカメインコのハナちゃんという面白い組み合わせで、ノリノリでリズムをとって音を鳴らしたり、はとぽっぽを歌ったりするところがとてもかわいいです。私のお気に入りはピコピコハンマーを真似して叩こうとするハナちゃんの動画です。チュン太くんもとてもかわいいです。昨日(4/15)に上がっていた水浴びの動画を拝見させていただきましたが、この殺伐とした世の中に差す一筋の光のようでとても癒されました。</span><span class="info">（たいちゃん/女性/20代）</span></li>
        <li><span class="text">高齢とは思えぬ芸達者、飼い主さんと太鼓やいいちこを叩く姿が可愛い</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">初めての鳥動画はいいちこインコだったから</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">タイトルがいい。かわいい。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">オカメインコの可愛さがとにかく詰まってる</span><span class="info">（はは/女性/40代）</span></li>
        <li><span class="text">はなちゃんの不思議な世界観が魅力的💓</span><span class="info">（mika/女性/10代）</span></li>
        <li><span class="text">いいちこのパックをトントン上手に叩く姿がかわいらしい！</span><span class="info">（おかもそ/女性/20代）</span></li>
        <li><span class="text">いいちこ叩く動画はときどき無性に見たくなります！</span><span class="info">（あしゅら/女性/20代）</span></li>
        <li><span class="text">ハナちゃんが可愛い</span><span class="info">（なおみん/女性/40代）</span></li>
        <li><span class="text">ニコニコ時代からずっとファンです。可愛いという域を超えた思い入れがあります</span><span class="info">（ぺち/女性/20代）</span></li>
        <li><span class="text">オカメインコを飼っているので、楽しく見させていただいています。仕草が堪らなく可愛くて、ほっこりしています。</span><span class="info">（rain/女性/40代）</span></li>
        <li><span class="text">はなちゃんが可愛いから</span><span class="info">（しん/女性/30代）</span></li>
        <li><span class="text">飼い主さんと一緒に太鼓を賢明にたたいている姿がかわいすぎてみてて癒やされるから</span><span class="info">（ちーちゃんまま/女性/50代）</span></li>
        <li><span class="text">面白い</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">初めてハマった鳥さんYouTube。飼い主さんのお世話が素晴らしく24歳という年齢に驚くと同時に尊敬しています。</span><span class="info">（松華堂弁当/女性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>