﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">新たな出会いがある。もっと鳥を好きになれる素晴らしいチャンネル。</span><span class="info">（どこかの鳥好き/女性/20代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（55件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">スタッフの方達がみんな鳥を大切に愛情を持って育てているショップだと分かり、このショップから鳥をお迎えしたいと思えます。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">普段あまりお目にかかれないオウムやインコの雛を紹介されていたりして参考になります。いつかは来店したい所です。</span><span class="info">（Sii/女性/40代）</span></li>
        <li><span class="text">珍しい鳥を紹介しているので、鳥好きな人は楽しめます</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">鳥の種類も多く自分のお気に入りを見つけられる。</span><span class="info">（りさ/女性/10代）</span></li>
        <li><span class="text">同じ種類でも、それぞれどんな色の子がいるのかが見られるから。</span><span class="info">（みう/女性/40代）</span></li>
        <li><span class="text">えとぴりかはわたしのホーム</span><span class="info">（きいさん/女性/30代）</span></li>
        <li><span class="text">ショップが好き</span><span class="info">（匿名さん/男性/30代）</span></li>
        <li><span class="text">きいさんが店を紹介してて見始めた</span><span class="info">（みぉ/女性/40代）</span></li>
        <li><span class="text">幼いインコが優しいスタッフさんにより育てられ紹介されるので見ていて楽しい</span><span class="info">（ChiKoRi/女性/50代）</span></li>
        <li><span class="text">色々な鳥さんが見られて嬉しいです。</span><span class="info">（トロ/女性/40代）</span></li>
        <li><span class="text">たくさんの鳥達を紹介してくれている</span><span class="info">（とんかな/女性/50代）</span></li>
        <li><span class="text">どの子もかわいい</span><span class="info">（しろこ/女性/20代）</span></li>
        <li><span class="text">色んな鳥がみれる</span><span class="info">（三千代/女性/50代）</span></li>
        <li><span class="text">いつも、色んなとりさんのヒナが紹介されていて癒やされる</span><span class="info">（なりみぃ/女性/30代）</span></li>
        <li><span class="text">スミレコンゴウインコ可愛すぎ</span><span class="info">（トシオ/男性/30代）</span></li>
        <li><span class="text">いつか行ってみたい。</span><span class="info">（腹黒ぼーいず/女性/40代）</span></li>
        <li><span class="text">きいさんオススメのエトピリカですから♪</span><span class="info">（ボンゴレ/男性/30代）</span></li>
        <li><span class="text">きいさんからの紹介で見て、とりさんの事が大好きなスタッフさんがほのぼのしていて良いです。</span><span class="info">（グリーンゲイブルズ/女性/50代）</span></li>
        <li><span class="text">色んな鳥さんが見れて楽しい</span><span class="info">（あっちょ/女性/50代）</span></li>
        <li><span class="text">ためになります</span><span class="info">（あや/女性/40代）</span></li>
        <li><span class="text">いつかお店に行ってみたいと思いつつ拝見しています。</span><span class="info">（ぴぴまる/女性/50代）</span></li>
        <li><span class="text">癒されるから</span><span class="info">（まーーー/女性/30代）</span></li>
        <li><span class="text">いろんなインコさんを詳しく紹介してくれるから</span><span class="info">（らーちゃーん/女性/10代）</span></li>
        <li><span class="text">きいさんがお勧めしてるから</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">色々いる</span><span class="info">（ゆみ/女性/50代）</span></li>
        <li><span class="text">我が子を買ったお店なので！</span><span class="info">（Ri/女性/30代）</span></li>
        <li><span class="text">色々な鳥さんがかわいい</span><span class="info">（しー/女性/30代）</span></li>
        <li><span class="text">珍しい鳥がみれる</span><span class="info">（うめ4/女性/30代）</span></li>
        <li><span class="text">珍しい鳥さんが見れるから</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">いろいろな鳥が見れる。</span><span class="info">（むっちゃん/女性/50代）</span></li>
        <li><span class="text">いろんな鳥さんがみられる</span><span class="info">（ひ/女性/10代）</span></li>
        <li><span class="text">えとぴりかは、うちの子のお里だから</span><span class="info">（みやびです/女性/60代）</span></li>
        <li><span class="text">美しい飼育方法</span><span class="info">（ハニー/女性/50代）</span></li>
        <li><span class="text">お店にいる鳥さんを見れるからです。</span><span class="info">（あーにゃん/女性/30代）</span></li>
        <li><span class="text">えとぴりか名古屋本店にて、この度、カイクーをお迎えしました❗スタッフさんとても優しいですよね～😍</span><span class="info">（琥珀/女性/50代）</span></li>
        <li><span class="text">かわいいから</span><span class="info">（テッキ/女性/50代）</span></li>
        <li><span class="text">いつも見ているから</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">いろいろな鳥が見れる。</span><span class="info">（モコ太郎/女性/40代）</span></li>
        <li><span class="text">大型のインコなど、自宅でなかなか飼えないような鳥の楽しい紹介が良い。</span><span class="info">（やっこ。/男性/40代）</span></li>
        <li><span class="text">えとぴりかで鳥さんをお迎えしたから</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">たくさんの種類の鳥が見られるからです</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">エトピリカのお店に何がいるかわかるから</span><span class="info">（りー/女性/10代）</span></li>
        <li><span class="text">様々な鳥さんに会える</span><span class="info">（ピッチママ/女性/30代）</span></li>
        <li><span class="text">インコ飼うきっかけになったお店です！</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">色んな鳥さんを知ることが出来る</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">いろんな鳥が見れる</span><span class="info">（縁ちゃん/女性/20代）</span></li>
        <li><span class="text">可愛い</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">色々な鳥さんを観れる</span><span class="info">（小鳥遊 優/女性/40代）</span></li>
        <li><span class="text">きいさんの動画を観て知り、たまに観ています。</span><span class="info">（nicoty/女性/50代）</span></li>
        <li><span class="text">沢山、情報発信をしてくれる。おもちゃなど鳥さん商品がいっぱいある。新しい家族に可愛がってもらえるよう、皆さんでしっかりしつけをしている。</span><span class="info">（ぴよま/女性/50代）</span></li>
        <li><span class="text">色んな鳥さんの紹介をしてくれる</span><span class="info">（kerohana/女性/50代）</span></li>
        <li><span class="text">とっても勉強になるし、インコたちの幸せな日常がみれます(*´ω｀*)</span><span class="info">（くろ/女性/10代）</span></li>
        <li><span class="text">きいさんのチャンネルきっかけで、見るようになりました。いつか訪れたいお店です。</span><span class="info">（rain/女性/40代）</span></li>
        <li><span class="text">たくさんの鳥達にいつも癒されています！</span><span class="info">（獣医師YouTuber エキゾチックホッタ/男性/20代）</span></li>
        <li><span class="text">よく、きいさんのチャンネルでえとぴりかのフードが何種類も出てきて、鳥たちの為たくさん考えているところが素敵だと思います。</span><span class="info">（すももこ/女性/20代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>