﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">珍しい鳥を飼っていることもポイントですが、きいさんの人柄が飾らない感じで観ていて嫌な感じがしない。</span><span class="info">（フグママ/女性/40代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（357件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">話が丁寧でわかりやすく鳥への愛情をとても感じる。何よりきいさん自身もかわいい。</span><span class="info">（なのか/女性/20代）</span></li>
        <li><span class="text">レアインコ及び中型インコとのコミュニケーションが参考になりインコ愛がハンパないので共感できる話題や情報が豊富です。</span><span class="info">（ChiKoRi/女性/50代）</span></li>
        <li><span class="text">私の家族は小型インコ4羽です。今まで大型の鳥さんは知識がなかったので、きいさんのチャンネルで楽しさと可愛さを知ることができました。大変な部分も分かりやすく説明してくださるので必ず見させていただいてます。今はシロハラインコをお迎えするか検討中です。そしてきいさんが美人です。最高です(*´-`) </span><span class="info">（やすお/女性/20代）</span></li>
        <li><span class="text">きいさんの動画を見て、うちもシロハラインコ2羽とズグロシロハラをお迎えしました❗とても参考になり、癒されます🤗</span><span class="info">（琥珀/女性/50代）</span></li>
        <li><span class="text">めちゃくちゃ愛を感じるから！</span><span class="info">（山田もも/女性/50代）</span></li>
        <li><span class="text">モモイロインコの魅力をこのチャンネルで知ったから</span><span class="info">（れい/女性/10代）</span></li>
        <li><span class="text">鳥たちがおおくて楽しい</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">にぎやかで楽しい動画ばかりです。どの子も元気いっぱいで目が輝いています。どれも素敵な動画で見ていてとても楽しくなります。</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">大型中型の鳥がたくさん見れる</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">なんなら、きいさん以外知りません（笑）鳥さんが大好きな気持ちが伝わってきます！</span><span class="info">（sakura/女性/20代）</span></li>
        <li><span class="text">鳥が可愛い</span><span class="info">（匿名さん/男性/30代）</span></li>
        <li><span class="text">ムラクモインコのむーちゃんのお父さん好きなところが可愛すぎます。</span><span class="info">（すーる/女性/10代）</span></li>
        <li><span class="text">インコの動く自然な姿が綺麗だし、各地を訪問する企画も面白い。</span><span class="info">（やちま/男性/40代）</span></li>
        <li><span class="text">きいさんが、鳥を愛する気持ちがダイレクトに伝わり素晴らしいと思いました。行動力も凄く尊敬する。鳥たちが個性的で可愛いくて、癒されます。</span><span class="info">（くろたつ/女性/40代）</span></li>
        <li><span class="text">自分では飼うことが難しい鳥さんの事を動画にしてらっしゃるのですごく興味を惹かれて、見始めましたが、鳥さんだけでなくきいさん本人や旦那さんの人柄にもとても惹かれて今ではどハマりしています。いつか中型インコが飼いたくなりました。</span><span class="info">（hshs/女性/20代）</span></li>
        <li><span class="text">鳥愛がひしひしと伝わってくるきいさんの不思議な感じが面白い</span><span class="info">（しれい/女性/10代）</span></li>
        <li><span class="text">きいさんの人柄❗</span><span class="info">（みぉ/女性/40代）</span></li>
        <li><span class="text">鳥さんの可愛い姿が沢山見られる、きいさんのももちゃん、むーちゃん、しーちゃん、はーちゃん、くいちゃんへの愛が見てわかる、鳴き声や特性が伝わりやすい、見ていて楽しい、ショップの鳥さん、鳥カフェの鳥さん、様々な鳥さんと関わっているので見たことのなかった鳥さんの事も知れる。元々好きだった中型～大型インコがさらに好きになりました。ベタ慣れの可愛い鳥さんと、きいさんと鳥さんの相思相愛ぶりを見たい方は見るべし。</span><span class="info">（とあしゃま/女性/20代）</span></li>
        <li><span class="text">お勉強になる</span><span class="info">（ゆめこ/女性/40代）</span></li>
        <li><span class="text">きいさんの鳥への愛情、鳥と一緒の生活がどれ程魅力的で楽しいかがひしひしと伝わってくるチャンネルで、毎日楽しみに見ています。1日のルーティンや、鳥の生活環境の様子、毎日のご飯の内容なども紹介されていて、とても参考になります。このチャンネルのおかげで我が家もズグロシロハラインコをお迎えすることが出来ました。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">中型の鳥さんの魅力がよく分かるチャンネルです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ももいろインコやムラクモインコなど初めて知ったが、こちらのチャンネルで、とてもかわいい鳥 カフェ巡りとかもすきです。</span><span class="info">（ワンタン/女性/40代）</span></li>
        <li><span class="text">たくさんの鳥さんの動画を作っていて鳥が1番というのがすぐわかるほど。知らなかった種類の鳥さんもいて勉強になった。</span><span class="info">（とりおた/女性/10代）</span></li>
        <li><span class="text">こんなに鳥さんのために全てを捧げている人はいるのか？と思うほど鳥さんへの愛情がすごいです。おもちゃやフードの紹介もすごく参考になります。youtubeの収益の一部をTSUBASAに寄付していることも本当にすごいなと思います。なにより、ももむむしーはーくいがかわいい！</span><span class="info">（りー/女性/20代）</span></li>
        <li><span class="text">家で飼われているインコだけでなくお店(えとぴりか)や海外のインコを紹介されたりしつつインコ愛にあふれている素直なところが好きです</span><span class="info">（ポチャコ/女性/50代）</span></li>
        <li><span class="text">鳥さんとご夫婦に癒されます。</span><span class="info">（火星人/女性/10代）</span></li>
        <li><span class="text">高価で、なかなか購入できないインコを何羽も大切に飼育しており、広告収入を鳥の為に役立てる活動もしている。あと野生のキバタンなどに会う為に、ご夫婦で海外に行かれたり、お店やカフェに行かれてる動画も魅力的。</span><span class="info">（まる）</span></li>
        <li><span class="text">シロハラボーイズが可愛い。</span><span class="info">（トロ/女性/40代）</span></li>
        <li><span class="text">鳥を飼った事はないがとても楽しく動画を見れること</span><span class="info">（はるな/女性/10代）</span></li>
        <li><span class="text">シロハラボーイズかわいい！</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">ももちゃんが可愛い( ´,,•ω•,,`)♡</span><span class="info">（きほ/女性/10代）</span></li>
        <li><span class="text">愛情豊かに鳥を育ててるところに惹かれました</span><span class="info">（にゃにゃんこ/女性/50代）</span></li>
        <li><span class="text">5羽の鳥さんとの暮らしや鳥カフェ情報など、見ていて楽しくなり鳥を飼いたくなるようなチャンネルです💛また、ご夫婦の仲の良いところも見どころのひとつかもしれません❣️</span><span class="info">（ぽぽ(もか)/女性/30代）</span></li>
        <li><span class="text">ためになります。</span><span class="info">（まさ/男性/50代）</span></li>
        <li><span class="text">自身の鳥さんだけでなく、えとぴりかなどの鳥情報もみれる、顔を出してくれているというところで親近感がある</span><span class="info">（nonao/男性/40代）</span></li>
        <li><span class="text">癒し・かわいい・ももちゃんすき・毎日見るのが習慣・もっと知ってほしい</span><span class="info">（まいち/女性/20代）</span></li>
        <li><span class="text">愛が溢れてる</span><span class="info">（さながわ/女性/30代）</span></li>
        <li><span class="text">ご夫婦で鳥バカ🎵</span><span class="info">（あや/女性/40代）</span></li>
        <li><span class="text">かならず毎日アップされる</span><span class="info">（たか/女性/40代）</span></li>
        <li><span class="text">きいさんとベタ慣れ鳥さんたちとのやり取りがとにかく見てて楽しいです。鳥さんの可愛さが全面に出ていて愛情たっぷりなきいさんと鳥さんたちとの生活が見てて癒されます。</span><span class="info">（ひまわり/女性/50代）</span></li>
        <li><span class="text">自分もインコを飼っているので、いろいろ参考になる。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ご飯やグッズなど、参考になります。</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">鳥さんが楽しそうですき！鳥さんときいさんのかけあいが楽しい！ももむむしーはーくい全員すき！きいさんだいすき！</span><span class="info">（なおくろ/女性/10代）</span></li>
        <li><span class="text">動画が長くなく、毎日アップロードされているので見やすい。珍しいインコさんを飼育しているも特徴的だから</span><span class="info">（そのへんの草/女性/20代）</span></li>
        <li><span class="text">毎日の投稿・短時間・希少な鳥</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ほのぼのするから</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">わかりやすい</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">おもしろい</span><span class="info">（なな/女性/10代）</span></li>
        <li><span class="text">シロハラボーイスかわいい</span><span class="info">（しろこ/女性/20代）</span></li>
        <li><span class="text">毎日更新されるところ。きいさんの鳥さんへの愛が感じられるから。とにかく、5羽とも可愛い</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">みんな、お利口さんで可愛い</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">鳥４羽+新しいニョオウインコ？がお仲間入りして楽しく育ててる日常が好きで癒されます。</span><span class="info">（ひさ/女性/40代）</span></li>
        <li><span class="text">情報が多く楽しめます</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">鳥と人がとても楽しく信頼し合っている様子が素敵です</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">むーちゃんが可愛い！他の子達もかわいいですが。</span><span class="info">（さわちん/男性/40代）</span></li>
        <li><span class="text">いつも見てます。きいさんの色んな説明など分かりやすく、癒しになってます</span><span class="info">（三千代/女性/50代）</span></li>
        <li><span class="text">シロハラボーイズの芸達者なとこ</span><span class="info">（さとみちゃん/女性/40代）</span></li>
        <li><span class="text">自分らしく、そして、根拠を持って鳥さんと接しているのがよく分かります</span><span class="info">（おもち/男性/20代）</span></li>
        <li><span class="text">知り合いがセキセインコ・ウロコインコを飼っている事がきっかけで、YouTubeで観るようになりました。</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">とりにたいする愛情がよくわかるところ</span><span class="info">（ぷーちゃん/女性/50代）</span></li>
        <li><span class="text">鳥の可愛さだけを紹介する以外にも鳥のデメリットも紹介しているからです。</span><span class="info">（タドゥアナ/男性/10代）</span></li>
        <li><span class="text">きいさんの鳥愛に共感しまくりです</span><span class="info">（まっちゅん/女性/40代）</span></li>
        <li><span class="text">きいさんファミリーが大好きです</span><span class="info">（ロミオ/女性/40代）</span></li>
        <li><span class="text">鳥愛たまらない・きーさんがかわいい</span><span class="info">（なりみぃ/女性/30代）</span></li>
        <li><span class="text">きいさんちの鳥さんたちはみんな活き活きとしていて魅力的！全員の性格もわかって愛着が湧きます。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">きいさんの鳥に対する愛情が動画にあらわれているし、「私には、私の鳥の育て方がある」っていうきいさんの芯の強いところがとても好きです。</span><span class="info">（しょりさん/女性/40代）</span></li>
        <li><span class="text">きいさんの考え方(鳥さんに対してだけじゃなく)全般が大好きです。</span><span class="info">（キキ/女性/40代）</span></li>
        <li><span class="text">沢山のインコちゃんがみられるから</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">女王インコ可愛すぎ❗あと、羨ましい❗</span><span class="info">（トシオ/男性/30代）</span></li>
        <li><span class="text">大型中型インコの事を沢山教えて頂きました</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ももちゃん可愛すぎ❤️</span><span class="info">（ぽこ/女性/30代）</span></li>
        <li><span class="text">人柄が素敵だから。</span><span class="info">（Sachi/女性/30代）</span></li>
        <li><span class="text">ほとんど知らなかったインコ達の事を知る事ができて、見るのが楽しいです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">シロハラインコがかわいいから</span><span class="info">（ぴーちゃん/男性/40代）</span></li>
        <li><span class="text">シロハラちゃんをお迎えしたいと思い見始めましたが、今はいろんな珍しい鳥さんとの触れ合いが楽しくて見ています。</span><span class="info">（kj/男性/40代）</span></li>
        <li><span class="text">毎日UPしてくれてて楽しみにしている</span><span class="info">（くりきん/女性/50代）</span></li>
        <li><span class="text">本気で鳥好きな事が伝わる。</span><span class="info">（kanda100/男性/50代）</span></li>
        <li><span class="text">鳥も人間も可愛い❤️</span><span class="info">（りーやん/女性/50代）</span></li>
        <li><span class="text">鳥ときいさんのお洒落な生活に憧れています。</span><span class="info">（なな/女性/20代）</span></li>
        <li><span class="text">鳥さんについて知る事ができてわかりやすい！ そしていつも見ているから！</span><span class="info">（にこりん/女性/20代）</span></li>
        <li><span class="text">とにかく可愛い鳥さんもきいさんも</span><span class="info">（結城/女性/20代）</span></li>
        <li><span class="text">好きなシロハラボーイズ！きいさんの説明もわかりやすくて、画面がぜんぶ綺麗！</span><span class="info">（悠緋/女性/20代）</span></li>
        <li><span class="text">お出掛け動画が好き</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">かわいい</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">現実的な意見を飾らずに話している事と、鳥たちに愛情を注いでいるのが、鳥の表情から見られるので。</span><span class="info">（あおちゃん/女性/30代）</span></li>
        <li><span class="text">可愛いです。</span><span class="info">（ナナピー/女性/40代）</span></li>
        <li><span class="text">顔出しなので、制限なく鳥の行動が撮れているところ。</span><span class="info">（k1/男性/30代）</span></li>
        <li><span class="text">セキセイインコ2羽のお世話だけでも大変なのに、中型インコを何羽も飼われて尊敬してます</span><span class="info">（YU-KI/女性/40代）</span></li>
        <li><span class="text">初めて鳥と暮らす楽しさ、可愛さを知った。毎日、アップしてくれるので、気になって見てます。</span><span class="info">（ちゃろ/女性/50代）</span></li>
        <li><span class="text">インコとの生活の楽しさを見られるから。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">鳥を良く愛している上に旦那さんの資産力が凄い</span><span class="info">（アセアン/男性/10代）</span></li>
        <li><span class="text">きいさんは毎日投稿されているYouTuberさんで鳥さんの可愛さを伝えてくれる系動画を作っていらっしゃいます。みんながとても可愛く本当に癒されます。たまに登場される相方さんとむーちゃんのラブラブっぷりも最高です。</span><span class="info">（リサ/女性/20代）</span></li>
        <li><span class="text">飼っていらっしゃる鳥さんのキャラクターがユニーク❗ 飼育者のきいさんはもっとユニーク💓</span><span class="info">（。きょっちー/女性/60代）</span></li>
        <li><span class="text">とにかく鳥さん達がママの事大好きなのが伝わってきます。観て鳥に癒されるだけではなく、色んな鳥のお店の情報も得られます</span><span class="info">（SORA/男性/30代）</span></li>
        <li><span class="text">きいさんの鳥さん(お子さん)達への愛情あふれる様子、お世話の様子をみさせてもらえて、ほんとうに楽しく癒されます。そして何より大切に守られ育てられてる鳥さん達がとってもかわいいです！</span><span class="info">（パンコロ/女性/50代）</span></li>
        <li><span class="text">飼いたい子がいてどんな性格なのかなんのおもちゃが好きなのか知ることができる</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">シーチャン、ハーちゃんかわいい💞</span><span class="info">（ちびハルまま/女性/40代）</span></li>
        <li><span class="text">他の鳥ユーチューバーより分かりやすく、見やすい。</span><span class="info">（hagi/女性/30代）</span></li>
        <li><span class="text">毎日楽しみにしています。勉強になります。ずっと続けて欲しいです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">鳥に興味がなかったのですが、きいさんのチャンネルを見て、鳥好きになりました！</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">毎日更新されていて為になる話をしてくれるから</span><span class="info">（ようたん/男性/30代）</span></li>
        <li><span class="text">鳥の可愛さを知った</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">一生懸命が伝わるから。</span><span class="info">（匿名さん/男性）</span></li>
        <li><span class="text">きいさんのYouTubeのおかげで、鳥の魅力を知り、すっかり鳥さん好きになりました。鳥さんにこんなにも個性があって、可愛いとは知りませんでした。友達にも、犬派？猫派？鳥派？と聞くようになりました。</span><span class="info">（くまさん/女性/30代）</span></li>
        <li><span class="text">きいさんの飼っている鳥が 可愛い 癒されるから</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">きいさんと鳥さんの関わりがほっこりする</span><span class="info">（もなこそん/女性/20代）</span></li>
        <li><span class="text">鳥と飼い主の愛が感じられます</span><span class="info">（Dai/男性/30代）</span></li>
        <li><span class="text">きいさんの飾らない動画編集の好感度が高い。鳥について、何の知識もなかった為、この動画を見て驚くことが多く、毎日楽しみに見るようになった。動画の長さもとても良い。</span><span class="info">（まう/女性/50代）</span></li>
        <li><span class="text">自身はムラクモかチャガシラハネナガもいつかお迎えしたいので興味あり。きいさん綺麗でステキ。きいさんが外出動画も出してくれるので、一緒に行った気分になれるし、参考になる。アメリカに住んでいるので、日本の鳥事情がわかる。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">モモイロインコやシロハラインコ、ニョウオウインコ私が飼いたいインコを見せてくれるから。</span><span class="info">（はな/女性/40代）</span></li>
        <li><span class="text">最近見始めたばかりのYouTuberさんですがこちらのチャンネルでニョオウインコという珍しいインコを初めて知りました。飼育されてるインコ以外の鳥さんも紹介してくれるので観ていてとても楽しく参考になります。</span><span class="info">（みちる/女性/40代）</span></li>
        <li><span class="text">鳥愛がとっても伝わる。</span><span class="info">（しなまふぃらてましこむ/女性/40代）</span></li>
        <li><span class="text">たくさん見れる</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">何もかもがすごく参考になる。素晴らしい！鳥ちゃん達の愛がただただすごい！</span><span class="info">（Eri★/女性/20代）</span></li>
        <li><span class="text">毎日投稿は大変な事でしょう！大型インコとの生活、性格の違う子が5羽もいるのに皆んな仲良く楽しく暮らしてる。努力と体力？疲れる事も多いはず。ですが、そんな事を感じさせない溺愛っぷりがすばらしい！鳥たちか大好きだから撮れる場面がきっと沢山ある❣️毎日楽しみで待ち遠しくて困る様になりますよ！ホントありがとう😊</span><span class="info">（ミッチー/女性/40代）</span></li>
        <li><span class="text">色々勉強になるチャンネルなので</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">鳥についての情報を的確に教えてくれて、大型の鳥さんについてよく知れたから</span><span class="info">（イヴ/女性/10代）</span></li>
        <li><span class="text">この人程、鳥を愛してる人は居ないんじゃないのかしら。飼っている鳥(きいさんには失礼な表現かもしれない。)をまるで人間の子どもの様に愛情を注いでいる、しーはーむーももちゃんは世界一幸せだと思う。</span><span class="info">（腹黒ぼーいず/女性/40代）</span></li>
        <li><span class="text">いろんな鳥を知ることが出来る</span><span class="info">（かめきち/女性/50代）</span></li>
        <li><span class="text">いつも観ています！きいさんは本当に素敵なお方です。毎日が癒されます。きいさんの鳥達が可愛すぎる！わかりやすい。</span><span class="info">（ねこ/女性/20代）</span></li>
        <li><span class="text">何となく見てしまう💦</span><span class="info">（くみ/女性/40代）</span></li>
        <li><span class="text">きいさんは、鳥が大好きで常に鳥の事を最優先に考えていらっしゃる方だと思います。愛鳥たちがのびのび遊んでいるのを見ると癒やされます。</span><span class="info">（Sii/女性/40代）</span></li>
        <li><span class="text">新動画を楽しみにしてます。みんな可愛い！</span><span class="info">（いっち/男性/40代）</span></li>
        <li><span class="text">かわいい</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">変わったインコがいて珍しく勉強になります。</span><span class="info">（コザクラインコ キコ 三男坊/女性/50代）</span></li>
        <li><span class="text">自分では飼えない鳥を多頭飼いしていて、鳥飼いの夢を実現している。</span><span class="info">（ぽぷり/女性/50代）</span></li>
        <li><span class="text">最近見始めてハマっている</span><span class="info">（ぴよ/女性/20代）</span></li>
        <li><span class="text">とにかくシロハラボーイズ、モモちゃん、ムーちゃん、クイちゃんが可愛い</span><span class="info">（マシュマシュ/女性/40代）</span></li>
        <li><span class="text">きいさんと鳥達のふれあいが見れて、今まで知らなかった鳥さん達の生態やしぐさなど知ることが出来て楽しいです。鳥さんのグッズや、えさやおもちゃの情報も参考に見ています。</span><span class="info">（まっち/女性/30代）</span></li>
        <li><span class="text">多頭飼いがすごい・仲良し</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">鳥との暮らしをいつか夢見てチャンネル登録してます。</span><span class="info">（kazu1974/女性/40代）</span></li>
        <li><span class="text">きいさんのお喋りが好き。モモイロインコがかわいい。</span><span class="info">（ひなた/女性/40代）</span></li>
        <li><span class="text">ほぼ毎日、適度な尺の動画更新で、見やすく、何よりシロハラさんの魅力があふれでている</span><span class="info">（ボンゴレ/男性/30代）</span></li>
        <li><span class="text">きいさんの自然な様子と鳥さんたちの可愛さに癒されます</span><span class="info">（チップママ/女性/50代）</span></li>
        <li><span class="text">とりさんだけの動画が多い中、飼い主さんが顔出しして鳥さんとの触れ合いの様子が微笑ましいです。</span><span class="info">（グリーンゲイブルズ/女性/50代）</span></li>
        <li><span class="text">鳥たちもきいさんも、可愛くて毎日欠かさず見ています！</span><span class="info">（あっちょ/女性/50代）</span></li>
        <li><span class="text">きいさんの動画をみて鳥さんを知ることができ、好きになったため。</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">顔出しで紹介してくれるから</span><span class="info">（あきこ/女性/40代）</span></li>
        <li><span class="text">シロハラインコのシロハラボーイズ、モモイロインコのモモちゃん、ムラクモインコのムーちゃん、ニョオウインコのクイちゃん、そして美人なきいさん！鳥達に愛情たっぷりで、いろいろなインコを知ることができたから。</span><span class="info">（あやこ/女性/30代）</span></li>
        <li><span class="text">気取ってないし自然な感じが好き</span><span class="info">（ももりんご/女性/40代）</span></li>
        <li><span class="text">きいさんは本当に自然体そのものな感じが観てて気持ちが良く、セキセイ以外のインコにこんなに興味を持ったのはきいさんのお陰です。中型インコや大型インコのことを魅力的に伝えてくれます♪沢山の人達の生活に希望と楽しさを提供していると思います😊</span><span class="info">（ナル/女性/60代）</span></li>
        <li><span class="text">鳥さんを愛してるのが伝わってくるから。</span><span class="info">（白文鳥/女性/30代）</span></li>
        <li><span class="text">中型インコ以上への憧れ</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">私は今まで鳥に興味がなかったのですが、きいさんの動画を見るようになってから、鳥さんが大好きになりました！他の方の動画も見ますが、1番最後にはきいさんの動画に戻ってきてしまいます！笑</span><span class="info">（ゆりゆり/男性/20代）</span></li>
        <li><span class="text">自由に動き回る鳥さんたちが愛らしい</span><span class="info">（かじこ/女性/30代）</span></li>
        <li><span class="text">鳥さんが可愛い。きいさんがキレイ。</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">我が家にもシロハラインコがいるのでためになるので あと兎に角可愛い</span><span class="info">（あや/女性/40代）</span></li>
        <li><span class="text">シロハラ2羽が可愛すぎます。鳥好きになったきっかけの方です。きいさんは話も上手で落ち着いた声なので聞きやすくて好きです。</span><span class="info">（どーなっつへあ/女性/10代）</span></li>
        <li><span class="text">飼い主さんと仲良くて、インコ達の1つ1つの芸が凄いとおもうから。色々とお手本となる。憧れるから。</span><span class="info">（味噌汁/女性/10代）</span></li>
        <li><span class="text">珍しい鳥を見れるから。</span><span class="info">（ノグ/男性/40代）</span></li>
        <li><span class="text">鳥さん達と通じあってる様子が見ていて幸せになれるから</span><span class="info">（ハル/女性/40代）</span></li>
        <li><span class="text">ずっと見てるし、この場を教えてくれたから</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">シロハラインコがとにかく可愛いから</span><span class="info">（キョロちゃん/男性/50代）</span></li>
        <li><span class="text">きいさんときいさんの鳥がかわいい</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">シロハラインコを飼ってるので参考にしてます。とにかくシロハラボーイズが可愛い！</span><span class="info">（ぴぴまる/女性/50代）</span></li>
        <li><span class="text">鳥さんもきいさんも可愛いし、ためになることも答えてくれたりする</span><span class="info">（うめわか/女性/20代）</span></li>
        <li><span class="text">御人柄が良くとても良い方です🤗</span><span class="info">（okame928/男性/40代）</span></li>
        <li><span class="text">憧れだから</span><span class="info">（まーーー/女性/30代）</span></li>
        <li><span class="text">鳥に関してのことを沢山教えてくれるから</span><span class="info">（らーちゃーん/女性/10代）</span></li>
        <li><span class="text">色々教えてくれる</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">うちでは買ってないようなインコを飼っていたり、モーニングルーティンやケージの商品紹介もしてて為になるから。</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">鳥への愛が素晴らしい。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">シロハラインコかわいい</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">毎日更新がある。憧れのインコを飼っている。</span><span class="info">（saa/女性/30代）</span></li>
        <li><span class="text">よく見ます</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">鳥達の愛情たっぷりの動画、編集もお上手で見ていて癒されます。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">話がいい</span><span class="info">（ゆみ/女性/50代）</span></li>
        <li><span class="text">毎日配信</span><span class="info">（ホフ/男性/40代）</span></li>
        <li><span class="text">自分で飼えない品種。 癒される。きいさんが魅力的。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">大型インコを見るもよし！美人なお姉さんを見るもよし！</span><span class="info">（ブリリアント/女性/10代）</span></li>
        <li><span class="text">自分ではお迎えできないけれど大好きな種類のインコちゃん達の姿が見れるから</span><span class="info">（りん/女性/40代）</span></li>
        <li><span class="text">見ていると、幸せな気持ちになる！</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">きいさんの鳥への接し方、考え方がとても好きです。はっきりと自分の考えを言ってくれるのでとても元気が出ます。可愛い鳥さんときれいなお姉さんのチャンネルって感じで大好きです</span><span class="info">（むむ/女性/20代）</span></li>
        <li><span class="text">きいさんの人柄、話し方が好きです。鳥に真摯に向き合って、素直に鳥好きが伝わってくるので、とても見やすいチャンネルだと思います。そして鳥さんたちがめちゃめちゃかわいい。鳥アレルギーのため、お迎えすることはできませんが、勝手に家族のように成長を見守っています。</span><span class="info">（ぽーママ/女性/30代）</span></li>
        <li><span class="text">鳥愛が伝わってくるので</span><span class="info">（キム子/女性/30代）</span></li>
        <li><span class="text">見ていて幸せになるから</span><span class="info">（ゆかこだるまん/女性/30代）</span></li>
        <li><span class="text">珍しい鳥さんばかりで見ていて楽しい✨</span><span class="info">（エンくん/女性/40代）</span></li>
        <li><span class="text">まず、きいさんが凄く鳥が好きで堪らないんだなと感じます。そこが好きです(照)勿論、鳥さんたちも可愛いですが、鳥さんのご飯など、あそこまで鳥さんのことを考えて生活しているきいさんに尊敬の念を抱きました！しーちゃん、はーちゃんのお腹は魅力的な可愛さです(ᐡ⸝⸝- ̫ -⸝⸝ᐡ)♡ももちゃんは綺麗な桃色✨きいさんのことがとても好きなのが伝わってきます。可愛い！♡むーちゃんはぱぱさんが好きなのかな？羽の色が綺麗で素敵♡そして新しくきたくいちゃんも、きいさん家にどのように溶け込んでいくのか楽しみに見ています(*´ω｀*)私も鳥が大大大好きなので、いつもきいさんの動画を見て癒されています♡これからもたのしみにしてます！</span><span class="info">（みるふ/女性/10代）</span></li>
        <li><span class="text">好きだから_:(´ཀ`」∠):_</span><span class="info">（Ri/女性/30代）</span></li>
        <li><span class="text">色々なとりさんがいて可愛い</span><span class="info">（ぷ～た☆彡/女性/50代）</span></li>
        <li><span class="text">初めて鳥系YouTubeで面白かった</span><span class="info">（匿名さん/男性/20代）</span></li>
        <li><span class="text">愛情の深さ</span><span class="info">（ともっコロ/女性/40代）</span></li>
        <li><span class="text">鳥たちが、幸せそうなのと、きいさん美しい。</span><span class="info">（yamachan8/女性/50代）</span></li>
        <li><span class="text">新しい情報が得られるので</span><span class="info">（へとちゃん/女性/50代）</span></li>
        <li><span class="text">鳥さん達のご飯動画 ルーティン動画などが大好きです！ 鳥さん達と心が通じあってるんだなーっと思いながら見ています！かわいい！</span><span class="info">（もも/女性/10代）</span></li>
        <li><span class="text">なかなか飼えない大きめの鳥達がゴージャス。憧れます。</span><span class="info">（ナデシコ/女性/40代）</span></li>
        <li><span class="text">わが家にインコさんをお迎えしてから、とっても参考になったチャンネルさんで、チャンネル主さんの人柄込みで大好きです♪</span><span class="info">（くるくる農園/女性/30代）</span></li>
        <li><span class="text">わたしの憧れのいんこたち。</span><span class="info">（ちいさん/女性/50代）</span></li>
        <li><span class="text">珍しい鳥さんの日常の飼育の様子がみれるので</span><span class="info">（うめ4/女性/30代）</span></li>
        <li><span class="text">更新頻度が高く、細かい情報を提供してくださり、インコとの触れ合い方だったり育て方の参考になるから。</span><span class="info">（あいり/女性/10代）</span></li>
        <li><span class="text">みんなとても可愛くて、鳥への愛が伝わって来るから。</span><span class="info">（piyo/女性/10代）</span></li>
        <li><span class="text">一年以上見てます！きいさんの人柄もすきです。</span><span class="info">（さわのぶすけ/女性/20代）</span></li>
        <li><span class="text">鳥と真剣に向き合っている</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ももちゃん、むーちゃん、しーちゃん、はーちゃん、くいちゃん、みんな可愛い。鳥さんの良さがとてもよくわかる！同じ動画でも毎日見ていられます。飽きません。元々好きだったのに、もっともっと鳥さんが好きになりました。良いところ、難しいところ、色々知れます。</span><span class="info">（とあしゃま/女性/20代）</span></li>
        <li><span class="text">親しみやすい</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">鳥に対する愛情が半端ない。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">羨ましい。インコの種類も、ゲージも良いものを与えられる環境。</span><span class="info">（えいたま。/女性/30代）</span></li>
        <li><span class="text">自分とは縁が無いと思っていた中型、大型インコの事を色々と知る事ができるから。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">興味のある中型インコのことが知れる。きいさんが楽しそうにインコと生活していて私も見習いたいと思う。</span><span class="info">（ちーこ/女性/40代）</span></li>
        <li><span class="text">きいさんが素敵！</span><span class="info">（モコ太郎/女性/40代）</span></li>
        <li><span class="text">きいさんのブイログが分かりやすい</span><span class="info">（まきまき/女性/40代）</span></li>
        <li><span class="text">詳しく説明してくれる</span><span class="info">（ひ/女性/10代）</span></li>
        <li><span class="text">シロハラボーイズ（しろみとはらみ）が大好きです。ムラクモのむむのすけ、ももいろのもものすけ、そして新入り女王くいのすけ、そしてパパさんの7人家族です。お話はしないけど、きいさんとのやりとりが愛らしく大好きなチャンネルです！</span><span class="info">（なーとむさしの日常/女性/30代）</span></li>
        <li><span class="text">シロハラインコの可愛さをきいさんから教えてもらいました🤣</span><span class="info">（ひまちゃん♡/女性/50代）</span></li>
        <li><span class="text">憧れ</span><span class="info">（とんつ/女性/50代）</span></li>
        <li><span class="text">とりさん中心の自然体のきいさんがいい。</span><span class="info">（さななん/女性/40代）</span></li>
        <li><span class="text">癒されます。又、きいさんが有名になる前から見ています。たくさん鳥を飼われているのに清潔感があり見ていて嫌になりません。インコ達はどの子も個性があり素敵です。たまに鳥専門店の動画や鳥紹介もしているので鳥購入を考えてる方や癒されたい方にはとても参考になります。</span><span class="info">（ももchannel/女性/20代）</span></li>
        <li><span class="text">鳥が幸せそう</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">インコ愛がにじみ出てます</span><span class="info">（ピピココ/男性/40代）</span></li>
        <li><span class="text">ももちゃんむーちゃんしーちゃんはーちゃんくいちゃんみんな可愛い😍色んな鳥さんとかご飯を紹介してくれてるので勉強になります</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">同じモモイロインコを飼っているし、説明やゲージなどが素晴らしいから✌️</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">自分の家では飼えないような、珍しい鳥を見れる</span><span class="info">（プリンの匂い/女性/40代）</span></li>
        <li><span class="text">きいさんの説明がわかりやすい。</span><span class="info">（あお きい まる ママ/男性/40代）</span></li>
        <li><span class="text">鳥への愛情が感じられる</span><span class="info">（あおい/女性/20代）</span></li>
        <li><span class="text">鳥さん愛に溢れていて、ほっこり優しい気持ちにさせてくれるチャンネルだからです♪</span><span class="info">（salut0307/女性/40代）</span></li>
        <li><span class="text">中型・大型インコをお迎えするにはまだ覚悟と色々な準備がいるため、勉強させてもらってます。そしてどの子もとても可愛らしい！</span><span class="info">（とりこ/女性/30代）</span></li>
        <li><span class="text">きいさんの鳥への愛がとても溢れている</span><span class="info">（りさ/女性/10代）</span></li>
        <li><span class="text">楽しい、鳥たちが幸せ</span><span class="info">（ハニー/女性/50代）</span></li>
        <li><span class="text">はっきりしている。たのしい</span><span class="info">（ぴのこ/女性/30代）</span></li>
        <li><span class="text">鳥愛</span><span class="info">（ももりん/女性/20代）</span></li>
        <li><span class="text">鳥への愛を深めるきっかけになったから。5羽みんな個性があって愛らしいから。</span><span class="info">（ふわふわ/女性/10代）</span></li>
        <li><span class="text">我が子として 鳥さん達を育ててるとこ。</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">インコ愛がすごい</span><span class="info">（ykshibata/男性/50代）</span></li>
        <li><span class="text">分かりやすいからです！</span><span class="info">（ゆにこん/女性/40代）</span></li>
        <li><span class="text">きいさんの鳥との触れ合いが好き</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">いつも拝見しています。私はいま、ヒメウズラ飼っています。私もモモイロインコほしいけど、父反対！</span><span class="info">（ヒメウズラ/女性/20代）</span></li>
        <li><span class="text">いずれお迎えしたいなと思っているモモイロインコ、シロハラインコのYouTuberさんだからです。</span><span class="info">（あーにゃん/女性/30代）</span></li>
        <li><span class="text">鳥さん系youtuber で珍しい、顔出しをしていらっしゃるのがとてもいいと思いました！きいさんと珍しい鳥さんたちの元気いっぱいな姿を見るのが毎日の楽しみです❤️</span><span class="info">（ai._.ri/女性/10代）</span></li>
        <li><span class="text">綺麗な飼い主が堂々と歯切れよく日常の鳥たちの様子を紹介してくれる。</span><span class="info">（COO/女性/50代）</span></li>
        <li><span class="text">きいさんが、オウムのお世話の仕方を教えてくれているから。</span><span class="info">（じゅんちゃん/女性/30代）</span></li>
        <li><span class="text">丁寧に話していて聞きやすい事や、鳥に対してとても大切に1羽ずつ愛情を注いでいる事が動画から伝わってきて、見ていてとても楽しく、鳥さんたちの可愛らしい姿を見れて幸せになれるチャンネルだからです。</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">可愛いから</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">毎日頑張ってるから。</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">色々参考にさせて貰ってる</span><span class="info">（はるか/女性/20代）</span></li>
        <li><span class="text">きいさんと鳥さん達との可愛いい絡みがたまらない。</span><span class="info">（HERO/男性/40代）</span></li>
        <li><span class="text">他のチャンネルにはあまり出ていない鳥さんたちでかわいい</span><span class="info">（いさ/女性/10代）</span></li>
        <li><span class="text">鳥たちが可愛い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ももちゃん、シロハラボーイズ、むーちゃん、くいちゃん、色々なとりさんたちに癒されます。</span><span class="info">（こっこまり。/女性/50代）</span></li>
        <li><span class="text">鳥への愛情が伝わってきて好感持てる。映像が綺麗。説明も丁寧。もっと伸びるべき!</span><span class="info">（どこかの鳥好き/女性/20代）</span></li>
        <li><span class="text">顔出ししてやってる所が凄いと思うから</span><span class="info">（ai umi/女性/40代）</span></li>
        <li><span class="text">飼育設備がしっかりしてて参考になる</span><span class="info">（とっしー/男性/50代）</span></li>
        <li><span class="text">買う機会のない大きめな鳥との日々が見れて楽しい</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">インコの愛し方を日々提案されている方</span><span class="info">（ポンあきインコ/男性/40代）</span></li>
        <li><span class="text">シロハラボーイズが可愛い</span><span class="info">（しーよも/男性/50代）</span></li>
        <li><span class="text">インコの飼い主としての心構えや、インコ愛を拝見できる。</span><span class="info">（ポンあきインコ/男性/40代）</span></li>
        <li><span class="text">きいさんファミリーが、どんどん増えて賑やかになっていく！！</span><span class="info">（レモンぴぃ/女性/40代）</span></li>
        <li><span class="text">鳥たちのことを凄く愛してるとこや毎日YouTubeにアップするので。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">たくさんの鳥さんが出演するので、こんな子もいるんだな〜と癒されながら見させてもらってます。</span><span class="info">（あーむ/女性/20代）</span></li>
        <li><span class="text">鳥に対する愛が凄いからです。最近ではニョオウインコをお迎えされていて、更に大変だろうなって思います。</span><span class="info">（るふれ/女性/10代）</span></li>
        <li><span class="text">憧れの大型インコがよく慣れている</span><span class="info">（Earl Grey/女性/20代）</span></li>
        <li><span class="text">中型インコが可愛い</span><span class="info">（とりのこ/女性/30代）</span></li>
        <li><span class="text">とにかく鳥さん。なんか失礼ですが、なかなか高価な鳥を複数飼っていて立派なケージ、、凄いです。</span><span class="info">（tomo/女性/30代）</span></li>
        <li><span class="text">鳥さんのご飯紹介が好きです。人の都合に合わせることなく、ここまで鳥さん優先出来るんだ、と尊敬です。</span><span class="info">（しの/女性/40代）</span></li>
        <li><span class="text">インコを飼いたいと思ってYouTubeで検索したらきいさんのYouTubeチャンネルが出てきました。YouTubeを拝見したら、可愛い鳥たちのことやえとぴりかの商品のことやナイトルーティンなど様々な動画を投稿していて動画を見るのが日課になりました。</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">シロハラボーイが可愛い！きいさんも大好きです。</span><span class="info">（rey/女性/60代）</span></li>
        <li><span class="text">いつも見ているから</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">ためになる情報がたくさんで、あまり見かけない鳥さんもいっぱい登場するので！</span><span class="info">（ごん/女性/20代）</span></li>
        <li><span class="text">初めて鳥さんYouTubeを観たのが、きいさん のチャンネルでした。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">知っているチャンネルのため</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">きいさんのおかげてモモイロインコが大好きになりました！</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">自分が飼えないような珍しい鳥をたくさん紹介してくれる。</span><span class="info">（やっこ。/男性/40代）</span></li>
        <li><span class="text">とても分かりやすい。大好きです。</span><span class="info">（にゃ/女性/20代）</span></li>
        <li><span class="text">春じまさん好きですが最近おやすみですね、そんな時にきいさんチャンネルを見つけました。「とりさんファースト」感スゴい。私はシナモンのオカメインコちゃん６年前に保護して育てています、きいさんにオカメインコの可愛さも知ってほしい。療養中に飼い始め私自身オカメちゃん に救われました。</span><span class="info">（ぴょい/女性/60代）</span></li>
        <li><span class="text">トークが聞き取りやすく、鳥の魅力を重視した編集が好きです。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">鳥さんへの愛が特に伝わる</span><span class="info">（涼風/女性/10代）</span></li>
        <li><span class="text">いつも見ているから。えとぴりかで見つけて3ヶ月くらいお迎えしようか迷っていたインコがきいさんのYoutubeに出ていて「このままだと他の人に取られてしまう!?」と勝手に焦りお迎えの踏ん切りがついたから</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">とにかく鳥について沢山お話をしてくれる。鳥への愛情が感じられる❗</span><span class="info">（リコッコ/女性/40代）</span></li>
        <li><span class="text">ヨウムが好きで、その特集を数回に渡って投稿されていたのをキッカケに注目しました！店舗さんとの連携で沢山の鳥とのコミュニケーションを知れて勉強にもなる、とても有意義なチャンネルだと感じますので一票！</span><span class="info">（鳥と暮らしたい人/男性/20代）</span></li>
        <li><span class="text">飼ってみたい鳥さんを飼っているのと色々な鳥さんを紹介してくれたりするので、勉強になる。</span><span class="info">（小鳥ちゃん大好き14羽のムツゴロウ王国/女性/40代）</span></li>
        <li><span class="text">鳥に対する愛が凄いwでも、女王インコ飼ったりえとぴりかのゲージをいくつも使っていたり、お金持ちかーという私の妬み(笑)から２番手になりました。</span><span class="info">（fumizuki/女性/30代）</span></li>
        <li><span class="text">鳥への愛の深さが半端なくて見ていて楽しいです</span><span class="info">（ぷーさん/女性/20代）</span></li>
        <li><span class="text">様々な種類のインコを飼われていて、愛情溢れる飼育に好感がもてます。現実的で飾らないトークも大好きです～。</span><span class="info">（くみっきー/女性/40代）</span></li>
        <li><span class="text">鳥さんたちにとても優しくて色々な説明もしてくれて勉強になります</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">面白いから。</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">勉強になる。</span><span class="info">（J3/男性/30代）</span></li>
        <li><span class="text">とても面白い</span><span class="info">（ひろたん/女性/20代）</span></li>
        <li><span class="text">きいさん達と遊ぶ姿やお話してる姿がすごく楽しそうで癒されます。そして、今後、鳥さんをお迎えしたいので参考にしてます。</span><span class="info">（なな/女性/20代）</span></li>
        <li><span class="text">観ていて色々と鳥について勉強になる</span><span class="info">（さくらい/女性/40代）</span></li>
        <li><span class="text">普段の、ルーティーンが出ていて良いから</span><span class="info">（りー/女性/10代）</span></li>
        <li><span class="text">色鮮やかな鳥が綺麗</span><span class="info">（かずー/男性/20代）</span></li>
        <li><span class="text">しろはらボーイズが大好き</span><span class="info">（ピッチママ/女性/30代）</span></li>
        <li><span class="text">きいさん本人の言葉遣いや仕草がとても綺麗でこちらの人間力も上がる気がする。</span><span class="info">（てぃ/女性/30代）</span></li>
        <li><span class="text">いつも、鳥さん達ときいさんに癒されてます！！</span><span class="info">（みぃき/女性/20代）</span></li>
        <li><span class="text">いつも、詳しく中型インコの事などを教えてくれるからです！</span><span class="info">（リッチェル/女性/10代）</span></li>
        <li><span class="text">動画が見やすい。「飼い主ではなくママでいたい」という思いを尊敬する。</span><span class="info">（こーさん/女性/30代）</span></li>
        <li><span class="text">鳥との生活のヒントや気付きがある。あと、羨ましい！</span><span class="info">（コザクラインコのみかん/女性/50代）</span></li>
        <li><span class="text">とにかく鳥さんたちがかわいい。飼い主であるきいさん、ご主人さんの鳥さん愛が沢山みれます。ルーティンやアドバイスなども丁寧で勉強になります。きいさんの考え方も素敵です。</span><span class="info">（まるまる/女性/30代）</span></li>
        <li><span class="text">きいさんの鳥さん達に対する愛がすごく伝わってきて、鳥飼いである自分も参考になる事が多いので。</span><span class="info">（くーちゃん/女性/40代）</span></li>
        <li><span class="text">きいさんが美人。きいさんに癒される。色々なインコが出てきて可愛い。飼育などためになる。</span><span class="info">（アナコンダ/女性/20代）</span></li>
        <li><span class="text">映像が見やすくご本人の人柄も拝見できるので</span><span class="info">（縁ちゃん/女性/20代）</span></li>
        <li><span class="text">たくさん飼ってるけど、どの鳥とも上手に付き合えている</span><span class="info">（カロン/女性/50代）</span></li>
        <li><span class="text">可愛い</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">芸の教え方が勉強になる</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">中型･大型インコが沢山いてかわいい</span><span class="info">（インコ大好きJK/女性/10代）</span></li>
        <li><span class="text">穏やかだから。</span><span class="info">（y/女性/50代）</span></li>
        <li><span class="text">鳥への愛がすごく感じたから。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">鳥に対する接し方に好感が持て、多種の鳥を飼育しておりそれぞれの個性も興味深くて楽しい。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">シロハラボーイズがかわいい！</span><span class="info">（み～やん/女性/30代）</span></li>
        <li><span class="text">鳥への愛情が半端ない!</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">飼い主さんの愛が深いところ</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">きいさんと鳥たちの自然な姿が楽しいです！</span><span class="info">（ともざえもん/女性/40代）</span></li>
        <li><span class="text">鳥さんを愛してるのが伝わってくる</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">このチャンネルをら見てシロハラインコをお迎えしました。見ていて、勉強になります！</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">5羽の鳥さん達が凄く可愛くて魅力的です。そして、きいさんがとても素敵な方なので大ファンになりました。パートナーの方も優しくて素晴らしい人柄で見守っていらっしゃる姿が癒されます。</span><span class="info">（ポチ子/女性/40代）</span></li>
        <li><span class="text">鳥への愛情が伝わります。又、どの鳥さんも個性豊かで癒されます。鳥を複数飼っているのに清潔感があり見ていて嫌にならない。</span><span class="info">（sikwmmk/女性/20代）</span></li>
        <li><span class="text">かわいい鳥たちに癒されるから。</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">高価なインコは自分では育てられないのできいさんの動画で疑似体験出来ていいですね。鳥達みんなかわいいです。</span><span class="info">（栗子/女性/40代）</span></li>
        <li><span class="text">シロハラボーイズがとても好きでほぼ毎日、癒されてます✨くいちゃんの今後の成長も楽しみにしてます！</span><span class="info">（くぼやん/女性/20代）</span></li>
        <li><span class="text">いままで、鳥に特に興味はなかったのですが、きいさんのチャンネルに出会って、すっかり虜になってしまいました。鳥は、こんなにも感情豊かで表情があり、無邪気に遊んだりやきもち焼いたりと猫や犬と変わらない魅力があるんだと初めて知りました！それと、きいさんが鳥たちとお話ししてるところも大好きです。グッズもカラフルでとても可愛いアイテムが多く、その紹介動画も楽しくみています。</span><span class="info">（キャンティ/女性/30代）</span></li>
        <li><span class="text">インコがよく懐いている</span><span class="info">（masa/男性/50代）</span></li>
        <li><span class="text">可愛いインコちゃん達の姿と鳥優先で鳥たちを愛する夫婦の姿に癒されています！</span><span class="info">（りんりん/女性/40代）</span></li>
        <li><span class="text">視聴者に媚びない揺るぎない空気と鳥との距離感</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">インコ達との日常を毎日投稿してる。グッズやゲージ、ペレットのこだわりはまさに愛情いっぱいで、鳥親バカのあるあるを凝縮したチャンネルです。</span><span class="info">（まめたろうぱぱ/男性/40代）</span></li>
        <li><span class="text">きいさんと鳥との絆が深いのが見てて伝わる</span><span class="info">（みゆう/女性/10代）</span></li>
        <li><span class="text">きいさんの飾らないお人柄と幸せな鳥たちを見るのが毎日の楽しみです</span><span class="info">（はは/女性/40代）</span></li>
        <li><span class="text">鳥達への愛が溢れている。鳥さんの魅力が良く分かるように撮られてると思います。きいさん達がしっかり登場されていて、自信をもって質問に答えたり、日常を映しておられるので、信頼でき、好感がもてます。</span><span class="info">（ゆきまめ/女性/40代）</span></li>
        <li><span class="text">きいさんの動画で癒されてます。特に元気いっぱいのシロハラボーイズがかわいいですね。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ご夫婦で鳥を可愛がる姿が素敵だから。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">編集も上手だし更新頻度が高い。なによりきいさんの鳥への愛情がすごい</span><span class="info">（ゆか/女性/30代）</span></li>
        <li><span class="text">ももいろインコを飼っているからです！</span><span class="info">（ちゃあ藍/女性/50代）</span></li>
        <li><span class="text">スキだから</span><span class="info">（P/女性/40代）</span></li>
        <li><span class="text">鳥の情報を知れるのでタメになる</span><span class="info">（aibaちゃん/女性/30代）</span></li>
        <li><span class="text">モモちゃん·ムーちゃん·しーちゃん·はーちゃん·くーちゃん皆可愛いです。きいさんもとても美人さんです。今は毎日拝見しています。私は昨年の今頃まで鳥類は怖かったのですが、たまたまYouTubeできいさんのチャンネルを拝見してからインコやオウムも種類は限りますがとても好きになりました。本当に感謝しています。特に好きなのはキバタン·シロハラです。初めて投票させていただきました。ありがとうございました。</span><span class="info">（nicoty/女性/50代）</span></li>
        <li><span class="text">鳥のフード紹介など、為になる事を分かりやすくお話してくれていて勉強になる！シロハラボーイズ、ももちゃん、むーちゃん、くいのすけみんな可愛いです♥たまに出てくるリサちゃんも楽しみです</span><span class="info">（mika/女性/10代）</span></li>
        <li><span class="text">飼い主と鳥との仲の良さと、ペットに対する愛情が見ていて楽しいし癒されるから。色んな鳥のことが知れる。</span><span class="info">（りつこ/女性/20代）</span></li>
        <li><span class="text">お金をかけてる感じがすごいな〜と思いながら、鳥さん達を我が子のように可愛がる様子をいつも楽しく観ています。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">画質に拘り、きれいな画像で鳥さん達を大切に家族として捉えているところが素敵です。また、きいさんご自身の考えが定まっていて、批判などがあってもブレないところが好きです。</span><span class="info">（DION/女性/50代）</span></li>
        <li><span class="text">とても可愛くてほのぼのしている。たのしい。</span><span class="info">（みほ/女性/50代）</span></li>
        <li><span class="text">きいさんのYouTubeをたまたま見つけてから、毎日きいさんのYouTubeを見るのが日課になりました。知らなかった鳥の種類も、きいさんの動画を通して知ることができて、毎日鳥を飼っているような気分で楽しみに見ています。</span><span class="info">（ピート/女性/30代）</span></li>
        <li><span class="text">鳥と人間きいさんが、同僚のように会話するところ。</span><span class="info">（にゃんすけ/女性/50代）</span></li>
        <li><span class="text">鳥をたくさん飼っていることを自慢していない。芯がある。</span><span class="info">（♡/女性/10代）</span></li>
        <li><span class="text">毎日、アップされている。きいさんの鳥さんへの愛のすごさが伝わる。親しみやすい人柄。ご主人様も鳥さんへの愛が止まらない。鳥好きへのお店の情報紹介がありがたい。</span><span class="info">（ぴよま/女性/50代）</span></li>
        <li><span class="text">シロハラボーイズが芸達者でかわいい</span><span class="info">（けん/男性/40代）</span></li>
        <li><span class="text">初めて見て興味を持ったYouTuberさんだから!!そしてうちの鳥たちもきいさんの口笛を真似するから!!</span><span class="info">（ととたろう/女性/10代）</span></li>
        <li><span class="text">きいさんは色々なインコさんがいて、とくにシロハラボーイズの二羽がとてもかわいい。</span><span class="info">（なお/女性/40代）</span></li>
        <li><span class="text">飼っている鳥が多いのに一羽一羽のお世話をしていて凄いなぁと思うし勉強になる</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">シロハラボーイズや、ももちゃん、むーちゃん、クイちゃんなど、大型/中型インコの生態がとにかくわかりやすい！みんなとってもかわいくておりこうさん。テロップなども少なめで鳥に集中できる！インコたちときいさんのよさがすべて詰まってる動画です!!!!!!!</span><span class="info">（くろ/女性/10代）</span></li>
        <li><span class="text">鳥さん達の自然な姿やご家族の暖かさが伝わる</span><span class="info">（Nefertiti/女性/40代）</span></li>
        <li><span class="text">シロハラボーイズが可愛すぎる。</span><span class="info">（鳥好きOL/女性/20代）</span></li>
        <li><span class="text">いろいろなインコを飼っていてうらやましい！</span><span class="info">（セロナ/男性/50代）</span></li>
        <li><span class="text">豪華な鳥たちに会える点です。</span><span class="info">（みっちゃん/女性/70代〜）</span></li>
        <li><span class="text">日常がいいね</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">大きなインコさんを飼いたくなるぐらいに面白いし、癒されてます。</span><span class="info">（ぽんず/女性/50代）</span></li>
        <li><span class="text">シロハラインコとニョオウインコが可愛いから。</span><span class="info">（なおみん/女性/40代）</span></li>
        <li><span class="text">見ていてとても癒される</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">参考になる</span><span class="info">（匿名さん/10代）</span></li>
        <li><span class="text">インコの飼い方レクチャー版として利用してます。木工作家さんも教えてもらいました。</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">私は羽衣セキセイインコを飼っているのですが、大型インコにも興味があって♪でも、家の都合上、お迎えが厳しいのできぃさんのYouTubeを見て楽しませてもらっています。鳥さんたちのしぐさや視線がほんとにかわいらしいです。普段の鳥さんとの生活なども挙げられているため、もしいつかお迎えすることがあった時にも役立つと思いました。これからも応援しています！</span><span class="info">（ひないちご/女性/20代）</span></li>
        <li><span class="text">たくさんの大型インコを知るきっかけになりました。きいさんの解説も楽しく見させていただいてます。</span><span class="info">（rain/女性/40代）</span></li>
        <li><span class="text">シロハラインコ初めて知ったのがきいさんのチャンネルでした。シロハラインコって、こんなに愉快で可愛い！そしてなによりきいさんが美人(*´ω｀*)</span><span class="info">（マヒメ/女性/40代）</span></li>
        <li><span class="text">鳥のことが明瞭でわかりやすい</span><span class="info">（江戸の鷹/男性/50代）</span></li>
        <li><span class="text">鳥達への愛が素晴らしくて、いつも癒されています！YouTubeコラボもさせて頂いたことのあるお友達です！</span><span class="info">（獣医師YouTuber エキゾチックホッタ/男性/20代）</span></li>
        <li><span class="text">たくさんの鳥たちとの日常や鳥情報が聞けていつも楽しませてもらってます。</span><span class="info">（syokopy/女性/40代）</span></li>
        <li><span class="text">モモイロインコが、可愛い</span><span class="info">（ままま/女性/20代）</span></li>
        <li><span class="text">きいさんがモモ、しー、はー、むむ、くいちゃん（＋パパ）を慈しんでいる様を見るのも幸せだし、その生活のほんの一部を私達も少し体験させてもらってるようで、心安らぐチャンネルです。自分は鳥に詳しくはなかったのですが、道端でハトを保護してから鳥に興味が湧いて、モモちゃんを見てモモイロインコにぞっこんになりました。いつかきいさんたちみたいに一緒に楽しく生活できたらなぁと思っています。</span><span class="info">（すももこ/女性/20代）</span></li>
        <li><span class="text">シロハラボーイズが可愛い。ほのぼのする。</span><span class="info">（きんちゃん/女性/50代）</span></li>
        <li><span class="text">飼い主のきいさんのコメント付きで、色々説明してくれるのが良いです。</span><span class="info">（匿名さん/女性/30代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>