﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">きみちゃんとはるちゃんの大変可愛らしい動画に毎回癒されます。バードトレーニングの様子をみて、インコちゃんたちは飼い主次第でとても賢く生活が出来るんだな、と尊敬します。</span><span class="info">（ちび助/女性/20代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（2件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">きみちゃんはとっても器用だと思います。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">仲良しのコザクラとセキセイの姿に癒される。</span><span class="info">（かのん０３１６/女性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>