﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">3羽の鳥が個性的でかわいい！動画も魅力があるが、製作者も魅力的でスター性がある。一度観たら病みつきです。</span><span class="info">（かのん０３１６/女性/40代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（110件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">鳥さんを可愛がってる様子や編集が本当に素敵。飼い主さんも可愛らしい感じ。テーマ曲があっている。涙出そうになる。</span><span class="info">（ちこちこ/女性/50代）</span></li>
        <li><span class="text">毎日、セキセイインコ、オカメインコ、メキシココガネインコ、キャバリア犬、ハムスターの楽しいチャンネル。様々な視点から紹介してくださるのでママさんとお友達感覚で見られて楽しいし癒されます。</span><span class="info">（すみっこばらぐらし/女性/50代）</span></li>
        <li><span class="text">個性が様々な鳥さんたちの見事な調和が奇跡的！わんこたちとの調和や鳥さんたちへの許容も本当に奇跡的でそれをみてるとかあちゃんの偉大さを感じずにいられません！</span><span class="info">（ゆきかぜ/女性/50代）</span></li>
        <li><span class="text">ぴーちゃんとかーちゃんの会話が成り立ってるのが凄い。ぴーちゃんのお喋りが面白い。笑える。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">セキセイインコの飼い方、インコ、小鳥を飼う前にという動画がとても為になります。</span><span class="info">（あちゅん/女性/20代）</span></li>
        <li><span class="text">飼い主さんの鳥や犬の可愛がりかたが幸せそう。羽根を切らない場合のインコの様子も参考に。</span><span class="info">（やちま/男性/40代）</span></li>
        <li><span class="text">ピーちゃんのお話やエマちゃんの仕草やレオちゃんの賢さ</span><span class="info">（まゆちゃん/女性/50代）</span></li>
        <li><span class="text">ワンちゃん 鳥さん達 と過ごせてうらやましい限りです。ピーちゃん可愛いです🙋</span><span class="info">（はみたん/女性/50代）</span></li>
        <li><span class="text">フォローしてます</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">ぴーちゃん、エマちゃん、レオくんそれぞれが可愛くて、そして自由さがとても面白いです。</span><span class="info">（ぴめい/女性/50代）</span></li>
        <li><span class="text">毎日配信しているので、定期的にチキンカツ観ています。</span><span class="info">（まさ/男性/50代）</span></li>
        <li><span class="text">インコだけではなく犬やハムスターその他の情報も配信しているから</span><span class="info">（ぴあ/女性/30代）</span></li>
        <li><span class="text">コガネメキシコインコが可愛い</span><span class="info">（きょうさん/男性/10代）</span></li>
        <li><span class="text">とにかくインコ達のお喋りや歌、しぐさが凄いくて芸達者</span><span class="info">（かず/女性/50代）</span></li>
        <li><span class="text">レオちゃんは襟元に入って飼い主の行動を見てたり、ピーちゃんのお喋りとエマちゃんのお歌この3人それぞれの言動が可愛すぎる‼️</span><span class="info">（masamin/女性/50代）</span></li>
        <li><span class="text">インコ以外のお話上手なお姉さんも魅力です</span><span class="info">（くりきん/女性/50代）</span></li>
        <li><span class="text">鳥さんたちが可愛い！</span><span class="info">（にこりん/女性/20代）</span></li>
        <li><span class="text">犬とハムスターも居て、鳥と他の動物との絡みが面白い。</span><span class="info">（k1/男性/30代）</span></li>
        <li><span class="text">とにかく明るい鳥さん達がわちゃわちゃしてる姿に癒されます</span><span class="info">（SORA/男性/30代）</span></li>
        <li><span class="text">毎日、鳥達と犬達と楽しそう。楽しみにしています。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">昔飼っていたインコにそっくりだった。</span><span class="info">（きよっぴー/女性/50代）</span></li>
        <li><span class="text">かぁちゃんが可愛い。コガネメキシコインコが可愛い。</span><span class="info">（はな/女性/40代）</span></li>
        <li><span class="text">私自身も鳥だけではなく多頭飼いしてるので共感できる</span><span class="info">（しなまふぃらてましこむ/女性/40代）</span></li>
        <li><span class="text">何種類ものインコさん達とワンちゃんも居て…賑やかなお家でいつも楽しませてもらっています。</span><span class="info">（やっちゃん/女性/50代）</span></li>
        <li><span class="text">飼い主さんの接し方や愛情が伺え、ほのぼのした感じで見られる。</span><span class="info">（ぽぷり/女性/50代）</span></li>
        <li><span class="text">ピーちゃんとエマちゃんが可愛いから</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">売れ残りの子をお迎えして大切にしているから</span><span class="info">（あきこ/女性/40代）</span></li>
        <li><span class="text">ピーちゃんをお迎えされた頃から拝見させて頂いてます。ママさんのおっとり感と、とりさんたちとの接し方も仲良しのお友達っていう感じがとても好きです。ママさんと同じ年齢？というのもあってか、とても親近感が湧きます(〃ω〃)</span><span class="info">（うまのほっぺ/女性/40代）</span></li>
        <li><span class="text">動画投稿で色々と工夫が見られ努力されてる様子を感じるから。</span><span class="info">（かじこ/女性/30代）</span></li>
        <li><span class="text">毎日楽しく見れるし、鳥以外の動画もアップされているから。</span><span class="info">（ノグ/男性/40代）</span></li>
        <li><span class="text">ある意味動物園！犬も鳥もハムスターも！でも、みんな平等に接してて、種を超えた仲良しも。コガネメキシコインコが放鳥前にフンすることを覚えたり、ハウスしたり、犬もちゃんと言うこと聞いて賢い。かぁちゃんの話し方、振る舞い、そしてお家を見て、かなり余裕のある生活されているのが伝わる。憧れの暮らし。</span><span class="info">（りん@/女性/30代）</span></li>
        <li><span class="text">犬とインコ達が可愛い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">癒し</span><span class="info">（パルタン星人/女性/30代）</span></li>
        <li><span class="text">ペットを大切にしている姿勢に共感する。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">なんか、わちゃわちゃ感がいい！</span><span class="info">（ぷ～た☆彡/女性/50代）</span></li>
        <li><span class="text">鳥さん達の可愛さが伝わる。</span><span class="info">（yamachan8/女性/50代）</span></li>
        <li><span class="text">ママさんの声に癒されます♪♪そして、コメントのお返事も優しくして下さいます♪鳥さんだけでなく、ワンコさんやハムちゃんもお迎えされているので、多種多頭飼育のわが家の参考になります♪</span><span class="info">（くるくる農園/女性/30代）</span></li>
        <li><span class="text">コガネメキシコインコがかわいい</span><span class="info">（うめ4/女性/30代）</span></li>
        <li><span class="text">犬と鳥のふれあいが愛らしい。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ヒトの子がいない選択肢もあるよね。という見本のような。賑やかで楽しい</span><span class="info">（えいたま。/女性/30代）</span></li>
        <li><span class="text">犬も鳥もかわいいから</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">なんとなく見るから</span><span class="info">（みやびです/女性/60代）</span></li>
        <li><span class="text">鳥さん以外にもワンちゃんもいて、賑やか。</span><span class="info">（あお きい まる ママ/男性/40代）</span></li>
        <li><span class="text">オカメインコのエマちゃんが好き。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">楽しい</span><span class="info">（ぴのこ/女性/30代）</span></li>
        <li><span class="text">色々なインコとの日常を見せてくれているから。</span><span class="info">（じゅんちゃん/女性/30代）</span></li>
        <li><span class="text">可愛いから</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">インコと犬とハムちゃんの動物大家族が楽しいし、母ちゃんも可愛いから</span><span class="info">（あーりん☆/女性/40代）</span></li>
        <li><span class="text">とりおばさんが好き</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">多種飼いが羨ましい</span><span class="info">（やまこ/女性/40代）</span></li>
        <li><span class="text">鳥と犬にまるで我が子のように愛情を注いでいるのが心振るわされる</span><span class="info">（えむちゃん/女性/40代）</span></li>
        <li><span class="text">オカメインコのエマちゃんがとても可愛いです。ご自宅が豪華！</span><span class="info">（りょうぶ/女性/30代）</span></li>
        <li><span class="text">セキセイインコのピーちゃんに、毎日、癒されています。おしゃべりが上手で、お調子者でかわいくて、優しく大好きです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">自分もオカメインコを飼ってるため。参考になる動画もある</span><span class="info">（はるか/女性/20代）</span></li>
        <li><span class="text">3羽の鳥さんがとにかく可愛いです。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">とても癒されます。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">鳥だけでなく犬や花やピアノ、他にもいろいろ興味深い映像がある</span><span class="info">（まる優/女性/50代）</span></li>
        <li><span class="text">犬と仲良しな鳥たちがかわいい</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">かわいいから</span><span class="info">（himecoco/女性/40代）</span></li>
        <li><span class="text">編集が上手で楽しい</span><span class="info">（しほ/女性/40代）</span></li>
        <li><span class="text">ママさんもぴーちゃんも、エマちゃんも、レオちゃんも、皆を見守っている優しいアンポンタンちゃんも、姫のルナちゃんも、皆大好きなパパさんもまるっと可愛い💕💕💕ママさんパパさんの皆への愛情が伝わってきて、癒されます。</span><span class="info">（ぴぴたん/女性/40代）</span></li>
        <li><span class="text">かわいいとりさんがいる</span><span class="info">（さくらとおちゃま/女性/40代）</span></li>
        <li><span class="text">エマ、ぴーちゃん、レオ可愛い</span><span class="info">（匿名さん/男性/20代）</span></li>
        <li><span class="text">エマが可愛い</span><span class="info">（チョコ/男性/30代）</span></li>
        <li><span class="text">鳥とワンコの生活に興味が、湧くから</span><span class="info">（ai umi/女性/40代）</span></li>
        <li><span class="text">飼い主さん。鳥愛情半端ない💗鳥さん。のびのび暮らせてます。見ていて幸せ気分になります😊</span><span class="info">（フラットコーテッド/女性/40代）</span></li>
        <li><span class="text">多種多頭飼いのにぎやかさ</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">エマちゃんが面白い</span><span class="info">（とっしー/男性/50代）</span></li>
        <li><span class="text">エマちゃん大好き</span><span class="info">（コロン/女性/40代）</span></li>
        <li><span class="text">セキセイインコのぴーちゃんのお喋りが人間的で楽しい♪多頭飼いをとても楽しんでいらっしゃる様子がほのぼのして見ていて癒されます。</span><span class="info">（ナウシカ/女性/40代）</span></li>
        <li><span class="text">いつも楽しく見ています。鳥さんたちへの愛情がひしひしと伝わってくる動画です</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">ぴーちゃんが可愛い</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">インコ（オカメ、セキセイ、コガネメキシコ）3羽とワンちゃん（キャバリア）3匹の動画をほとんど毎日アップしてくれる母ちゃんがカワイイ。またそのBGMや動画編集もなかなか凝ってて、毎日観てても飽きないですよ。</span><span class="info">（t.yazawa/男性/60代）</span></li>
        <li><span class="text">鳥さんたちとっても癒されます！わたしは初めてインコをお迎えする前に、きゃぴあてれびの動画、たくさん見させていただき、勉強させてもらいました！でも、一番好きなのは鳥さんたちのかーちゃんです！とってもキレイな方で鳥さんたちにとっても優しくて愛情いっぱいなのが伝わってきます。わたしもこんな人になりたいって憧れています。</span><span class="info">（あーむ/女性/20代）</span></li>
        <li><span class="text">鳥さん同士のやりとりが面白い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ぴーちゃんがかわいい</span><span class="info">（ぽぽ/女性/50代）</span></li>
        <li><span class="text">セキセイのぴーちゃん、オカメのエマちゃん、コガネメキシコのレオちゃん、キャバリエのあんぽんたんにハムスターと大家族の可愛らしさを色々な角度から紹介してる楽しいママさんのチャンネル。思わず笑顔がこぼれる😊</span><span class="info">（ちょえー人！/女性/50代）</span></li>
        <li><span class="text">可愛らしい姿に癒されます</span><span class="info">（ナナコ/女性/40代）</span></li>
        <li><span class="text">みんな個性があって可愛いです。編集をきちんとされているので、癒されたり面白かったり、毎日同じ時間に投稿されているので、ついつい見に行ってしまいます。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">飼い主のかあちゃんが可愛いです。表情豊かなインコのピーちゃんに驚かされます。</span><span class="info">（しの/女性/40代）</span></li>
        <li><span class="text">犬とインコとハムスターの日常がかわいく癒されます💕</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">エマちゃんのファンです。</span><span class="info">（rey/女性/60代）</span></li>
        <li><span class="text">かーちゃんの声が優しくて好き。鳥に対しての愛が伝わってくる。鳥達も自由にのびのびと楽しんでいる感じ。</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">コガネメキシコインコちゃんを見たくて！</span><span class="info">（ごん/女性/20代）</span></li>
        <li><span class="text">犬が鳥と仲良くしてることに驚きました。飼い主さんが私と同年代で、親近感がわいてます。</span><span class="info">（たれみみ/女性/40代）</span></li>
        <li><span class="text">セキセイのぴーちゃんが、賢くてとても可愛いです。飼い主さんが、鼻炎なのか鼻水すすってる事があり、それさえ無ければもっと見やすいかな。</span><span class="info">（みずき/女性/50代）</span></li>
        <li><span class="text">賑やかな鳥さんや犬さんへの愛情表現が好き</span><span class="info">（Ibee/女性/50代）</span></li>
        <li><span class="text">エマちゃんがかわいい</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ケージの事や、日々の楽しい出来事を見れる。</span><span class="info">（やっこ。/男性/40代）</span></li>
        <li><span class="text">キャバリエやインコ達への愛を感じます。人柄の良さも伝わってきて癒されます。</span><span class="info">（わきち/女性/40代）</span></li>
        <li><span class="text">わんこもかわいい！飼い主もかわいい！</span><span class="info">（ルリビ/女性/50代）</span></li>
        <li><span class="text">エマちゃんが飼い主さんに呼ばれながらポーズを決めてめっちゃ可愛いです。コアラに恋するエマちゃんも可愛いです。レオくんの甘えん坊な所もぴーちゃんの一言でエマちゃんとレオくんが喧嘩をやめるところも凄いと思います。</span><span class="info">（縷々/女性/30代）</span></li>
        <li><span class="text">ワンちゃんやハムスターも登場してくるので飽きません！飼い主さんの広い心に感銘しました。</span><span class="info">（くみっきー/女性/40代）</span></li>
        <li><span class="text">皆が仲良しで微笑ましくて、いつもまた会いたくなってしまう。</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">コメントをしたら、具体的に、どうしたら良いか返してくれるから</span><span class="info">（りー/女性/10代）</span></li>
        <li><span class="text">ぴーちゃんの宇宙人みたいなおしゃべりが可愛い！</span><span class="info">（ミッキーワッキー/男性/40代）</span></li>
        <li><span class="text">きゃぴあTVさんの飼い主さんは鳥３羽、犬３匹と鳥だけでなくキャバリア犬の日常がとても和み好きです。売れ残りの小鳥達を救出されて、オカメインコのエマちゃんが、飛べるようになったり、歌を歌ったり、メキシコインコのレオちゃんがべたべたに懐いている様子、またセキセイインコのピーちゃんのお喋りなどなど可愛いくて好きです。</span><span class="info">（ハリーママ８８/女性/50代）</span></li>
        <li><span class="text">鳥たちの自由な飼い方が好き！</span><span class="info">（ルルペコ/女性/50代）</span></li>
        <li><span class="text">インコだけでなく、犬もたくさんいて、動画の中からもしっかりお世話しているのが伝わってくるから</span><span class="info">（Lily/女性/20代）</span></li>
        <li><span class="text">鳥へのかーちゃんの話し方が可愛い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">コガネメキシコが見れるからです！</span><span class="info">（ちゃあ藍/女性/50代）</span></li>
        <li><span class="text">コメントするとお忙しいのにお返事してくれて勝手に親近感わいちゃいます。やっぱり、かーちゃんの話し声大好き！</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">犬も飼ってるのが同じ！</span><span class="info">（セロナ/男性/50代）</span></li>
        <li><span class="text">インコ達の会話が癒される</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">可愛い</span><span class="info">（匿名さん/10代）</span></li>
        <li><span class="text">動画から飼い主さんの優しさと、鳥さん達の可愛さが伝わってくる。</span><span class="info">（りらっち/女性/40代）</span></li>
        <li><span class="text">鳥さん、ハムスター、ワンちゃんたちの大家族と綺麗な主さんが楽しそうな毎日で羨ましくなるチャンネルです。</span><span class="info">（komugi/女性/50代）</span></li>
        <li><span class="text">ぴーちゃん、エマちゃん、レオちゃん、3種違う鳥さんを、飼っているのですが、みんな、楽しく過ごしています。いつも、楽しませてもらってます。</span><span class="info">（きょん太郎/女性/50代）</span></li>
        <li><span class="text">鳥を飼育していて気になることをよく動画で説明してくれています！</span><span class="info">（獣医師YouTuber エキゾチックホッタ/男性/20代）</span></li>
        <li><span class="text">コガネメキシコやセキセイ、オカメインコと、色々な種類の鳥をとても愛しているとわかるから</span><span class="info">（momo7/女性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>