﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">可愛い声でのお喋りや歌が上手、まるで人みたいにママさんとお話してたり、アップ数は少ないけど大好きなチャンネルです。</span><span class="info">（すみっこばらぐらし/女性/50代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（15件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">くぅちゃんの中にちーさいおじさんが入ってる</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">くぅちゃんの人間味が好き</span><span class="info">（hito3/男性/50代）</span></li>
        <li><span class="text">歌を歌うくぅちゃんが可愛い。見やすい長さがいい。</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">ぽんちゃん、くぅちゃんがお利口でホンワカします。短時間なのも好感がもてます！</span><span class="info">（とんつ/女性/50代）</span></li>
        <li><span class="text">字幕が読みやすい</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">動画が凝ってて面白い、くうちゃんが色々話すのが可愛い</span><span class="info">（さやちゃむ/女性/20代）</span></li>
        <li><span class="text">くうちゃんの歌声が可愛い❤ ぽんちゃんクール🎵</span><span class="info">（匿名さん/女性/70代〜）</span></li>
        <li><span class="text">かわいい、面白い</span><span class="info">（m/女性/50代）</span></li>
        <li><span class="text">中に人がいる説を持つくーちゃんと弟分のぽんちゃんの可愛い姿を見るのが癒し🍀</span><span class="info">（ちょえー人！/女性/50代）</span></li>
        <li><span class="text">インコを愛する気持ちがほのぼの伝わってきて、繰り返し見てしまう動画が多いです</span><span class="info">（みけ/女性/50代）</span></li>
        <li><span class="text">くうちゃんのおしゃべりが上手</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">とにかくくうちゃんがかわいいし、絶対中の人いるはず！ぽんちゃんも仲間入りして、ますます楽しいちゃんねるです。もっと皆さんに知られてほしい。</span><span class="info">（ごんのすけ/女性/40代）</span></li>
        <li><span class="text">くぅちゃんのお話が可愛くて可愛くてしかも面白くって大好きです 1番好きかもです</span><span class="info">（かよこ/女性/30代）</span></li>
        <li><span class="text">くぅちゃんの滑舌の良さと歌がうまい！あとちょっとの間に見られる動画の長さです！</span><span class="info">（みー/女性/40代）</span></li>
        <li><span class="text">くぅちゃんが人間らしい</span><span class="info">（Ｋ/女性/30代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>