﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">セキセイとアキクサルビノーを飼われていて、可愛い。自身はアキクサルビノーをいつか飼いたいので参考にもなる。</span><span class="info">（匿名さん/女性/40代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（2件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">アキクサインコがたくさん出てきて可愛すぎる(≧∀≦)チャンネル自体は5年前からあるが、最近更新頻度が増えてきて、少しずつ動画のクオリティも上がってきている気がする。のんびり日常癒し系と役立ち系の要素もたまにある。あとサムネもかわいい♪ヽ(*´∀`)ﾉ</span><span class="info">（ももももも/女性/30代）</span></li>
        <li><span class="text">かわいい 癒される</span><span class="info">（匿名さん/女性/30代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>