﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">保護鳥さんたちの癒しの放鳥動画は何度もみています。そして、鳥専門店のお仕事の様子も、何度も見てます。専門的なさし餌の事やペレット移行の動画もあります。爪切りも参考になりました♪専門科目さんならではのチャンネルさんです♪</span><span class="info">（くるくる農園/女性/30代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（2件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">青森から仙台にあるとりっぴーまで買いに行くくらい好き。ためになる。ロボット掃除機も従業員として扱うところが大好き。</span><span class="info">（さななん/女性/40代）</span></li>
        <li><span class="text">爪切りなどはここまでなんだ！すごくわかりやすくてかわいい。</span><span class="info">（くろ/女性/10代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>