﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">他のインコ動画にはない面白さと、ひーちゃんとはくの可愛さを際立たせる編集なので、ひーちゃんとはく、飼い主さんを応援したくなります。</span><span class="info">（ひーちゃん/女性/30代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（49件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">優しくてちょっとおっとり（おっ鳥）気味のひーちゃん、元気いっぱい好奇心旺盛のはくちゃんがかわいくてかわいくて。飼い主さんの映像のスピード感があって面白いです。</span><span class="info">（ビトー/女性/40代）</span></li>
        <li><span class="text">鳥達との何気ない日常が実はとてもありがたくて尊いものだということに気づかせてくれるチャンネルだと思っています。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">妻の尻に敷かれる夫婦のようなやり取りがたまりません。おっとりひーちゃんと勝ち気なハク。いいコンビです。ハクちゃん、こんな美セキセイさんみたことないです‼️</span><span class="info">（オレッち/女性/50代）</span></li>
        <li><span class="text">鳥中心のストーリーが見ていて楽しい</span><span class="info">（Dai/男性/30代）</span></li>
        <li><span class="text">編集おもしろい</span><span class="info">（れもん/女性/40代）</span></li>
        <li><span class="text">サムネがとっても可愛い</span><span class="info">（とりすきー/女性/20代）</span></li>
        <li><span class="text">ハクが強いところ</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">うちで飼ってる2匹に性格が似てるから</span><span class="info">（ピノママ/女性/30代）</span></li>
        <li><span class="text">鳥たちの社会が面白い</span><span class="info">（たか/女性/40代）</span></li>
        <li><span class="text">編集が好き</span><span class="info">（まっちゅん/女性/40代）</span></li>
        <li><span class="text">とにかくひーちゃんハクちゃん可愛い。二羽を見ていると小さな頭で考えて一緒に生活しているんだなぁと改めて感じることができます。甘えたり譲ったり優しくしたり。お友達のピノ君らん君もいて幸せそうです。</span><span class="info">（ラムネ/女性/40代）</span></li>
        <li><span class="text">季節によって集まっているし可愛らしいから</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">2羽の追いかけっこが微笑ましい。</span><span class="info">（きよっぴー/女性/50代）</span></li>
        <li><span class="text">ひーはくがあそんでいるところがかわいいから</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">ひーちゃんとはく、二羽の掛け合いが、人間の兄弟のような関係に見える。二羽とも表情や行動が分かりやすく、見ていて楽しい。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ひーちゃんとはく（セキセイインコ）のやり取りがすっごく面白いから</span><span class="info">（らーちゃーん/女性/10代）</span></li>
        <li><span class="text">動画が、美しい</span><span class="info">（yamachan8/女性/50代）</span></li>
        <li><span class="text">ひーちゃんとはくの動きに合わせた効果音が楽しいです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ひーちゃんの優しいとこ、はくちゃんのマイペースなとこ、かわいくてたまらん。</span><span class="info">（ごんのすけ/女性/40代）</span></li>
        <li><span class="text">ひーちゃんのしっぽふみふみ大好き、可愛い、笑える</span><span class="info">（しの/女性/50代）</span></li>
        <li><span class="text">ひーちゃん、はくちゃんがかわいいから</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">優しいひーちゃんとツンデレなはくちゃんのコンビが最高！お友達のピノくん、ランくんも面白い！</span><span class="info">（あーりん☆/女性/40代）</span></li>
        <li><span class="text">ひーちゃんが、かわいい。はくちゃんが一途にひーちゃんを、ずっと追いかけているところ。四角関係が、ほのぼの。</span><span class="info">（ケロ/女性/40代）</span></li>
        <li><span class="text">二羽のやりとりも可愛い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ひーはくの関係がかわいい。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ひーちゃんハクちゃんが、可愛い💕編集がとても良いと思います😊</span><span class="info">（ハク チャピ ピノ/女性/40代）</span></li>
        <li><span class="text">2羽の恋の行方が…</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">こはくちゃん喋りや音真似が上手</span><span class="info">（なんなんなんなし/男性/20代）</span></li>
        <li><span class="text">２羽のやりとりが楽しい微笑ましい</span><span class="info">（まる優/女性/50代）</span></li>
        <li><span class="text">インコ達の心の動きと関係性を、ここまでわかりやすく伝えてくれて感動しています。</span><span class="info">（月朱/女性/50代）</span></li>
        <li><span class="text">ひーちゃんとはくちゃんの仲のよさ羨ましい</span><span class="info">（とーもーさん/女性/50代）</span></li>
        <li><span class="text">二羽がかわいい</span><span class="info">（さくらとおちゃま/女性/40代）</span></li>
        <li><span class="text">ひーちゃんの優しさと包容力、ハクの気高いイメージのわりにひーちゃんの真似事ばかりして追いかける気の強い子分具合がたまらない。</span><span class="info">（☆AHKO☆/女性/40代）</span></li>
        <li><span class="text">可愛い❗</span><span class="info">（ユウ/女性/40代）</span></li>
        <li><span class="text">ほのぼのします♪♪家も複数で飼っているので、他のおうちはどんなかな？と思って見ています。綺麗な色なインコなのでたまに見に行ってます。</span><span class="info">（える/女性/30代）</span></li>
        <li><span class="text">可愛い</span><span class="info">（リルママ/女性/50代）</span></li>
        <li><span class="text">効果音も楽しい。時々、お仲間さんのインコちゃん達と合流して遊ぶ様子も面白い。</span><span class="info">（だんごむし/女性/50代）</span></li>
        <li><span class="text">興味ある内容の動画。沢山育てていて尊敬する。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ひーちゃんがやさしくて、はくちゃんがツンデレで、とてもいいコンビで癒されます。</span><span class="info">（キキちゃん大好き/女性/40代）</span></li>
        <li><span class="text">セキセイインコのコミカルさを編集や言葉で更に楽しくしてる所が好きです。</span><span class="info">（ふみ/女性/40代）</span></li>
        <li><span class="text">BANされてしまったけど、ツンデレの''はく''と思いやりのある''ひー''ちゃんのこれからが楽しみないいチャンネルでした。復活して欲しいNO1チャンネルです。</span><span class="info">（クミホ/女性/30代）</span></li>
        <li><span class="text">ひーはくちゃんが可愛くて、編集が面白いからです☆</span><span class="info">（ゆいん/女性/20代）</span></li>
        <li><span class="text">ひーちゃんとはくの行動が見てて可愛い。自分の家にセキセイインコがたくさんいるからついつい見てしまう。</span><span class="info">（小鳥ちゃん大好き14羽のムツゴロウ王国/女性/40代）</span></li>
        <li><span class="text">ひーちゃんがとても優しくてはくちゃんのツンデレなところが可愛い💕</span><span class="info">（ビヨちゃん/女性/40代）</span></li>
        <li><span class="text">可愛い！！</span><span class="info">（まるみ/女性/50代）</span></li>
        <li><span class="text">ひーちゃんが優しくて、ほっこりします。</span><span class="info">（カロン/女性/50代）</span></li>
        <li><span class="text">はくちゃんのツンデレが可愛いです。</span><span class="info">（まりっぷ/女性/50代）</span></li>
        <li><span class="text">飼い主さんの愛を感じます。</span><span class="info">（かこ/女性/40代）</span></li>
        <li><span class="text">2羽の関係が楽しい</span><span class="info">（匿名さん/女性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>