﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">うめちゃんの天才ぶりに脱帽です。相棒のゴマちゃんのおっとりした仕草もかわいいです。インコのオモチャや食事の紹介もあり、参考になります。</span><span class="info">（オレッち/女性/50代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（427件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">編集が素晴らしい！そして、うめちゃんのおしゃべりがとても上手！動画の仕上がりに飼い主さんの深い愛情を感じます。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">鳥をただ可愛がっているだけでなく、鳥の健康について出来る限りの配慮をしながら、鳥の気持ちに寄り添った飼育をされているところがとても好感が持てます。</span><span class="info">（まる/女性/50代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりが、もう人間ですか？！ってほどで、何時間でも見ていられます。</span><span class="info">（キキちゃん大好き/女性/40代）</span></li>
        <li><span class="text">インコ好きなら必ず観ていると思います。餌やオモチャ全てにおいて参考にさせて頂いてます。</span><span class="info">（はるちゃんママ/女性/40代）</span></li>
        <li><span class="text">飼い主様の鳥への愛が伝わってくるチャンネルです。飼う時の参考にもしたい。</span><span class="info">（まるまる/女性/30代）</span></li>
        <li><span class="text">うちのインコもおしゃべり上手なので</span><span class="info">（はる/女性/50代）</span></li>
        <li><span class="text">めちゃくちゃ愛を感じるから！</span><span class="info">（山田もも/女性/50代）</span></li>
        <li><span class="text">多分ダントツの知名度ではないかと。鳥好き以外の人でも知ってる人多いです。抜群に編集が上手く、見飽きないです。</span><span class="info">（くまえ/女性/50代）</span></li>
        <li><span class="text">インコの世話の仕方がためになる</span><span class="info">（おこ/男性/40代）</span></li>
        <li><span class="text">うめちゃんもごまちゃんもすごく愛されていることが伝わってきます。愛情にあふれる動画ばかりです。インコの賢いところやちょっとマヌケなところ、可愛いところなど見ているだけで癒やされます。</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">タイトルコールとおしゃべりが可愛い</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">本当に飼い主さんの愛が素晴らしい！</span><span class="info">（おさかなママ/女性/40代）</span></li>
        <li><span class="text">とにかくうめちやん可愛い</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">鳥目線の生活感があふれていて楽しいから。自分がセキセイインコを飼っていて、のちにウロコインコをお迎えしようと考えていた際に、放鳥とかどうしてるのかなど参考にさせていただいた。</span><span class="info">（みう/女性/40代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりが楽しいので。</span><span class="info">（ふみなつ/女性/40代）</span></li>
        <li><span class="text">可愛く編集されている</span><span class="info">（ぽこ/女性/10代）</span></li>
        <li><span class="text">しゃべるインコは可愛い</span><span class="info">（なのか/女性/20代）</span></li>
        <li><span class="text">うめごまぶりゃざーず、の訛りが好きです。</span><span class="info">（バントット・マイマイ・ピヨ/男性/40代）</span></li>
        <li><span class="text">うめちゃん、ごまちゃん可愛すぎます。</span><span class="info">（よちゃく/女性/50代）</span></li>
        <li><span class="text">ぴんふさんの優しいお人柄がとてもよく出ていて、楽しいチャンネルです。うめちゃんもとてもおしゃべりが上手で、うまく楽しく表現されていると思います。ごまちゃんもとても魅力的で可愛らしい鳥さんです。また鳥さん達の事を真剣に考えて、常に勉強し、鳥さん達に良い食べ物やおもちゃや生活を考えていらっしゃっていて、それを発信して私達に教えて下さるので、とても勉強なります。</span><span class="info">（ぷらむ/女性/50代）</span></li>
        <li><span class="text">インコのおもちゃやおやつの工夫や、交流の楽しさが伝わってくる</span><span class="info">（やちま/男性/40代）</span></li>
        <li><span class="text">動画から鳥さんへの愛が非常に伝わってきます。楽しく心あったまる動画から、非常に勉強になる動画、涙なしでは見られない動画など、鳥を飼われる前後関わらず、知らない人にお勧めしたいYouTuberさんです。</span><span class="info">（hshs/女性/20代）</span></li>
        <li><span class="text">うめちゃんがとてもおしゃべりが上手で感心しながら見ています！</span><span class="info">（みこ/女性/50代）</span></li>
        <li><span class="text">とても丁寧なお世話で、見てて勉強になる。うめちゃん、ごまちゃんの面白いところをもっと面白くする編集で、とにかく面白い！</span><span class="info">（しれい/女性/10代）</span></li>
        <li><span class="text">可愛さ♥️</span><span class="info">（みぉ/女性/40代）</span></li>
        <li><span class="text">小学生の甥っ子もぴんふさんのチャンネルにハマっています。笑いあり涙ありで見応えがあります。時には試行錯誤しながらも、うめちゃんやごまちゃんに対して愛情を注いでいるところが良いです。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">新しい事や物に対して二人の向き合い方の違いとか（種類の違いもあるかも）凄く楽しんでて良いなと思います。</span><span class="info">（藍夜/女性/60代）</span></li>
        <li><span class="text">うめのお喋りが面白い！</span><span class="info">（miwacci/女性/40代）</span></li>
        <li><span class="text">ウロコインコのまったり感が好き</span><span class="info">（ゆめこ/女性/40代）</span></li>
        <li><span class="text">手作りのおもちゃや餌の配合など、ためになる情報の多さ。とにかく感心することばかり！</span><span class="info">（みなっつ/女性/30代）</span></li>
        <li><span class="text">とにかく可愛い！あんな上手に小鳥を育てられて凄いと思いますので！</span><span class="info">（花/女性/40代）</span></li>
        <li><span class="text">可愛いうめちゃん、ごまちゃんはもちろん飼い主のぴんふさんのお人柄、うめゴマブラザーズへの愛情が溢れてて同じ鳥飼いとして見習いたい事がいっぱいです。</span><span class="info">（koyomiっち🐦/女性/40代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりや、ごまちゃんとのふれあいがとても楽しいです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">飼い主さんの鳥さんへの愛情が凄く伝わり、かつサクちゃんが可愛い！大好きです！</span><span class="info">（ぼん/女性/40代）</span></li>
        <li><span class="text">おしゃべりが上手で面白い！飼い主のぴんふさんの愛情も素敵！</span><span class="info">（ふじっこ/女性/40代）</span></li>
        <li><span class="text">飼い主様 本当に勉強になる事ばかりです。うめちゃん ゴマちゃん パセリちゃん大好きです🙋</span><span class="info">（はみたん/女性/50代）</span></li>
        <li><span class="text">うめちゃんとごまちゃんが可愛いし動画もとても楽しいです</span><span class="info">（おじょう/女性/50代）</span></li>
        <li><span class="text">うめのおしゃべりが上手 ごまも可愛い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">うめちゃんのペットボトルのキャップ遊びが可愛いです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">フォローしてます</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">いつも癒されています</span><span class="info">（サクママ/女性/40代）</span></li>
        <li><span class="text">コザクラインコのパセリちゃんの時から、インコちゃんの発情や病気について乗り越える為の試行錯誤している様子が動画を見ていて、こちらも大変勉強になります。ただ可愛いだけの動画であれば沢山あります。パセリちゃんの件があり、今飼われているうめちゃんとごまちゃんの食事管理や体調管理をより徹底されてます。発情しない為の食事についての動画は私も真似させていただきました。</span><span class="info">（ちび助/女性/20代）</span></li>
        <li><span class="text">ぴんぷさんの鳥の気持ちになっての飼育いつも感心します</span><span class="info">（pikachu_redcheeks/女性/50代）</span></li>
        <li><span class="text">飼い主さんの鳥さんへの愛情がとても伝わる</span><span class="info">（とりすきー/女性/20代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりとごまちゃんの仕草に癒されてます。そしてぴんふさんの鳥飼い情報がとても役に立ってます。</span><span class="info">（ぴめい/女性/50代）</span></li>
        <li><span class="text">鳥を飼う事についての考え方が学べる</span><span class="info">（kaoriん/女性/50代）</span></li>
        <li><span class="text">とにかくかわいい、セキセイインコのうめちゃん。おしゃべりも楽しい。飼い主さんが鳥さんたちのために作ってあげているおもちゃも参考になる。</span><span class="info">（ぴーちくぱーちぴー/女性/50代）</span></li>
        <li><span class="text">うめちゃんゴマちゃん可愛すぎw</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">楽しい場面だけでなく、病気の様子も見られて参考になる。「苦楽を共に」とはこのことだ。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">とりさんへの愛情。編集ダントツに好き</span><span class="info">（ななまま/女性/40代）</span></li>
        <li><span class="text">何年も前から見ていてコザクラとセキセイとウロコと自分の好きなインコだから｡</span><span class="info">（とりおた/女性/10代）</span></li>
        <li><span class="text">ウメちゃんのお喋りが可愛いし面白い！</span><span class="info">（あやか/女性/10代）</span></li>
        <li><span class="text">鳥さんと暮らす上で参考になることがたくさん！</span><span class="info">（火星人/女性/10代）</span></li>
        <li><span class="text">2羽がすごく丁寧に飼われていて飼育方法も参考になる。飼い主さんがいい人。うめちゃんのおしゃべりが好き。</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">同じセキセイを飼っていて、最初に与えるオモチャ選びの参考にさせてもらった。それ以外にも他界したコザクラインコさんでの苦労や、病気になった時の投薬動画、爪切り動画など、ただ可愛いだけでは飼えない、飼い主が苦労する部分をどう対処しているのかが、非常に参考になる。</span><span class="info">（まる）</span></li>
        <li><span class="text">あくまでも、インコちゃんたちがメインで内容も面白く、いつも楽しく観ています☺️</span><span class="info">（まさ/男性/50代）</span></li>
        <li><span class="text">鳥への愛情を感じて温かい気持ちになる</span><span class="info">（たか/女性/40代）</span></li>
        <li><span class="text">セキセイインコのご飯やルーティンが見れ、ためになる情報も有る為。</span><span class="info">（ぴあ/女性/30代）</span></li>
        <li><span class="text">可愛い</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">うめちゃん・ごまちゃんのおしゃべり。病気の事や飼育方法等情報が沢山。ぴんふさんの声や話し方。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ごまとうめが愛らしい</span><span class="info">（きょうさん/男性/10代）</span></li>
        <li><span class="text">うめ&ごまがかわいい</span><span class="info">（しろこ/女性/20代）</span></li>
        <li><span class="text">ぴんふさんの優しさが溢れている。うめちゃんのおしゃべりが可愛い。2羽のお互いに対する優しさや思いやりも感じられる。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">鳥への愛が伝わってきます</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">飼い主さんが鳥たちにとにかく優しいです</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">うめ、ごま可愛い❤️</span><span class="info">（さわちん/男性/40代）</span></li>
        <li><span class="text">自作のおもちゃが素敵。</span><span class="info">（さとみちゃん/女性/40代）</span></li>
        <li><span class="text">うめちゃん大好き(*≧▽≦*)うめちゃんとごまちゃんへ惜しみない愛情を注ぐ飼い主さんのぴんふさんに、いつも感心させられますし、楽しませてもらっています(о´∀`о)</span><span class="info">（みなみ/女性/70代〜）</span></li>
        <li><span class="text">知り合いの方がと同じ鳥を飼ってます</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">とにかく可愛い❤️</span><span class="info">（まっちゅん/女性/40代）</span></li>
        <li><span class="text">ぱせりちゃんうめちゃんごまちゃん大好き</span><span class="info">（ロミオ/女性/40代）</span></li>
        <li><span class="text">丁寧に愛情を持って育てているのがよく伝わります。うめちゃん、とても愉快で面白いです。</span><span class="info">（せーの/女性/20代）</span></li>
        <li><span class="text">飼ってるインコが一緒で参考にしてます。</span><span class="info">（なりみぃ/女性/30代）</span></li>
        <li><span class="text">よく食べよく遊ぶうめちゃん&ごまちゃん。食事やおもちゃの与え方が丁寧で飼主様の心遣いに感心します。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">うめちゃんとゴマちゃんの二羽の行動やおしゃべりがとても可愛いし癒されます。主さんの愛情も伝わっていてほのぼのしてとても大好きな動画です。</span><span class="info">（しょりさん/女性/40代）</span></li>
        <li><span class="text">愛情たっぷり。うめちゃんとごまちゃんが大好きです。食事の管理やおもちゃのなど参考になる情報ばかりです。</span><span class="info">（キキ/女性/40代）</span></li>
        <li><span class="text">とても癒やされる</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">とにかく癒されます、私が鳥に興味を持つきっかけとなったユーチューバーさんです</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">おしゃべり上手なセキセイインコのうめちゃん、ウロコインコのごまちゃんがとても可愛いです。ぴんふさんの優しい話し方も好きです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">「同じ鳥さんたちと暮らしているから」が一番の理由です。編集も上手だし鳥さんたちの可愛さを引き出してくれていると思います。</span><span class="info">（kj/男性/40代）</span></li>
        <li><span class="text">うめちゃんがとても賢く可愛いから</span><span class="info">（かず/女性/50代）</span></li>
        <li><span class="text">セキセイインコのうめちゃんとウロコインコのごまちゃんが本当に可愛い。ごまちゃんが食器棚へ入ってしまう所や、キャップで遊んでいるアンヨもなんとも言えなく好き。</span><span class="info">（masamin/女性/50代）</span></li>
        <li><span class="text">鳥さん達の健康や楽しく過ごせる環境をとてもしっかり考えてらっしゃり鳥達への愛情が動画を通しても伝わってくる所が素敵な方だと思います。</span><span class="info">（あくび/女性/40代）</span></li>
        <li><span class="text">鳥に対する愛情と思いがとても伝わるし、色んな角度から鳥の行動が見られる動画だから</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">鳥さんのオモチャを手作りしたり、お誕生会も手作りでと、とても愛情を感じられます。ぴんふさんの鳥さんへの声かけもとてもやさしくて、癒されます。</span><span class="info">（みっこり/女性/40代）</span></li>
        <li><span class="text">うめごまがかわいい</span><span class="info">（ペこ/女性/10代）</span></li>
        <li><span class="text">編集がすごく上手で鳥さんの可愛いところや面白いところをみることができる！</span><span class="info">（にこりん/女性/20代）</span></li>
        <li><span class="text">鳥さんに対する新しい気づきが沢山見つかる。</span><span class="info">（lave.oza/女性/50代）</span></li>
        <li><span class="text">いつも参考にしてます。</span><span class="info">（悠緋/女性/20代）</span></li>
        <li><span class="text">愛が凄く感じられる</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">芸の教え方、おもちゃの工夫など、見てて楽しいから。</span><span class="info">（あおちゃん/女性/30代）</span></li>
        <li><span class="text">ズバリ、飼い主さんの鳥さん愛ですね！</span><span class="info">（うめとミント/女性/40代）</span></li>
        <li><span class="text">ウメちゃん、ゴマちゃんが可愛いです。インコ達を大切にしているのが分かる動画です。</span><span class="info">（ナナピー/女性/40代）</span></li>
        <li><span class="text">うめちゃんとごまちゃんの遊ぶ姿と、飼い主の深い愛情が凄い。</span><span class="info">（k1/男性/30代）</span></li>
        <li><span class="text">鳥を大切に育てて、情報発信がすばらし。見ていて楽しい。</span><span class="info">（ちゃろ/女性/50代）</span></li>
        <li><span class="text">インコのことに詳しくなれる。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">うめちゃんとごまちゃんの仲の良さと無くなってしまったパセリちゃんを忘れない意思が素晴らしい。うめちゃんのお喋りの利口さがとんでもない。</span><span class="info">（アセアン/男性/10代）</span></li>
        <li><span class="text">うめのおしゃべりが楽しい。ウロコインコのごまが我が家のウロコインコとだぶって仕草が可愛くてたまらないです。飼い主の声もほっとして全部が癒されます。</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">私もセキセイインコを飼っているから。どんなおもちゃが良いのかとか分かるから。</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">鳥愛に溢れていていつも楽しく拝見しています。</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">ぱせりが大好きでした。あんな良い性格の鳥さんはそういないと思います。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりが面白すぎる</span><span class="info">（もなこそん/女性/20代）</span></li>
        <li><span class="text">主がめちゃいい人そうだから。</span><span class="info">（ゆきトリ/女性/30代）</span></li>
        <li><span class="text">うめ、ごまのキャラクターがお気に入り</span><span class="info">（Dai/男性/30代）</span></li>
        <li><span class="text">鳥の能力の高さに驚き、このサイトを見るようになった。編集センスも素晴らしい。</span><span class="info">（まう/女性/50代）</span></li>
        <li><span class="text">とにかく観察力もすごく管理をしっかりしている。鳥さんのためなら労力を惜しまない感じ。自作の止まり木やおもちゃも参考になる。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりが可愛い。</span><span class="info">（はな/女性/40代）</span></li>
        <li><span class="text">セキセイインコのうめちゃんがとにかくお喋り上手で可愛い❤️相方のごまちゃんもキュート！飼い主さんの愛情溢れる飼育ぶりもとても参考になります。</span><span class="info">（みちる/女性/40代）</span></li>
        <li><span class="text">インコちゃん達の事をよく理解していて、インコちゃん達の為に色々と工夫されていて、観ていてすごく参考になる。</span><span class="info">（Eri★/女性/20代）</span></li>
        <li><span class="text">ぴんふさんの鳥ファミリーが大好き❤甘えん坊の二羽の鳥さんが良い子で可愛くて震える〜 。次の動画はまだかなぁといつも待ってるの。動画に流れる音のチョイスもピッタリで鳥たちの愛らしさが倍増！愛があるなぁー心が砂漠のひとは潤いますよ❣️❤️</span><span class="info">（ミッチー/女性/40代）</span></li>
        <li><span class="text">セキセイインコのうめちゃんのおしゃべりに癒されます。</span><span class="info">（やっちゃん/女性/50代）</span></li>
        <li><span class="text">いつも癒されてるチャンネルなので</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">セキセイのうめちゃんが、とにかく可愛い♪ そして飼い主さんの愛情深い優しい眼差しと飼い方が信頼出来る。</span><span class="info">（Y.K./女性/50代）</span></li>
        <li><span class="text">鳥との生活のバイブル</span><span class="info">（かめきち/女性/50代）</span></li>
        <li><span class="text">見ていて面白いし、為になるから。</span><span class="info">（くみ/女性/40代）</span></li>
        <li><span class="text">うめちゃん、ごまちゃん大好き</span><span class="info">（まき/女性/30代）</span></li>
        <li><span class="text">TVに出ていた。有名。</span><span class="info">（鳥山鳥五郎/男性/50代）</span></li>
        <li><span class="text">かわいい</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">もう何年も見ていて、うめちゃんやごまちゃんのお喋りや、ぴんふさんの鳥への接し方が参考になる。</span><span class="info">（ぽぷり/女性/50代）</span></li>
        <li><span class="text">セキセイインコとウロコインコが仲良し</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">梅ちゃんが喋っているところが可愛い</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりが可愛い</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">子どももうめちゃん、ごまちゃんの大ファンです。</span><span class="info">（kazu1974/女性/40代）</span></li>
        <li><span class="text">うめちゃん、ゴマちゃん大好き！</span><span class="info">（あっちょ/女性/50代）</span></li>
        <li><span class="text">ぱせりがいるときから応援しているから</span><span class="info">（あきこ/女性/40代）</span></li>
        <li><span class="text">いつも大変ためになる動画ばかりです。分かりやすい上にとても詳細に説明されています。初めてインコを我が家に迎えた3年前から、ずっと拝見し続けています。とりさんへの愛情深さをとても感じられます。</span><span class="info">（うまのほっぺ/女性/40代）</span></li>
        <li><span class="text">ためになる情報があったり、うめちゃんのお喋りが楽しい！</span><span class="info">（みー/女性/40代）</span></li>
        <li><span class="text">ぱせりが大好きだったから</span><span class="info">（ももりんご/女性/40代）</span></li>
        <li><span class="text">ぴんふさんは、日々一生懸命悩んだり考えたりしながら鳥さんの気持ちを一番に考えた接し方や声かけをしていて、そんな愛情一杯の飼い主さんの元だからこそ、うめちゃんとごまちゃんという心優しい鳥さんたちに育ってるのが分かります💓見ているだけで沢山の愛情に癒されまくります☺</span><span class="info">（ナル/女性/60代）</span></li>
        <li><span class="text">色々飼育する上で為になる</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">癒されます</span><span class="info">（あや/女性/40代）</span></li>
        <li><span class="text">飼い主さんと仲良くて、人間ぽい（インコが）一面があって面白いから</span><span class="info">（味噌汁/女性/10代）</span></li>
        <li><span class="text">よく見ています</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">インコのウメちゃんゴマちゃんが可愛いすぎるから</span><span class="info">（ハル/女性/40代）</span></li>
        <li><span class="text">トリさんに対する愛がすごい！過保護すぎるくらい食生活とか気にされてて、参考になるし、その愛情がトリさん達に伝わるからいい子なんだと思う。</span><span class="info">（りん@/女性/30代）</span></li>
        <li><span class="text">おしゃべりインコの可愛さだけではなく、飼育のしかたや考え方など、自分自身もインコ飼育の参考にさせてもらっている。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">お話しかわいいから</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">インコちゃんの姿が可愛い</span><span class="info">（うめわか/女性/20代）</span></li>
        <li><span class="text">うめとごまは可愛くて、ぴんふさん、ぴんふ男さん穏やかで観ていてほっこりする番組です。</span><span class="info">（トッポ56/女性/50代）</span></li>
        <li><span class="text">セキセイインコのうめちゃんがとても頭が良くて、いろんな言葉をしゃべれるれるところや、ウロコインコのごまちゃんがうめちゃんの歌に乗ったりおもちゃをつついたりして遊ぶのを見るのが好きだから。</span><span class="info">（らーちゃーん/女性/10代）</span></li>
        <li><span class="text">全てにおいて鳥の事を考えてらっしゃる</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">編集がとても上手で引き込まれます。ご家族がとてもぱせりうめごまちゃんを大事に育てられていて幸せそうで、こちらも楽しくなります。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">勉強になる</span><span class="info">（パルタン星人/女性/30代）</span></li>
        <li><span class="text">鳥に対しての愛情がすごい！ペレットありがとうシードの細かい説明がすごく参考になる。</span><span class="info">（saa/女性/30代）</span></li>
        <li><span class="text">とても楽しい</span><span class="info">（ゆみ/女性/50代）</span></li>
        <li><span class="text">癒されます。インコのお喋りが達者な事。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">うめちゃんが好き</span><span class="info">（hito3/男性/50代）</span></li>
        <li><span class="text">ただただ可愛い！インコちゃん達への愛が溢れているぴんふさんと楽しそうに過ごすうめごまに癒される。</span><span class="info">（りん/女性/40代）</span></li>
        <li><span class="text">インコの飼育の気になること、勉強になる</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">動画の面白さと可愛さはピカイチ</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">うめ ゴマちゃん達の愛らしさ</span><span class="info">（グルグルメガネ/女性/40代）</span></li>
        <li><span class="text">うめちゃんの話しを夢中になってついつい見てしまう^_^</span><span class="info">（ゆかこだるまん/女性/30代）</span></li>
        <li><span class="text">可愛いから</span><span class="info">（Ri/女性/30代）</span></li>
        <li><span class="text">うめごまブラザーズのファンです</span><span class="info">（しー/女性/30代）</span></li>
        <li><span class="text">うめちゃん可愛い</span><span class="info">（ぷ～た☆彡/女性/50代）</span></li>
        <li><span class="text">為になる</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">愛情の深さ</span><span class="info">（ともっコロ/女性/40代）</span></li>
        <li><span class="text">うめちゃんかわいい</span><span class="info">（べるくり/女性/40代）</span></li>
        <li><span class="text">丁寧な動画編集と、清潔さと鳥の素晴らしさ。</span><span class="info">（yamachan8/女性/50代）</span></li>
        <li><span class="text">2羽の個性が単純にかわいい。病気やおもちゃ、暮らし方など様々とても勉強になる。飼い主さん尊敬に価する。</span><span class="info">（へとちゃん/女性/50代）</span></li>
        <li><span class="text">1番はじめに見た鳥YouTube。観察眼鋭く愛情たっぷりの育て方は尊敬しています。</span><span class="info">（ナデシコ/女性/40代）</span></li>
        <li><span class="text">鳥さんへの愛が、スゴいです。子どもたちもうめちゃんが大好きで、そしてたくさんの手作りおもちゃを作ってらっしゃるので、鳥さんの遊ばせ方の参考になります。</span><span class="info">（くるくる農園/女性/30代）</span></li>
        <li><span class="text">うめちゃん、ゴマちゃんがとにかくお利口でかわいい！</span><span class="info">（ちいさん/女性/50代）</span></li>
        <li><span class="text">鳥さんにすごく真剣に向き合っているため。</span><span class="info">（マーブル/男性/40代）</span></li>
        <li><span class="text">ごまちゃんが好き、ママさんが好き、優しさに溢れてます。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりもそうなんですが、手作りのおもちゃの紹介がとても役に立ってます。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">セキセイインコをもともと飼っていて、いつも拝見させていただいていました。今でもインコは飼っていますが、前飼っていたインコにぴんふさんの動画を見せたりして、盛り上がっていました。ぴんふさんの動画を見ると、元気をもらいます。それに、前飼っていたインコのことも、思い出します。今でもぴんふさんの動画を見ています。これからも頑張ってほしいです。</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">うめちゃんのお喋りが大好き</span><span class="info">（のんちゃそ/女性/30代）</span></li>
        <li><span class="text">うめとごまのやりとりがかわいい。</span><span class="info">（なお/女性/40代）</span></li>
        <li><span class="text">梅ちゃんのおしゃべりがとても可愛くて癒されるから。</span><span class="info">（piyo/女性/10代）</span></li>
        <li><span class="text">うめちゃん賢い</span><span class="info">（まお/女性/60代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりが凄い！</span><span class="info">（マカロニ/男性/50代）</span></li>
        <li><span class="text">うめちゃんが愛らしく、飼い主の愛情が伝わる。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">うめちゃんのお喋り、歌が最高です。大好きです。</span><span class="info">（しの/女性/50代）</span></li>
        <li><span class="text">セキセイが好きで、ウロコにも興味がある為。</span><span class="info">（えいたま。/女性/30代）</span></li>
        <li><span class="text">愛情溢れる動画編集に癒されてます。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">なんといってもうめちゃん、ごまちゃんのキャラです。おしゃべりも多彩です。</span><span class="info">（まきまき/女性/50代）</span></li>
        <li><span class="text">インコに対する愛情を感じ、ぴんふさんの穏やかな人柄に惹かれた。ウロコインコをぴんふさんを通して飼ってみたいと思い、無事お迎えすることができた。セキセイインコとウロコインコの飼育を見習いたい。</span><span class="info">（ちーこ/女性/40代）</span></li>
        <li><span class="text">鳥愛を感じるから。</span><span class="info">（モコ太郎/女性/40代）</span></li>
        <li><span class="text">鳥さんへの愛が溢れているからぴんふさんの動画を見てコザクラインコを迎える決心がつきました。</span><span class="info">（まきまき/女性/40代）</span></li>
        <li><span class="text">うめちゃんがおしゃべり上手だから</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりとごまちゃんのキャラ</span><span class="info">（may/女性/30代）</span></li>
        <li><span class="text">うめちゃんごまちゃんも可愛いのですが、ぴんふさんの人の良さに惹かれます。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">鳥のオモチャの作りかたを教えてもらいました🤣</span><span class="info">（ひまちゃん♡/女性/50代）</span></li>
        <li><span class="text">鳥への愛情(掃除、手作りオモチャ、餌の拘り)が素晴らしく、編集が好きなので。</span><span class="info">（hiru/女性/40代）</span></li>
        <li><span class="text">飼い主さんの愛情を感じる</span><span class="info">（みやびです/女性/60代）</span></li>
        <li><span class="text">セキセイを飼っている人の指南書的な。</span><span class="info">（とんつ/女性/50代）</span></li>
        <li><span class="text">色々と参考になるから。ぴんふさんの鳥へのやさしい対応がすき。</span><span class="info">（さななん/女性/40代）</span></li>
        <li><span class="text">うめちゃんは、うちの子たちの先生です。</span><span class="info">（ピピココ/男性/40代）</span></li>
        <li><span class="text">餌、発情対策などの説明が分かりやすくていい。</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">ごまちゃんとうめちゃんの仲良しな所や、可愛く面白くおしゃべりするところ。</span><span class="info">（あお きい まる ママ/男性/40代）</span></li>
        <li><span class="text">いつも見てます❤</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">うめちゃん、ごまちゃんの可愛さはもちろん、そのうめごまブラザーズをとても大切に育てているご夫婦がすごく素敵で尊敬しています。私もインコを飼っているのでご夫婦を見習って愛情いっぱいに育てたいと観る度に思えます。うめちゃんの流暢なおしゃべりと甘えん坊さんなごまちゃんがとっても可愛くて癒されます。</span><span class="info">（ヒデミン/女性/30代）</span></li>
        <li><span class="text">昔から見ている。鳥さんへの愛情に満ち溢れた動画で大好きです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">参考になる・たのしい</span><span class="info">（ぴのこ/女性/30代）</span></li>
        <li><span class="text">とにかくセキセイインコの うめちゃんのおしゃべりが可愛くて、ぴんふさんご夫婦の手作りバードツリーやおもちゃがすごい素敵です。</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">うめゴマ最高</span><span class="info">（ykshibata/男性/50代）</span></li>
        <li><span class="text">ごまが可愛い💕</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">具体的だから</span><span class="info">（ゆにこん/女性/40代）</span></li>
        <li><span class="text">鳥たちに寄り添う姿が自然でかつレベル高い。鳥もすごく可愛いくて癒される。</span><span class="info">（COO/女性/50代）</span></li>
        <li><span class="text">飼い主さんの愛鳥たちに対する愛情深いお世話が参考になる。餌や健康、発情対策、手作りのおもちゃ、病気のことについてなど‥。愛鳥さんたちもおしゃべり上手で仲良しでとっても可愛い。</span><span class="info">（sue/女性/40代）</span></li>
        <li><span class="text">うめちゃんのお喋りがすごい・飼い主さんの愛情を感じる</span><span class="info">（えの/女性/50代）</span></li>
        <li><span class="text">ぴんふさんの話し方も好きですし、何よりインコちゃんへの愛情が素晴らしい。もちろん、うめちゃんのおしゃべりが他のインコちゃんに比べて聞き取りやすく内容もおもしろい。</span><span class="info">（まひろん/女性/40代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりが最高に面白いから</span><span class="info">（あーりん☆/女性/40代）</span></li>
        <li><span class="text">うめちゃんが好き。ごまちゃんが健気。飼い主さんの声が、とても優しくて癒される😊沢山、参考にさせてもらってます。</span><span class="info">（ケロ/女性/40代）</span></li>
        <li><span class="text">初期から見ているから</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">うめちゃんが賢くて好きです</span><span class="info">（やまこ/女性/40代）</span></li>
        <li><span class="text">うめちゃんのお喋りはツボります。うめちゃんは全部知っている。とかお喋り出来て凄い！</span><span class="info">（レモン/女性/50代）</span></li>
        <li><span class="text">愛情たっぷりで、うめちゃん・ごまちゃんの生活を紹介してくださるのと、色々なオモチャの作り方や病気のこととかを伝えていて凄いなぁと思います。最初に出会った鳥のチャンネルです。</span><span class="info">（すみっこばらぐらし/女性/50代）</span></li>
        <li><span class="text">飼主さんの優しさと愛情がインコたちに伝わってて心温まります。</span><span class="info">（鉄腕/女性/50代）</span></li>
        <li><span class="text">鳥さん系のYouTubeを見るきっかけになったのが、ぴんふさんのウメゴマBROSでした。おしゃべり上手なうめちゃんとマイペースなゴマちゃんがとても可愛いです。</span><span class="info">（りょうぶ/女性/30代）</span></li>
        <li><span class="text">笑える。面白い。</span><span class="info">（Sora/女性/30代）</span></li>
        <li><span class="text">賢いうめちゃんとゴマちゃんが可愛い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">飼い主さんの愛情をいっぱい感じます。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">愛鳥への愛がものすごく溢れている。ぱせりが亡くなってしまった時は一緒に泣いてました。</span><span class="info">（さぼてん/女性/30代）</span></li>
        <li><span class="text">インコが、おしゃべり上手💕</span><span class="info">（ハク チャピ ピノ/女性/40代）</span></li>
        <li><span class="text">インコあるある</span><span class="info">（きゅうべえパパ/男性/40代）</span></li>
        <li><span class="text">おしやべり上手なうめちゃん大好き💕</span><span class="info">（ぴーちゃん/女性/70代〜）</span></li>
        <li><span class="text">おもしろい編集とうめゴマ仲良し風景で癒される</span><span class="info">（なんなんなんなし/男性/20代）</span></li>
        <li><span class="text">凄く可愛いです</span><span class="info">（ま。/女性/10代）</span></li>
        <li><span class="text">手作りおもちゃがとても参考になる</span><span class="info">（shu-mi/女性/30代）</span></li>
        <li><span class="text">うめちゃんとごまちゃんが可愛い</span><span class="info">（ゆちこ/女性/50代）</span></li>
        <li><span class="text">編集が丁寧、鳥情がためになる。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ぴんふさんの観察力ときめ細やかなお世話の仕方にいつも感銘を受けます。</span><span class="info">（月朱/女性/50代）</span></li>
        <li><span class="text">うめちゃんごまちゃん大好きです！ぴんふさんの優しい声もとっても和みます。あと、時々登場されるぴんふ夫さんと鳥たちの関わりもなごなごです！</span><span class="info">（ためこ/女性/40代）</span></li>
        <li><span class="text">うめちゃん芸達者🎵 ごまちゃんおっとり✨</span><span class="info">（匿名さん/女性/70代〜）</span></li>
        <li><span class="text">シードやペレットなどを詳しく解説しているから</span><span class="info">（風のゆびさき/女性/50代）</span></li>
        <li><span class="text">ごまちゃんとうめちゃんのオモチャを手作りしてらして、参考にさせてもらってます。２羽とも可愛くて大好きです🎵</span><span class="info">（しょーママ/女性/40代）</span></li>
        <li><span class="text">自分の飼った事がない鳥さんの可愛さと、愛情のかけ方がとても優しくて、ほっこりします。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">病気の情報など役に立つ</span><span class="info">（こっさん/女性/40代）</span></li>
        <li><span class="text">動画の中から飼い主さんの深い愛情を感じ取れる。愛情豊かに育てられた、思いやり溢れる2羽の日々のやりとりには笑いと癒しがあり、いつも更新を楽しみにしています。</span><span class="info">（ちいぱっぱ/女性/40代）</span></li>
        <li><span class="text">セキセイインコのうめちゃんのおしゃべり</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">動画がとても凝っていて見ていて楽しい</span><span class="info">（saly0505/女性/50代）</span></li>
        <li><span class="text">うめちゃんとごまちゃんに対する飼い主の愛情が一番感じられるから。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">鳥さん系YouTuberさんの動画を見始めたきっかけ。飼い主さんが自分の子どものように本気で、うめさん・ぱせりさん・ごまさん達に向かい合っている。</span><span class="info">（雀/女性/30代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりは本当に凄い！インコの接し方や育て方、勉強になります。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">うめちゃんのおしゃべり大好きです。ごまちゃんも穏やか〜。飼い主さんの愛情伝わります。</span><span class="info">（とーもーさん/女性/50代）</span></li>
        <li><span class="text">おしゃべり上手なインコちゃんが、次は何を覚えたのか気になって見ちゃいます☺️</span><span class="info">（pigeon/女性/40代）</span></li>
        <li><span class="text">テンポの良さと飼い主さんの考えや愛情がわかりやすい内容が好き。教えている内容もおもしろい。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">セキセイインコを飼うきっかけの1つだからです。ぴんふさんのインコたちへの愛が伝わってくるのとそれに応えるかのようなうめちゃんのおしゃべりとごまちゃんの優しさがすごく素敵です。</span><span class="info">（あーや/女性/10代）</span></li>
        <li><span class="text">お茶目なうめちゃんのおしゃべりとマイペースなゴマちゃんへのぴんふさんの愛情が伝わり、ほのぼのしながらも笑えるし癒されます♬︎♡</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">パセリちゃんの生前の動画から殆ど観ました。うめちゃん、ごまちゃんそれぞれのインコちゃんの個性が魅力的。飼い主さんもとても器用でおもちゃ手作りしたり餌の選択や調合の知識が勉強にもなります。</span><span class="info">（マメルリハの飼い主ともとも/女性/30代）</span></li>
        <li><span class="text">うめちゃん最高‼︎</span><span class="info">（pen/男性/50代）</span></li>
        <li><span class="text">ご飯やおもちゃ、日々のお世話で気をつけなければいけないポイントなども教えてくださり、ママさんの優しいお声もとても好きです。</span><span class="info">（ゆぅきちゃん/女性/40代）</span></li>
        <li><span class="text">とにかく癒されます。私も鳥を飼っているので勉強にもなります。</span><span class="info">（あるふぁ/女性/10代）</span></li>
        <li><span class="text">うめちゃんが好き</span><span class="info">（ぴぴたん/女性/40代）</span></li>
        <li><span class="text">飼い主さんのインコに対する愛情がたっぷり注がれてるのが分かる。</span><span class="info">（真/男性/20代）</span></li>
        <li><span class="text">おしゃべりの動画が面白いです🤣</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">おしゃべり上手なセキセイインコちゃんが可愛い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりが特に面白い。語彙が豊富で、本当に賢い子だと感心した。飼い主さんの声も、優しくてかわいい。うめちゃんごまちゃんぱせりちゃんへの愛情が感じられる。</span><span class="info">（あさひ/女性/30代）</span></li>
        <li><span class="text">とても大好きで、毎回楽しみにして見ている！自分もセキセイインコを飼っているので、すごく参考になることがたくさんある為。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">可愛い、面白い、編集が上手。</span><span class="info">（えいぴ/女性/40代）</span></li>
        <li><span class="text">インコの雛をお迎えして色んな動画を観てましたが、ぴんふさんの動画が一番好きです。鳥さんたちへの愛情がとにかくすごいです。そしてなんといってもセキセイインコのうめちゃんのお喋りが最高です。何度も観て笑ってます。残念ながら亡くなってしまったぱせりちゃんもかわいくて。悲しいお話の時は号泣で胸が痛くなりますが、愛情の深さが伝わるので観てしまいます。そして新しくお迎えされたごまちゃんもめっちゃかわいくて楽しいです。そして、楽しいだけでなく鳥さんたちのことを真剣に考えた内容もたくさんあって本当にオススメです。</span><span class="info">（よっぴぃ/女性/50代）</span></li>
        <li><span class="text">飼い主のぴんふさんとぴんふ男さんの愛に溢れるエピソードや梅ちゃんのおしゃべり、ごまちゃんのおしゃべり、いつも楽しく拝見しているからです。梅ちゃんのUSAは何度見ても楽しい‼︎</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">うめちゃん最高</span><span class="info">（ニーハオ/男性/50代）</span></li>
        <li><span class="text">病気の事や遊び方、餌の種類など色々勉強になります。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ぴんふさんのうめちゃん、ゴマちゃんへの愛情。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">セキセイインコに興味があるから</span><span class="info">（とっしー/男性/50代）</span></li>
        <li><span class="text">うめちゃんは最強！ゴマちゃんもかわいいし、いつも楽しく観させていただいているので。ママさんから勉強させていただいていることも沢山あるので、これからも頻繁なUPを期待しています。</span><span class="info">（ぺん子/女性/40代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりが可愛い</span><span class="info">（はる/女性/50代）</span></li>
        <li><span class="text">はじめてチャンネル登録した鳥系YouTubeチャンネルです。ぱせり、うめ、ごまのそれぞれの個性とその個性を理解されて対応されるぴんぷ夫妻のあたたかさや経験からくる色々なノウハウを参考にさせていただいています。</span><span class="info">（ゆきかぜ/女性/50代）</span></li>
        <li><span class="text">うめちゃんやゴマちゃんがかわいいのはもちろん、ぴんふさんの穏やかなお声がまた癒しです。</span><span class="info">（まいまいぷー/女性/30代）</span></li>
        <li><span class="text">2羽のインコの愛らしい日々の様子や、インコを飼うことへの色々な紹介があり、参考になる。</span><span class="info">（ポンあきインコ/男性/40代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりがスゴいし、かわいい！ごまちゃんのぼそぼそってしゃべるのもまたかわいい！他のとりさん達もすごいのですが、ぴんふさんの愛情っぷりが、うめちゃん・ごまちゃんからスゴくうかがえるのがまたいい感じ。上品な感じもいいのかもしれない。とりさん達のおしゃべり聞いてて、全く嫌な感じがしないのが素晴らしい。とにかく賢くかわいいうめちゃん・ごまちゃんです。</span><span class="info">（どうち/女性/40代）</span></li>
        <li><span class="text">色々勉強になります</span><span class="info">（ずんだ君/女性/50代）</span></li>
        <li><span class="text">最高</span><span class="info">（m/女性/50代）</span></li>
        <li><span class="text">セキセイのうめちゃんが大好き</span><span class="info">（あらし/女性/50代）</span></li>
        <li><span class="text">ぴんふさんの愛が深い♡</span><span class="info">（☆AHKO☆/女性/40代）</span></li>
        <li><span class="text">ぱせり&うめの時から拝見しておりました！おしゃべりも上手でなによりも可愛い仕草がたまらなく、1日が終わると過去の動画まで遡って見るほどに大好きなインコさん達です！ごまちゃんももちろん可愛いです！ウロコインコさんは初めて目にする種類だったので見たときに「綺麗な色のインコさんだ！」と感動しました！うめちゃんがお父さんのお見舞いに行っているところを見て癒されたり、病院の動画を見たりして自分家のインコちゃんのためにも勉強させていただきました。これからもお体に気をつけて、また元気な鳥さんの姿を動画で見られることを楽しみにしています！！！！！</span><span class="info">（さなか/女性/10代）</span></li>
        <li><span class="text">先代の「ぱせり」から、「うめ」「ごま」の楽しいインコ動画が面白い。ほか、飼育についてのエサやおもちゃなどの情報も参考になる。</span><span class="info">（ポンあきインコ/男性/40代）</span></li>
        <li><span class="text">うめちゃんのしゃべりがすばらしい。</span><span class="info">（くりちゃん/女性/40代）</span></li>
        <li><span class="text">発情抑制の仕方、ごはんの選び方、おもちゃの作り方等、鳥と楽しく過ごすのに必要な情報を常に発信してくれていて、とてもためになります。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">一番最初に興味を持ったチャンネルだからです！</span><span class="info">（けみちゃん/男性/30代）</span></li>
        <li><span class="text">最初にインコ動画で気に入って登録したチャンネル。兄弟みたいなウロコとセキセイ。こちらも効果音やキャプションなど上手に編集されていて楽しいですね。</span><span class="info">（t.yazawa/男性/60代）</span></li>
        <li><span class="text">いつも、アップされるのを楽しみに待っています。飼い主さんのとりさんたちへの愛情はすばらしいです。うめちゃんも、ごまちゃんも、とってもかわいいです。うめちゃんは、前世は人間だったんだと思います。</span><span class="info">（いずみゃお/女性/30代）</span></li>
        <li><span class="text">画像の作り方がとても上手で、飼い主さんの鳥たちへの愛情と知識が素晴らしいです</span><span class="info">（Niniata/女性/40代）</span></li>
        <li><span class="text">うめちゃん！もー！大好きな番組です！面白いし、頭良いし、ぴんふさん達も良いです！</span><span class="info">（える/女性/30代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりが楽しい</span><span class="info">（リルママ/女性/50代）</span></li>
        <li><span class="text">ぴんふさんのウメのお喋りがおもしろいです。ゴマもかわいい。</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">かわいいおしゃべりと個性的な鳥さんがとてもかわいい</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">為になる</span><span class="info">（Earl Grey/女性/20代）</span></li>
        <li><span class="text">うめごまブラザーズの愛くるしい感じと、飼い主さんの愛情がとても伝わってくるところです。</span><span class="info">（ぺこ/男性/40代）</span></li>
        <li><span class="text">うめちゃんがかわいい</span><span class="info">（ぽぽ/女性/50代）</span></li>
        <li><span class="text">うめちゃんがかわいい。ぴんふ夫のやり取りが好き。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">飼い主さんのうめちゃん、ごまちゃんに対する愛情が溢れていて見るだけで癒されます。</span><span class="info">（クマクマ/女性/50代）</span></li>
        <li><span class="text">うめちゃんの卓越した楽しいお喋り、ごまちゃんの可愛らしさと沢山ではないけれど一生懸命なお喋り、ぴんふさんの鳥に対する向き合い方全てが癒しと参考、勉強になります😃</span><span class="info">（ちょえー人！/女性/50代）</span></li>
        <li><span class="text">とにかく鳥さんを愛し、家族の一員として大切に大切に接している所がひしひしと伝わります。愛の深さが素晴らしいと思います。</span><span class="info">（tomo/女性/30代）</span></li>
        <li><span class="text">初めて飼ったインコに似ているので、目が止まりました、家のコも、ウメちゃんみたいになって欲しくて、YouTube初めましたよ。</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">セキセイインコのうめちゃんのお喋りが最高に面白いです。また、飼い主のぴんふさんの鳥さんへの細やかな心遣いが勉強になります。</span><span class="info">（しの/女性/40代）</span></li>
        <li><span class="text">とにかく編集がうまい！</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">うめちゃん、ごまちゃんはかわいいだけでなく、優しいインコちゃん達だと思います。飼い主のぴんふさんの優しさがとても伝わって来て大好きなチャンネルの為。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりがかわいいから</span><span class="info">（モコちゃん/女性/40代）</span></li>
        <li><span class="text">うちのオカメインコの空ちゃんも大好きなチャンネルです。放鳥時に「うめごまブラザーズ」のオープニングが流れると嬉しそうにやって来ますよ(笑)</span><span class="info">（rey/女性/60代）</span></li>
        <li><span class="text">飼い主さんの、鳥への愛情が溢れている。鳥さんのしゃべりが可愛い。編集が面白い。飼育の勉強になる。</span><span class="info">（だんごむし/女性/50代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりシリーズが好きです。面白い。あと、お世話の仕方などの動画もとても有り難いです。勉強になります。</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">インコ以外にも飼い主さんが面白いし、アイディアが満載。</span><span class="info">（茶葉/女性/10代）</span></li>
        <li><span class="text">ぱせりちゃんが健在だった頃からずっと見ています！うめちゃんもごまちゃんも可愛くて、何より主さまの優しいお声に癒やされます。</span><span class="info">（みなみ/女性/20代）</span></li>
        <li><span class="text">うめごまちゃん❤️</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">ご夫婦のインコさんへの愛情深いチャンネルで見ていてとても楽しいし勉強になります。うめごまぶらざーずコンビがとっても可愛いです！</span><span class="info">（マキシマ/女性/30代）</span></li>
        <li><span class="text">おもちゃ作りの動画や好きなピーマンの色など、ためになる動画ばかり！鳥さんの気持ちをとても汲んでいて勉強になります！</span><span class="info">（ごん/女性/20代）</span></li>
        <li><span class="text">うめちゃんのお喋りがすごい。飼い主さんが鳥さんにかける手間がすごい。</span><span class="info">（たれみみ/女性/40代）</span></li>
        <li><span class="text">大切に育てられている。病気のことや育て方などをしっかり伝えておられる。</span><span class="info">（yuko/女性/30代）</span></li>
        <li><span class="text">飼い主さんが鳥さんのことよく分かってて勉強になる、あとひたすら可愛い。</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">鳥好きになったきっかけが「ぴんふ」さんの動画だった。</span><span class="info">（れお/女性/40代）</span></li>
        <li><span class="text">梅ちゃんのおしゃべりとゴマちゃんの仕草が可愛いです。飼い主であるご夫婦の鳥さんたちへの深い愛情を感じます。</span><span class="info">（みずき/女性/50代）</span></li>
        <li><span class="text">インコのYouTubeを観るきっかけになった最初のYouTuberさんなので、今でも楽しく拝見してます。</span><span class="info">（ふみ/女性/40代）</span></li>
        <li><span class="text">企画が素敵❤鳥さんのおしゃべりの音声が大きくて聞きやすい。</span><span class="info">（Ibee/女性/50代）</span></li>
        <li><span class="text">うめ、パセリ、ゴマへの飼い主さんの愛情が微笑ましい。</span><span class="info">（うりぼー/女性/20代）</span></li>
        <li><span class="text">インコ飼いのバイブルというか、餌、おもちゃ、爪切り、病気の治療、お話、インコのおしゃべりなど参考になること盛り沢山。1週間が待ち遠しい中身の濃い動画だと思います。</span><span class="info">（クミホ/女性/30代）</span></li>
        <li><span class="text">うめちゃん、ごまちゃんともにとても可愛い鳥さん達です。うめちゃんのおしゃべりや歌の覚えはスゴイと思います。飼い主さんがとても大切に育ててらして、飼育のことや餌のことなど大変勉強になります。</span><span class="info">（kiki/女性/50代）</span></li>
        <li><span class="text">こちらの動画をみて、鳥さんに対する印象が変わり、セキセイインコを飼い始めました！インコの賢さや愛情深さに驚きました。</span><span class="info">（るいちゃん好き/女性/30代）</span></li>
        <li><span class="text">優しさ溢れて涙することも^_^💦</span><span class="info">（3103🐤🐤/女性/50代）</span></li>
        <li><span class="text">愛鳥への溢れる愛と、育て方等、何かと参考になる事が多い。</span><span class="info">（ゆず/女性/40代）</span></li>
        <li><span class="text">セキセイのうめちゃんの独り言で、いつも笑わせて貰っている。</span><span class="info">（やっこ。/男性/40代）</span></li>
        <li><span class="text">インコ達の身体の健康をきちんと考えていて勉強になりますし、インコへの愛を感じます。</span><span class="info">（わきち/女性/40代）</span></li>
        <li><span class="text">飼い方の参考にしています！</span><span class="info">（ルリビ/女性/50代）</span></li>
        <li><span class="text">飼育の工夫、しつけや遊びの工夫など参考になります。うめちゃんのお喋りも面白いです。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">ぴんふさんの、鳥への愛情をとても感じます。うめちゃんの賢さにビックリ！ごまちゃんのほんわかした雰囲気が可愛い！編集もとても上手で、見ていてとても面白いです！</span><span class="info">（ゆっちゃん/女性/50代）</span></li>
        <li><span class="text">編集が好き</span><span class="info">（涼風/女性/10代）</span></li>
        <li><span class="text">うめちゃんごまちゃん可愛い！鳥ちゃんの心が見えてくるような動画が多々あって素敵な撮り方してるなーと思います。愛情たっぷりなぴんふさんの動画に毎回癒やされております！</span><span class="info">（あーさん/女性/20代）</span></li>
        <li><span class="text">日頃から色んな方のチャンネルを拝見していますが、やはりうめごまブラザーズが1番好きです。うめちゃんのお喋りで笑いまくってます(笑)自分もウロコインコを飼っているので、ゴマちゃんの爪切り動画など参考にさせていただきました。</span><span class="info">（縷々/女性/30代）</span></li>
        <li><span class="text">愛情いっぱいで大好きです</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">インコがこんなに可愛いのを初めて知ったのがぴんふさんの動画でした♪そしてインコを飼うことになりました！とても参考になる動画が多いです♪</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">インコちゃん達の日常を楽しく伝えてくれるだけでなく、日々のお世話や餌のこと、病気のこと、飼い主として気をつけなければいけない大事なことをたくさん学べます。うめちゃんはたくさんの言葉を覚えていて本当に賢いし、ごまちゃんの甘える姿にはとても癒されます。</span><span class="info">（とらつる/女性/30代）</span></li>
        <li><span class="text">インコの様子に癒される</span><span class="info">（kitoriko/女性/60代）</span></li>
        <li><span class="text">よく見てます！</span><span class="info">（ひなまるちゃん/女性/20代）</span></li>
        <li><span class="text">インコの可愛さがすごく伝わってくる。飼い主さんのインコちゃんたちへの愛がすごく感じわれるところ。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">うめとごまが可愛いすぎる。面白さや鳥の可愛さ・賢さを教えてもらえたのと、おもちゃ作りなども勉強になる。</span><span class="info">（小鳥ちゃん大好き14羽のムツゴロウ王国/女性/40代）</span></li>
        <li><span class="text">ひたすら可愛い。</span><span class="info">（fumizuki/女性/30代）</span></li>
        <li><span class="text">うめちゃん、ごまちゃんが話したり歌ったり、とにかく行動がかわいいのはもちろんですが、発情対策、エサや、病気に気付く観察、育成環境など、(飼っていなくても)飼育に役だつ情報があり、ぴんふさんご夫婦の優しい声にも癒されます。語り、言い方も、優しくフラットな感じで(上から、では全くなく)、押し付け等ではないので、安心して、愉しくみれます。うめちゃん、ごまちゃんの話す言葉、言葉づかいもキレイで優しいので、子どもにも見せられます。</span><span class="info">（katy/女性/40代）</span></li>
        <li><span class="text">ポカポカ星人ちゃんの虜です</span><span class="info">（ぷーさん/女性/20代）</span></li>
        <li><span class="text">うめちゃん、ごまちゃんに対する飼い主さんの愛情が素敵です。</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">自分もセキセイインコを飼っているので、参考になります</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">YouTubeの検索に上がってきて、良く目にする。</span><span class="info">（098japan/男性/30代）</span></li>
        <li><span class="text">初めてYouTubeでチャンネル登録した</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">うめがよくしゃべり楽しい</span><span class="info">（そばごめ/男性/30代）</span></li>
        <li><span class="text">はじめの頃から拝見しており、健康管理など参考にしているから。</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">可愛い。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">可愛いから</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">息子がぱせりちゃん、うめちゃん、ごまちゃんが大好きで我が家にもセキセイが居るのでつい見てしまいます♪ごまちゃんが可愛いくて面白くて癒されます！</span><span class="info">（泰ちゃんママ/女性/30代）</span></li>
        <li><span class="text">鳥さん達との会話がすごく可愛くて楽しく見てます！</span><span class="info">（なな/女性/20代）</span></li>
        <li><span class="text">とにかく可愛くて可愛くて好き</span><span class="info">（さくらい/女性/40代）</span></li>
        <li><span class="text">本当にいろいろ参考になります。うめごまちゃんのファンです。</span><span class="info">（ねむねむ/女性/50代）</span></li>
        <li><span class="text">1番大好き！コザクラインコのパセリが亡くなった時は泣いた。でも、うちの14歳のコザクラももっと長生き出来るという希望をもてた。</span><span class="info">（こーこ/女性/10代）</span></li>
        <li><span class="text">勉強になる</span><span class="info">（ぴよこ/女性/50代）</span></li>
        <li><span class="text">うめごまのやり取りが可愛いすぎるのと、うめちゃんのお喋りが癖になる。小学生の子どもがハマってずっと見ている。</span><span class="info">（まめちょび/女性/40代）</span></li>
        <li><span class="text">元々セキセイインコは大好きでしたが、この方の動画を見てウロコインコの魅力を知ったので。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">飼い主さんの鳥さんへのこだわりと愛情が凄いです。勉強になります。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">編集が上手で見やすいです。</span><span class="info">（けろ/女性/20代）</span></li>
        <li><span class="text">飼い主さんの鳥への愛情が凄く感じられて、自分がセキセイインコを飼っているので参考にさせて頂いてます</span><span class="info">（ビヨちゃん/女性/40代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりが、あまちゃんみたいなノリで楽しい。</span><span class="info">（ちゃあこ/女性/40代）</span></li>
        <li><span class="text">何と言っても小鳥達への愛情と、栄養管理などが勉強になります。あとセキセイインコのうめちゃんのおしゃべりや歌と、ゴマちゃんの愛らしいしぐさ、一生懸命おしゃべりをしようとして頑張っているところも、何とも可愛くて癒されます。</span><span class="info">（ハリーママ８８/女性/50代）</span></li>
        <li><span class="text">編集がとても見やすい。</span><span class="info">（てぃ/女性/30代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりが楽しい！</span><span class="info">（ルルペコ/女性/50代）</span></li>
        <li><span class="text">うめちゃんの自由な感じが好きです</span><span class="info">（ソラ/女性/40代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりがとにかく可愛い！</span><span class="info">（まるみ/女性/50代）</span></li>
        <li><span class="text">ストーリー性のある動画がおもしろい！</span><span class="info">（みけ/女性/50代）</span></li>
        <li><span class="text">うめちゃんカワイイ、飼い主さんの愛が感じられる。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">梅ちゃんとゴマちゃんが可愛い！</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">編集が丁寧でとても見やすく、鳥と飼い主さんの幸せをわけてもらっている感じです。</span><span class="info">（はんべえ/女性/40代）</span></li>
        <li><span class="text">餌や飼育方法について、とても細かく解説していてわかりやすく、何度も参考にさせてもらった。本当に大切にされてるのが伝わってくる。</span><span class="info">（こーさん/女性/30代）</span></li>
        <li><span class="text">ウロコとセキセイの共存共栄</span><span class="info">（さぬきうどん/女性/30代）</span></li>
        <li><span class="text">うめちゃんとごまちゃんが可愛くて癒やされます。特にごまちゃんの健気なところが愛おしいです。</span><span class="info">（☆むにゅ☆/女性/40代）</span></li>
        <li><span class="text">うめちゃん、ごまちゃん、パセリちゃんみんな大好き！</span><span class="info">（るる/女性/20代）</span></li>
        <li><span class="text">ゴマとうめの毎日が癒し</span><span class="info">（コザクラインコのみかん/女性/50代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりに癒されます。うちにもセキセイインコがいるので、エサやおもちゃなど参考になることが多いです。</span><span class="info">（ぴよ/女性/50代）</span></li>
        <li><span class="text">2羽の絡む姿が可愛らしいから</span><span class="info">（ぺるころ/女性/10代）</span></li>
        <li><span class="text">USAの動画をきっかけに、見始めました。うめちゃんのアレンジ付きおしゃべり、ごまちゃんのほのぼのおしゃべり、全てが可愛いです！飼い主の方がお誕生日会を開いたり、旦那さんとも鳥さんたちと仲良さそうで、とても愛の感じられる動画だなと思います😊これからも楽しい動画、楽しみにしております！</span><span class="info">（ででぽ/女性/10代）</span></li>
        <li><span class="text">・前によく見ていた。・うめちゃんが飼い鳥と同じ品種、色種である。</span><span class="info">（ココ/女性/10代）</span></li>
        <li><span class="text">うめごまブラザーズとぱせりが可愛いから</span><span class="info">（Lily/女性/20代）</span></li>
        <li><span class="text">うめちゃんのセリフが絶妙。</span><span class="info">（カロン/女性/50代）</span></li>
        <li><span class="text">可愛い</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">インコ達の事を第一に考えている！参考になる事を教えて、アドバイス的に動画を編集〜その中で面白く楽しくさせてくれる。</span><span class="info">（空＆向日葵/男性/50代）</span></li>
        <li><span class="text">うめちゃんもごまちゃんもとても賢い！飼い主さんの動画編集のセンスもとても良いです！たまに出てくる旦那様がいい味だしてます。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">自分もセキセイインコを飼っているので、餌のことや病気のことなどとても参考になります！</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりが大好きです</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">おもちゃの作り方や愛鳥に対する接し方が◎</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">飽きない</span><span class="info">（インコ大好きJK/女性/10代）</span></li>
        <li><span class="text">小鳥の飼育の参考になります。</span><span class="info">（まりっぷ/女性/50代）</span></li>
        <li><span class="text">動画の編集などが凝っている</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">飼い主さんの、インコ達への愛情がとっても伝わってきます。あとごまちゃんの意思を伝えようとする行動がとても可愛いです。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">2羽がそれぞれ個性があって面白い。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ほのぼのとした感じがとても好きです</span><span class="info">（くぼやん/女性/20代）</span></li>
        <li><span class="text">喋りが面白い</span><span class="info">（masa/男性/50代）</span></li>
        <li><span class="text">愛が伝わってくる。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">小鳥の魅力を最大限感じられる素晴らしいチャンネル。飼い主さんの愛情の深さにいつも勉強させてもらっています。</span><span class="info">（はは/女性/40代）</span></li>
        <li><span class="text">うめちゃんのUSAにやられました！うめちゃん見てセキセイお迎えしました！その子はメスでしたが…。</span><span class="info">（ちゃあ藍/女性/50代）</span></li>
        <li><span class="text">おしゃべりの内容がすごく可愛い</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">梅ちゃん、ごまちゃんをとても大事に育てているのがわかります！</span><span class="info">（かんな/女性/50代）</span></li>
        <li><span class="text">大好き</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">鳥が苦手だった私が、こちらのチャンネルに出会い、初めて鳥の可愛さを知りました。編集の面白さや飼い主さんの優しさにいつも癒されています。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">うめちゃんのオシャベリが可愛いことと、ぴんふさんが小鳥達のために常に一生懸命であることが素晴らしいと思います。</span><span class="info">（DION/女性/50代）</span></li>
        <li><span class="text">うめちゃんのお喋りがとても上手で、たまに喋るごまちゃんも頑張って喋ってる姿がとても可愛い！</span><span class="info">（おかもそ/女性/20代）</span></li>
        <li><span class="text">私がインコを飼う きっかけになったのが 『ぴんふ』さんの動画でした。うめちゃんに出会わなければインコは飼ってなかったと思います。今、 ぴんふさん家はセキセイインコのうめちゃんとウロコインコのごまちゃんですが、以前にコザクラインコのパセリちゃんがいて、この子が本当にカワイかったんです🥰 ぴんふさんは最高です｡</span><span class="info">（九条のねぎちゃん/女性/40代）</span></li>
        <li><span class="text">自然な雰囲気。鳥さんの性格が伝わってくる。アドバイスもくれる。</span><span class="info">（♡/女性/10代）</span></li>
        <li><span class="text">うめちゃんのかわいさ</span><span class="info">（ゆかりん/女性/50代）</span></li>
        <li><span class="text">ためになる</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">大好きなチャンネルです❤</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">うめちゃんもごまちゃんも、亡きぱせりちゃんもみんな可愛い♪</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">とにかく面白い。編集が上手。とても大切に飼われているのが伝わる。</span><span class="info">（ぴよま/女性/50代）</span></li>
        <li><span class="text">編集が素晴らしい。飽きない。鳥の感情が伝わる。</span><span class="info">（ごん！/男性/50代）</span></li>
        <li><span class="text">種類の違う鳥さんの仲の良さと、飼い主さんの優しくて細やかなところ、なおかつ面白いところです。それ以外に餌やケアの仕方、手作りの工夫されたおもちゃなど、今、鳥さんを飼っている方は勿論、これから飼いたいと考えてる方々に参考になる部分が沢山あります。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">飼い主さんの優しさがとても伝わります</span><span class="info">（けん/男性/40代）</span></li>
        <li><span class="text">ぱせりちゃん、うめちゃん、ごまちゃん、とにかくとっても可愛い♡癒される動画ですね。</span><span class="info">（くろ/女性/10代）</span></li>
        <li><span class="text">賢いうめちゃん、優しいゴマちゃん、素敵なぴんふさん。見ていてホッとします。</span><span class="info">（かこ/女性/40代）</span></li>
        <li><span class="text">愛がいっぱいですてきです！</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">前にセキセイインコを飼っていたから懐かしい</span><span class="info">（セロナ/男性/50代）</span></li>
        <li><span class="text">すごく鳥たちの事を思って大事になさっている点がすきです。</span><span class="info">（みっちゃん/女性/70代〜）</span></li>
        <li><span class="text">うめちゃんのおしゃべりが好き</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">いろいろな企画が楽しい</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">間違いなくNo.1インコうめちゃん</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">うめちゃんとごまちゃんの関係性を主様がとてもよく理解してらして、それぞれのインコさんと主様のコミュニケーションも含め、ほっこりします… うめちゃんのお喋りも大好きです。</span><span class="info">（ぺち/女性/20代）</span></li>
        <li><span class="text">うめちゃんとごまちゃんがかわいい。飼い主さんのお人柄が素敵。</span><span class="info">（Nana Hacchi/女性/40代）</span></li>
        <li><span class="text">うめちゃんが可愛い。編集が面白い。</span><span class="info">（りらっち/女性/40代）</span></li>
        <li><span class="text">うめとごまの仕草が堪らなく可愛い！また、うめがよくしゃべるので、可愛すぎて癒されています。</span><span class="info">（rain/女性/40代）</span></li>
        <li><span class="text">うめちゃんがカワイイから</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">パセリの動画では涙が溢れます。うめちゃんのおしゃべりや歌に爆笑したり、涙したり、うめちゃんとゴマちゃんの距離感が凄いと感心します。主さん、ご主人ともに愛情をかけて育てていらっしゃることに感動します。</span><span class="info">（komugi/女性/50代）</span></li>
        <li><span class="text">うめちゃんのおしゃべりがおもしろ可笑しい！(笑) ごまちゃんは普段は控えめでマイペースでしゃべらないけど、しゃべってる動画見て、「可愛い！」って、ファンになりました！</span><span class="info">（マヒメ/女性/40代）</span></li>
        <li><span class="text">セキセイのうめがとても可愛い</span><span class="info">（momo7/女性/40代）</span></li>
        <li><span class="text">お喋りが可愛いから</span><span class="info">（しん/女性/30代）</span></li>
        <li><span class="text">飼い主さんの鳥への愛情がとても感じられる。編集もうまく楽しく癒される。</span><span class="info">（ぺんこ/女性/50代）</span></li>
        <li><span class="text">ゴマちゃんが可愛い</span><span class="info">（ままま/女性/20代）</span></li>
        <li><span class="text">星野源の歌にあわせてインコが2羽ノリノリで踊ってる姿がかわいいから。</span><span class="info">（ちーちゃんまま/女性/50代）</span></li>
        <li><span class="text">面白い</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">初めて見た鳥系youtubeでした。笑えます。ほっとします。癒されます。よくしゃべる！</span><span class="info">（yuhot/女性/40代）</span></li>
        <li><span class="text">陽気なインコ達とぴんふ男さんのキャラが良い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">トリYouTubeを見るきっかけになったチャンネルです。うめちゃんごまちゃんが可愛い！飼い主のぴんふさんが大事に育ててるのがよく分かります。</span><span class="info">（匿名さん/女性/30代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>