﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">あずちゃん(文鳥さん)がありえないくらいニギニギさせてくれてて羨ましい。飼い主さんとあずちゃんの愛情の絆が飼い主さんの「手」とあずちゃんの「飼い主さんの手に包まれてる小さな体」から伝わります。</span><span class="info">（雀/女性/30代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（37件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">文鳥かわいい！</span><span class="info">（はる/女性/50代）</span></li>
        <li><span class="text">文鳥を飼ったことが無いので、インコとはまた違った魅力を知ることができます。</span><span class="info">（くまえ/女性/50代）</span></li>
        <li><span class="text">飼い主さんの優しい手につつまれて、安心しきっているあずきちゃんが可愛い。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">文鳥が可愛い</span><span class="info">（あびにゃん/女性/40代）</span></li>
        <li><span class="text">可愛い</span><span class="info">（るる/女性/30代）</span></li>
        <li><span class="text">文鳥のかわいさが堪能出来る</span><span class="info">（ワンタン/女性/40代）</span></li>
        <li><span class="text">文鳥が好きだから</span><span class="info">（とんかな/女性/50代）</span></li>
        <li><span class="text">文鳥がとても人間にベタ慣れしていて、マッタリとしている文鳥の姿が動画で見れるのでもの凄く安らぎます。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">かわいい</span><span class="info">（アセアン/男性/10代）</span></li>
        <li><span class="text">なんか癒されるから</span><span class="info">（ゆきトリ/女性/30代）</span></li>
        <li><span class="text">ゆるいのが良い</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">自分も文鳥を飼っていて、まるで自分の文鳥を見ているようで癒される</span><span class="info">（イヴ/女性/10代）</span></li>
        <li><span class="text">あずきちゃん可愛い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">あずきの仕草かわいい</span><span class="info">（まお/女性/60代）</span></li>
        <li><span class="text">とにかく可愛い❗️</span><span class="info">（ニコニコちゃん★/女性/30代）</span></li>
        <li><span class="text">飼い主ににぎにぎされる姿がなんとも愛らしい</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">文鳥が好き</span><span class="info">（ケロ/女性/40代）</span></li>
        <li><span class="text">昔、家族だった子を思い出す。</span><span class="info">（きゅうべえパパ/男性/40代）</span></li>
        <li><span class="text">ひたすら癒されます</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">かわいい</span><span class="info">（こっさん/女性/40代）</span></li>
        <li><span class="text">あずきちゃんのもふもふ</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">私は文鳥を飼っているので、あずきちゃんが可愛いです。うちの文鳥さんはあんまり撫でさせてくれないので癒されてます。</span><span class="info">（あるふぁ/女性/10代）</span></li>
        <li><span class="text">あずきちゃん大好き</span><span class="info">（コロン/女性/40代）</span></li>
        <li><span class="text">ぶんころべぇのあずきちゃんが大好きです！私も文鳥を飼っているので。あずきちゃんと飼い主のお姉ちゃんが一緒に遊ぶ姿が最高に癒されます♪</span><span class="info">（小野/女性/20代）</span></li>
        <li><span class="text">文鳥ってこんなにベタ慣れするんだって初めて知りました。とにかく可愛い〜！癒やされます!</span><span class="info">（ふみ/女性/40代）</span></li>
        <li><span class="text">もみくちゃにされる文鳥をボーッといつまでも見ていられる癒し動画です。</span><span class="info">（クミホ/女性/30代）</span></li>
        <li><span class="text">文鳥さんたちの可愛さ。小2の息子も可愛いと言って夢中で見てます。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">自分も文鳥飼育してるので応援したい</span><span class="info">（ちゃあこ/女性/40代）</span></li>
        <li><span class="text">自分も、文鳥を飼っているから。</span><span class="info">（まど。/女性/10代）</span></li>
        <li><span class="text">文鳥好きなので…</span><span class="info">（ソラ/女性/40代）</span></li>
        <li><span class="text">文鳥さん系YouTubeの中でも見やすくてとても好きです。スッキリとした無駄のない動画の中に可愛さがギュッと詰まってます。隙間時間にちょうど良いです。</span><span class="info">（まるまる/女性/30代）</span></li>
        <li><span class="text">可愛いから。</span><span class="info">（y/女性/50代）</span></li>
        <li><span class="text">鳥さんのキャラ</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ただただ文鳥の小豆ちゃんが可愛い‼️それしか言いようがないです。すみません💧</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">自然な文鳥の仕草や行動が見られて楽しい</span><span class="info">（けん/男性/40代）</span></li>
        <li><span class="text">のんびりした雰囲気と、しっかりと責任感があるところ</span><span class="info">（ぺんこ/女性/50代）</span></li>
        <li><span class="text">かわいい</span><span class="info">（匿名さん/男性/50代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>