﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">のんびりまったりした動画で癒されます。ろーちゃんの歌や、こむぎちゃんのふわふわな感じもとてもかわいくて、よく見ています( › ·̮ ‹ )♡</span><span class="info">（れむれむ/女性/20代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（3件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">オカメが好きだから。</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">インコたちの会話が面白いです！</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">ろーちゃんが歌う姿がとても可愛いくて癒されます。</span><span class="info">（匿名さん/男性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>