﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">お話のキャッチボールが出来るし、とにかくお喋りやお歌が可愛い。一度見たら、人間の子どもみたいなこはくちゃんの可愛らしさの虜になります。</span><span class="info">（匿名さん/女性/40代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（205件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">観ていてすごく楽しいのとインコちゃんへの想いがすごい！どれたげコハクちゃんへの愛が強いかが分かる、コハクちゃんを本当に息子として育ててるのが素敵！！</span><span class="info">（Eri★/女性/20代）</span></li>
        <li><span class="text">動画の長さや構成がいいと思います。こはくちゃんかわいいですし、うちにもオカメちゃんがいるので、成長過程や飼育の参考になります。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">お歌が上手なオカメインコは多いけど言葉がハッキリ聞き取れて可愛いお声でお話しするオカメインコの「こはく」ちゃんがとにかく可愛いです＾＾</span><span class="info">（あくび/女性/40代）</span></li>
        <li><span class="text">こはくちゃんに対しての飼い主さんの愛情がたっぷりで優しくて見てて幸せになれます…！こはくちゃんが天才すぎる( *´︶`*)</span><span class="info">（Ree/女性/10代）</span></li>
        <li><span class="text">オカメの破壊力すごい！</span><span class="info">（おさかなママ/女性/40代）</span></li>
        <li><span class="text">こはくちゃんに癒やされる</span><span class="info">（なのか/女性/20代）</span></li>
        <li><span class="text">とにかく可愛らしく、ﾏｯﾀﾘしていて好きです。</span><span class="info">（ぷらむ/女性/50代）</span></li>
        <li><span class="text">コハクちゃんはおしゃべり上手でとても可愛いです。</span><span class="info">（すーる/女性/10代）</span></li>
        <li><span class="text">こはくちゃんがかわいいんです！オカメちゃんを飼いたくなります。</span><span class="info">（キキちゃん大好き/女性/40代）</span></li>
        <li><span class="text">おしゃべりが上手なコハクちゃんが、とにかく可愛い！</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">こはくちゃんが可愛い</span><span class="info">（まゆちゃん/女性/50代）</span></li>
        <li><span class="text">可愛いオカメインコのこはくちゃんのチャンネルは、気分が沈んだ時もいつも明るい気持ちにさせてくれて、ママとこはくちゃんのお話はオカメちゃんの中に人間が入ってる？と思うくらいです！</span><span class="info">（ぷに/女性/30代）</span></li>
        <li><span class="text">人間の心を持ったこはくちゃんにいつもいつも感動する。</span><span class="info">（ゆめこ/女性/40代）</span></li>
        <li><span class="text">こはくちゃんとにかく可愛いです🙋飼い主様の声が優しくて 癒されます。</span><span class="info">（はみたん/女性/50代）</span></li>
        <li><span class="text">コハクちゃんの『ダメでしょｯ！』が見たくて動画のupを楽しみにしています(笑)</span><span class="info">（pikachu_redcheeks/女性/50代）</span></li>
        <li><span class="text">こはくちゃんのおしゃべりが本当に可愛くて、場面に合ってて最高です。</span><span class="info">（ぴめい/女性/50代）</span></li>
        <li><span class="text">構成が良い</span><span class="info">（オタタ/男性/40代）</span></li>
        <li><span class="text">語尾が可愛い‪w‪wでし！</span><span class="info">（きほ/女性/10代）</span></li>
        <li><span class="text">コハクちゃんかわいい。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ミッキーマウスマーチを歌っている姿が可愛い</span><span class="info">（きょうさん/男性/10代）</span></li>
        <li><span class="text">こはくちゃんがただただ可愛すぎる♡</span><span class="info">（むっちゃん/女性/30代）</span></li>
        <li><span class="text">こはくちゃんがカワイイから</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">鳥のお茶目な動画が見られるし、飼い主と友達みたいな感じの雰囲気が伝わってくる編集が好きだから。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">オカメインコがかわいい</span><span class="info">（kanda100/男性/50代）</span></li>
        <li><span class="text">こはくちゃんの動きが可愛い&面白い！</span><span class="info">（にこりん/女性/20代）</span></li>
        <li><span class="text">毎日更新されていて為になる話をしているから</span><span class="info">（ようたん/男性/30代）</span></li>
        <li><span class="text">可愛らしい動きに癒やされます</span><span class="info">（Dai/男性/30代）</span></li>
        <li><span class="text">おしゃべりがとても上手なオカメさんです。我が家にオカメインコを迎えたいと決意したきっかけになりました。</span><span class="info">（やっちゃん/女性/50代）</span></li>
        <li><span class="text">一つ一つの喋ってるのが可愛いのとコハクちゃんの泣き真似がとっても上手！</span><span class="info">（イヴ/女性/10代）</span></li>
        <li><span class="text">こはくちゃんに癒されます🎵</span><span class="info">（なっつん/女性/20代）</span></li>
        <li><span class="text">オカメインコが、好きで登録してるから。</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">表情や豊かで、おしゃべりや歌がとにかく上手なオカメインコ。人間の赤ちゃんのように無邪気で、とにかく癒される。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">こはくちゃん可愛いです</span><span class="info">（うめわか/女性/20代）</span></li>
        <li><span class="text">こはくちゃんがインコちゃんじゃなく人間の子どものようです！そこがとても面白く可愛い！</span><span class="info">（そライムギ/女性/40代）</span></li>
        <li><span class="text">オカメインコが喋るのが可愛い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">歌うようにしゃべるコハクちゃんがとても可愛いです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">こはくちゃんのおしゃべりがかわいい。</span><span class="info">（saa/女性/30代）</span></li>
        <li><span class="text">こはくちゃんのお喋り、行動全部可愛い</span><span class="info">（むうこ/女性/60代）</span></li>
        <li><span class="text">オカメインコ大好きなので💖</span><span class="info">（りん/女性/40代）</span></li>
        <li><span class="text">オカメサンの可愛い声に癒やされます</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">おしゃべりから行動全てが可愛い！ウチのオカメには出来ない事ばかりで羨ましい</span><span class="info">（Jun/女性/50代）</span></li>
        <li><span class="text">可愛すぎてキュンキュンする🐥💕</span><span class="info">（エンくん/女性/40代）</span></li>
        <li><span class="text">こはくちゃん、癒やされる。飼い主さんの愛情深さを感じる。</span><span class="info">（へとちゃん/女性/50代）</span></li>
        <li><span class="text">コハクちゃん、可愛い。愛情たっぷりのチャンネルです。</span><span class="info">（ゆう/女性/40代）</span></li>
        <li><span class="text">こはくちゃんがとにかく可愛いです。おしゃべりも上手ですし‥</span><span class="info">（けんたろう。/男性/50代）</span></li>
        <li><span class="text">オカメインコを飼いたくても飼えないので、こはくちゃんをみてる</span><span class="info">（さななん/女性/40代）</span></li>
        <li><span class="text">コハクちゃんの可愛い声と仕草に癒されます</span><span class="info">（プリンの匂い/女性/40代）</span></li>
        <li><span class="text">こはくちゃんがかわいすぎる。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">毎日投稿で可愛らしいです。わん！！ぴよぴよ！！とお喋りする姿が大好き！！！</span><span class="info">（鳥が好き学生。/女性/10代）</span></li>
        <li><span class="text">おしゃれで可愛い！</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">可愛いから。</span><span class="info">（じゅんちゃん/女性/30代）</span></li>
        <li><span class="text">オカメインコの可愛さはさることながら、編集が上手いため。</span><span class="info">（とりぴっぴ/男性/30代）</span></li>
        <li><span class="text">声真似がユニーク。とにかく可愛い。癒される。飼い主さんのアイディア作品が素敵。効果音もおもしろい。</span><span class="info">（どら/男性/30代）</span></li>
        <li><span class="text">芸達者でかわいいコハクちゃんや、飼い主のママさんの声が優しくて癒されてます。</span><span class="info">（結祈/女性/40代）</span></li>
        <li><span class="text">おしゃべりがかわいい</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">こはくちゃんの「コラっダメでしょ」にはまった。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">KOHAKU is just so adorable. I could watch his videos everyday.😊</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">飼い主さんのインコに対する接し方が素晴らしい。叱り方も優しく諭すようで見ていて不快にならない。</span><span class="info">（froggy/女性/40代）</span></li>
        <li><span class="text">毎日見て楽しんでます！</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">こはくちゃんの行動等がとてもかわいく癒されます</span><span class="info">（たか/女性/40代）</span></li>
        <li><span class="text">芸達者なこはくちゃんがとにかくかわいいです</span><span class="info">（さと/女性/20代）</span></li>
        <li><span class="text">人間の言葉を理解しているかのようなコハクちゃんが可愛くて仕方なく毎日動画を繰り返し見ているので。</span><span class="info">（レモン/女性/50代）</span></li>
        <li><span class="text">コハクちゃんの姿、表情にいつも癒されます。状況に合わせたお喋りは賢くて凄いし、何度でも見たくなり、見ると笑顔になります。</span><span class="info">（すみっこばらぐらし/女性/50代）</span></li>
        <li><span class="text">コハクちゃんの無邪気さとママさんの愛情深さが良い！コハクちゃんのおしゃべりがとても可愛いです</span><span class="info">（えむちゃん/女性/40代）</span></li>
        <li><span class="text">喜怒哀楽が面白い。</span><span class="info">（鉄腕/女性/50代）</span></li>
        <li><span class="text">こはくちゃんを見るだけで元気と癒しを貰えるから</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">こはくちゃんがとっても可愛いです！！声もおしゃべりも動きも毎日癒されます♫</span><span class="info">（りょうぶ/女性/30代）</span></li>
        <li><span class="text">オカメインコ可愛い</span><span class="info">（Sora/女性/30代）</span></li>
        <li><span class="text">おしゃべりが可愛い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">コハクちゃんのおしゃべり、かわいい仕草が大好き。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">飼い主さんの愛情たっぷりで育てられている、こはくちゃんが可愛いです。茶目っ気があり、見てて飽きません。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ほのぼのとしていいから。</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">自分もオカメインコを飼ってるし、何より癒されます。</span><span class="info">（はるか/女性/20代）</span></li>
        <li><span class="text">こはくちゃんのお喋りが大好き💕</span><span class="info">（ハク チャピ ピノ/女性/40代）</span></li>
        <li><span class="text">キユーピーノリノリ</span><span class="info">（きゅうべえパパ/男性/40代）</span></li>
        <li><span class="text">こはくちゃんのおしゃべりがとても可愛い(*≧з≦)</span><span class="info">（琥珀/女性/50代）</span></li>
        <li><span class="text">オカメの可愛らしさが良くわかる</span><span class="info">（もも吉/女性/50代）</span></li>
        <li><span class="text">ルチノーが多い中、ノーマルのオカメインコの様子が見れるので。</span><span class="info">（shu-mi/女性/30代）</span></li>
        <li><span class="text">こはくちゃんの歌い方が可愛い♪</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">愛情一杯さを感じる</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">お喋り上手な所</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">とにかくこはくちゃんが可愛い！癒やされます。</span><span class="info">（toko/女性/40代）</span></li>
        <li><span class="text">コハクちゃんがとにかくかわいい😊そして、ママちゃんの作品が素敵👏🏻💫パパさんの優しさもいい👍</span><span class="info">（ハル/女性/40代）</span></li>
        <li><span class="text">コハクちゃんを観ていると自然と笑顔になる‼︎癒される‼︎</span><span class="info">（キヒメ/女性/40代）</span></li>
        <li><span class="text">とにかくかわいい❗</span><span class="info">（R/女性/40代）</span></li>
        <li><span class="text">コハクちゃんに癒されてます💖</span><span class="info">（匿名さん/女性/70代〜）</span></li>
        <li><span class="text">とにかくかわいい</span><span class="info">（himecoco/女性/40代）</span></li>
        <li><span class="text">コハクちゃんは、とってもおしゃべりやお歌が上手で、そしてとても楽しそうにおしゃべりします。ママちゃんや、パパちゃんのことが大好きで、一緒にいっぱい遊んで、歌って、そんな姿がとても可愛いです。まるでその言葉の意味が分かってるかのようにおしゃべりするところがすごいと思います。ママちゃんがいなくなると、呼び鳴きしているところがまた愛らしいです！コハクちゃんと、ママちゃん、パパちゃんの動画を見ると、心があたたかくなります。私の最近の癒しです。本当にコハクちゃんは、ママちゃんパパちゃんが大好きなんだなと動画を見ると思います。コハクちゃんは愛がいっぱいの鳥さんです！ずっと大好きです。</span><span class="info">（おりゅん/女性/10代）</span></li>
        <li><span class="text">こはくちゃんの「コラコラコラ、チッ、ダメでしょ。」が可愛くて大好きです🎵</span><span class="info">（しょーママ/女性/40代）</span></li>
        <li><span class="text">こはくちゃんが可愛い。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">こはくちゃんのおしゃべりがかわいくて、家のコにも真似して話しかけたりしてみてます。</span><span class="info">（いさ/女性/10代）</span></li>
        <li><span class="text">もっと人気でてほしい</span><span class="info">（こっさん/女性/40代）</span></li>
        <li><span class="text">飼い主さんの鳥に対する愛情、それを鳥さんもちゃんと感じとっている、相思相愛な関係に見ていて癒されます。</span><span class="info">（ちいぱっぱ/女性/40代）</span></li>
        <li><span class="text">コハクちゃんが人間の子どもみたいなところ</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">上品で可愛い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">こはくちゃんは飼い主さんによく似たとても可愛い声で、何とも愛らしい。</span><span class="info">（saly0505/女性/50代）</span></li>
        <li><span class="text">こはくちゃんの「だめでしょ、めっ！」とかのおしゃべりがかわいいし、鳥系動画の中で一番イケメンおかめだから。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">鳥さんってこんなに表情あるんやなって思いました。笑ったり、怒ったり、拗ねたり、喜んだり、それを飼い主さんがちゃんと見守ってる感じがする。「コハク」さんの名前も好きです。</span><span class="info">（雀/女性/30代）</span></li>
        <li><span class="text">同じ鳥種と暮らしていて､自分の鳥との共通点や相違点が､とても面白く視聴できるので｡鳥系You Tubeの中でも､編集が気に入っているという事もあります｡</span><span class="info">（空丸みん/女性/50代）</span></li>
        <li><span class="text">こはくちゃんのおしゃべり大好きです。ほっこりさせてもらってます。</span><span class="info">（とーもーさん/女性/50代）</span></li>
        <li><span class="text">オカメちゃんが好き。こはくちゃんが好きなので</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">かわいい</span><span class="info">（SiN/女性/10代）</span></li>
        <li><span class="text">コハクちゃんの"こんにちは"がとても可愛いです。</span><span class="info">（モモタロウ侍/女性/50代）</span></li>
        <li><span class="text">コハクちゃんにダメでしょ！と叱られてみたい（笑）可愛すぎる(≧∇≦)</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">我が家のインコが喜んで動画を見るから</span><span class="info">（しほ/女性/40代）</span></li>
        <li><span class="text">こはくちゃんの「あはははは」という幼い人間の子どもみたいな声がすごく可愛いです。バイクのエンジンみたいな"フルスロットル"の動画には大笑いさせてもらいました。</span><span class="info">（マメルリハの飼い主ともとも/女性/30代）</span></li>
        <li><span class="text">お話がとっても上手なオカメちゃんに毎回笑わせていただいています。</span><span class="info">（ゆぅきちゃん/女性/40代）</span></li>
        <li><span class="text">とにかく こはくちゃんは、 声もしぐさもとっても可愛いです。飼い主のママさんのこはくちゃんへの愛情も凄く伝わって来ます。見てると、とてもほっこりした気持ちになり元気を貰えます✨</span><span class="info">（ぽぽはる/女性/50代）</span></li>
        <li><span class="text">オカメ…可愛いです😍</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">こはくちゃんがとにかく可愛い❤️こはくちゃんのダメでしょ、メッが可愛い❤️</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ちゃんと言葉を使い分けて、喜怒哀楽がハッキリとしているところ。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">こはくちゃんのおしゃべりが可愛い。喋れるオカメインコは今まであまり見なかったので、目新しい気がする。飼い主さんと意思疎通が出来ている気がするところも、面白い。</span><span class="info">（あさひ/女性/30代）</span></li>
        <li><span class="text">こはくちゃんが、めちゃくちゃ可愛いから</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">こはくちゃんのお喋りが可愛すぎる！</span><span class="info">（みちこ/女性/40代）</span></li>
        <li><span class="text">こはくちゃんが可愛すぎて可愛いすぎて…</span><span class="info">（ももこて/男性/40代）</span></li>
        <li><span class="text">オカメインコさん、私が一番好きなインコちゃんです。「家もそうそう！」と思いながら見てます。</span><span class="info">（こっこまり。/女性/50代）</span></li>
        <li><span class="text">可愛い、癒される</span><span class="info">（えいぴ/女性/40代）</span></li>
        <li><span class="text">コハクちゃんの人間の子どものような立ち振る舞いに仰天！かわいすぎ！</span><span class="info">（どこかの鳥好き/女性/20代）</span></li>
        <li><span class="text">こはくちゃん、表情もコロコロかわるし、おしゃべりも最高に可愛いです。いつも癒されています。ダメでしょ‼︎めっ‼︎可愛い過ぎて、キュン死にします‼︎</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">編集が丁寧で画像もキレイ。こはくちゃんへの愛情が画面越しにも伝わってくる大好きなチャンネルです。</span><span class="info">（かめちゃん/女性/40代）</span></li>
        <li><span class="text">我が家もオカメインコを飼っているのでシンパシーを感じる。よそのオカメインコはこんな仕草をするんだなぁと感心する。</span><span class="info">（えーえす/男性/40代）</span></li>
        <li><span class="text">おしゃべり上手なこはくちゃんにメロメロです</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ずっと、こはくちゃんの成長を見守っています。笑ったり泣いたり怒ったり寂しがったり、ママちゃんとパパちゃんの、本当に子どもみたいで、自分もあんな子を育てられたらな～と、いつも思って観ていて、毎回UPされるのを楽しみにしているので。これからも応援したい鳥YouTuberさんです。最後のアニメ？もかわいいです。</span><span class="info">（ぺん子/女性/40代）</span></li>
        <li><span class="text">オカメインコが好き、こはくちゃん可愛い。</span><span class="info">（はる/女性/50代）</span></li>
        <li><span class="text">コハクちゃんとママさんのお喋りがクセになります(*´ω｀*)</span><span class="info">（まいまいぷー/女性/30代）</span></li>
        <li><span class="text">おしゃべりインコのコハクちゃんのほのぼの動画が、面白い。</span><span class="info">（ポンあきインコ/男性/40代）</span></li>
        <li><span class="text">こはくちゃんは、まずお顔がめちゃめちゃかわいい！正面の傾げ顔がたまりません！オカメちゃんは動きもかわいいですし。おしゃべりも、ポーズつきで まーかわいい！甘えたサンな感じもいいですねー。おしゃべりも賢くてかわいくてーたまんないです！</span><span class="info">（どうち/女性/40代）</span></li>
        <li><span class="text">いつも癒してもらってます</span><span class="info">（あらし/女性/50代）</span></li>
        <li><span class="text">今まではオカメインコさんが言葉をはっきりと話しているところなど聞いたことがなかったので初めてみた時に、ご家族の方とのコミュニケーションが丁寧で楽しいからなんだろうなあと幸せな気持ちになりました！お歌なども上手に歌ったりそれに合わせて字幕など細かく編集がなされているところに感心・感動しました。私の家でも少し違いはありますが、セキセイインコさんを飼っているので、こはくちゃんみたいに可愛いおしゃべりが一緒にできるように遊びながら練習したいと思いました！！！</span><span class="info">（さなか/女性/10代）</span></li>
        <li><span class="text">「こはく」ちゃんのおしゃべり動画は楽しく、ほのぼのとしていて面白い。飼い主の動画編集も巧で小気味よい。</span><span class="info">（ポンあきインコ/男性/40代）</span></li>
        <li><span class="text">コハクちゃんがとにかく可愛いです。時間も長すぎず、頻繁にアップしてくれるので、飽きずに見られます。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">おしゃべりがとっても上手なオカメちゃんなので、動画を見てるだけで癒されるし楽しいからです！</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">お話上手で、表情豊かでとにかくカワイイ！コ飼い主さんの愛情たっぷりな接し方もステキですね！</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">とにかく こはくちゃんのおしゃべりや表情に癒やされます！飼い主さんの愛情もとっても伝わってきて楽しく見ています。</span><span class="info">（みぃ姐さん/女性/40代）</span></li>
        <li><span class="text">ママさんの手作りが素敵すぎます</span><span class="info">（レモンぴぃ/女性/40代）</span></li>
        <li><span class="text">最近拝見しました。とってもかわいい声でおしゃべりします。</span><span class="info">（いずみゃお/女性/30代）</span></li>
        <li><span class="text">とにかくかわいらしくて、飼い主さんの愛情を感じられるので。</span><span class="info">（Niniata/女性/40代）</span></li>
        <li><span class="text">ちょうどオカメインコを飼いたいなあと思い始めた時に出会い、そのまま、憧れのオカメインコとなり、ついに、私もオカメインコを飼いました。名前も似ています。同じ歌も歌って欲しくてコハク先生だよ〜って見せてます。</span><span class="info">（える/女性/30代）</span></li>
        <li><span class="text">可愛いから</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">こはくちゃんがかわいいし、編集も一生懸命だなあ。と。</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">人間と鳥という枠を超えて心から家族になっていて、お互いがお互いにとって大切な存在である事が伝わる。見ていていつもほっこりします。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">オカメインコで喋れる個体はあまり多くはないですが、こはくちゃんはなんとお喋りができるオカメインコさんで可愛いくて可愛くて可愛いからです！！(理由になってるかな笑)</span><span class="info">（るふれ/女性/10代）</span></li>
        <li><span class="text">こはくちゃんのお喋りや仕草が可愛くて癒されます</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">よく喋って愛嬌抜群</span><span class="info">（Earl Grey/女性/20代）</span></li>
        <li><span class="text">とにかくかわいい。</span><span class="info">（ぺこ/男性/40代）</span></li>
        <li><span class="text">癒される</span><span class="info">（とりのこ/女性/30代）</span></li>
        <li><span class="text">鳥さんの色合いが他の子には無い可愛さがあります。</span><span class="info">（tomo/女性/30代）</span></li>
        <li><span class="text">可愛らしい姿に癒されます</span><span class="info">（ナナコ/女性/40代）</span></li>
        <li><span class="text">こはくちゃんを見てるだけてで癒しです。✨</span><span class="info">（そあら/女性/40代）</span></li>
        <li><span class="text">こはくちゃんが可愛い&動画がとても見やすい</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">だめでしょ！が好きすぎる。。。</span><span class="info">（マナカ/女性/20代）</span></li>
        <li><span class="text">こはくちゃんのおしゃべりが楽しいです。</span><span class="info">（rey/女性/60代）</span></li>
        <li><span class="text">琥珀ちゃんおしゃべりすごい！</span><span class="info">（茶葉/女性/10代）</span></li>
        <li><span class="text">オカメさんはあまりお話しない印象でしたが、コハクちゃんはお話がとっても上手で♡家族から愛されてすくすく育っているのを見ているととても癒やされます。</span><span class="info">（みなみ/女性/20代）</span></li>
        <li><span class="text">こはくちゃんの声が可愛い。癒される。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">こはくちゃんが色々おしゃべりしていてとっても可愛い！そして賢い！</span><span class="info">（ごん/女性/20代）</span></li>
        <li><span class="text">こはくちゃんのおしゃべりが可愛いく、飼い主さんもこんなふうに毎日、話しかけてるのかなって伝わる。</span><span class="info">（たれみみ/女性/40代）</span></li>
        <li><span class="text">飼い主の愛情が伝わる</span><span class="info">（れお/女性/40代）</span></li>
        <li><span class="text">家にもオカメインコが居るので、共感しながら楽しく視聴しています。</span><span class="info">（ふみ/女性/40代）</span></li>
        <li><span class="text">こはくちゃんが可愛い</span><span class="info">（Ibee/女性/50代）</span></li>
        <li><span class="text">オカメなのにハッキリ喋るコハクちゃんがかわいい動画です。</span><span class="info">（クミホ/女性/30代）</span></li>
        <li><span class="text">こはくちゃんが とにかく可愛い❣️おしゃべりがとても上手ですが、ただの物まねではなく、言葉を理解してお話してるように感じます。</span><span class="info">（kiki/女性/50代）</span></li>
        <li><span class="text">飼い主が優しい。動画の作りが丁寧。</span><span class="info">（匿名さん/男性/30代）</span></li>
        <li><span class="text">だめでしょー！と叱るインコの姿がかわいくて、何度も見てしまいます。オカメはしゃべらないと思っていましたが、印象が変わりました(*^^*)</span><span class="info">（るいちゃん好き/女性/30代）</span></li>
        <li><span class="text">優しいママさん💕💕</span><span class="info">（3103🐤🐤/女性/50代）</span></li>
        <li><span class="text">コハクちゃんが可愛い。喋るので面白い。一目惚れ。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">こはくちゃんがとてもとてもかわいいです。おしゃべりも上手で、なんだかやんちゃな男の子みたい。こはくママさんはとても画像編集も上手で、色々なコハクちゃんを見られます。</span><span class="info">（ビトー/女性/40代）</span></li>
        <li><span class="text">こはくちゃんが可愛いのはもちろん、ママさんの愛情いっぱいが伝わってきて、とても微笑ましくて癒されます。ご機嫌な時もですが、ダメでしょ！チッと、怒ってる時のこはくに笑ってしまいます。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">コハクちゃんのお喋りが可愛く楽しい！</span><span class="info">（やっこ。/男性/40代）</span></li>
        <li><span class="text">おしゃべりが可愛い</span><span class="info">（ナギ/30代）</span></li>
        <li><span class="text">とにかくかわいい</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">フンワカした雰囲気が大好き💓♥️❤️</span><span class="info">（リコッコ/女性/40代）</span></li>
        <li><span class="text">最近おすすめで出てきて、コハクちゃんに「コラコラダメでしょ！」って飼い主さんが叱られている動画を見て、可愛すぎてリピート再生させてもらってます！すっかり虜になってしまいました！</span><span class="info">（縷々/女性/30代）</span></li>
        <li><span class="text">コハクちゃんが可愛すぎ、大好きです！芸達者なオカメインコに癒されます。</span><span class="info">（そらなのひあお/女性/30代）</span></li>
        <li><span class="text">こはくちゃんが可愛いから</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">こはくちゃんが動くだけで可愛い❤️</span><span class="info">（みぃこ/女性/30代）</span></li>
        <li><span class="text">オカメインコのこはくちゃんが、こんにちは、(呼びなきの)えーん等言っているのが、かわいいです。イラストや始まりや終わりの音楽含めた編集も、安心してみれるので、素敵です。</span><span class="info">（katy/女性/40代）</span></li>
        <li><span class="text">鳥さんの声が可愛い</span><span class="info">（Ｍ/女性/40代）</span></li>
        <li><span class="text">オカメインコ賢い。</span><span class="info">（そばごめ/男性/30代）</span></li>
        <li><span class="text">小さい子どもみたいなこはくちゃんに、幸せにしてもらっています！</span><span class="info">（ちゃ/女性/50代）</span></li>
        <li><span class="text">我が家にもオカメが居て共感できる部分や笑える部分が沢山あり、ついつい見てしまいます♪なによりこはくちゃんが可愛い過ぎます！</span><span class="info">（泰ちゃんママ/女性/30代）</span></li>
        <li><span class="text">ダメでしょ！がかわいい</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">お喋りがすごく可愛いから</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">かわいい</span><span class="info">（匿名さん/女性/70代〜）</span></li>
        <li><span class="text">オカメインコのこはくちゃんのお喋りが本当に可愛い。癒されています。うちにいたオカメちゃんが失踪し（家族の不注意で逃がしてしまい）こはくちゃんが始まって以来のファンで何度も見てます。(⋈◍＞◡＜◍)。✧♡</span><span class="info">（ハリーママ８８/女性/50代）</span></li>
        <li><span class="text">とても癒されます。編集がとても興味深くて毎日引き込まれてしまいます。最高にかわいいです。</span><span class="info">（Michiko/女性/60代）</span></li>
        <li><span class="text">こはくちゃんのおしゃべりがとてもかわいい</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">こはくちゃんのおしゃべり方が好き！</span><span class="info">（ルルペコ/女性/50代）</span></li>
        <li><span class="text">コハクちゃんが可愛すぎる！おしゃべりできるオカメインココハクちゃんを見てオカメを飼いたくなった。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">オカメを飼っているからです！</span><span class="info">（ちゃあ藍/女性/50代）</span></li>
        <li><span class="text">ただただコハクちゃんが可愛くて癒されます</span><span class="info">（eko/女性/60代）</span></li>
        <li><span class="text">コハクちゃんが凄い可愛い！インコじゃなくて人間の子どもなんじゃないか？と思ってしまうw家族でよく見て癒されています！</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">可愛い！！</span><span class="info">（ゆたか/男性/40代）</span></li>
        <li><span class="text">こんなによくしゃべるオカメは見たことがない！うちのロンちゃんにもおしゃべりを教えてみたい！</span><span class="info">（セロナ/男性/50代）</span></li>
        <li><span class="text">賢いこはくちゃんのファンです。</span><span class="info">（ぴょい/女性/60代）</span></li>
        <li><span class="text">コハクちゃんのおしゃべりや行動が飼い主さんのお人柄と合わさって魅力的です。飼い主さんの手芸やデザインのセンスも素敵で、いろいろ工夫もされていて、動画としてのクオリティは大変高いと思います。</span><span class="info">（Nana Hacchi/女性/40代）</span></li>
        <li><span class="text">オカメインコはあまりしゃべらないイメージだったから、こはくちゃんを初めて見たときはこんなにおしゃべりだったんだ！って、驚きました！声も可愛いし、賢いし、オカメインコ飼いたくなっちゃいます～。</span><span class="info">（マヒメ/女性/40代）</span></li>
        <li><span class="text">私の大好きなオカメちゃんが色々お喋りして楽しい。</span><span class="info">（momo7/女性/40代）</span></li>
        <li><span class="text">こはくちゃんとお母さんの笑い声聞いてるだけで幸せになれます♪</span><span class="info">（syokopy/女性/40代）</span></li>
        <li><span class="text">コハクちゃんがかわいい</span><span class="info">（ままま/女性/20代）</span></li>
        <li><span class="text">かわいい</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">コハクちゃんのおしゃべりが秀逸！飼い主さんとのやりとりが人間の子どもと思ってしまうほど。</span><span class="info">（松華堂弁当/女性/40代）</span></li>
        <li><span class="text">こはくちゃんがすごく可愛い。</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">こんにちは コハクちゃん すごく可愛い 可愛い顔してる</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">オカメインコを自分も飼っているので観ていて勉強にもなるし、何よりこはくちゃんが可愛くて癒される。</span><span class="info">（クマクマ/女性/50代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>