﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">とにかくママさんがとても元気で、動物たちへの愛情が素晴らしくて、見ている私も幸せな気持ちになります。私も多頭飼いなのでとても親近感が湧きます。大好きなチャンネルです。</span><span class="info">（うまのほっぺ/女性/40代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（2件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">動物みんな可愛いw</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">私が大好きでずっとみているチャンネルです。</span><span class="info">（インコ好き/女性/20代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>