﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">おすすめ動画で拝見して以来、コザクラ・オカメ・文鳥と面白い飼い主さんに笑わせてもらってます！よもぎと飼い主さんのやりとりが面白いです(笑)</span><span class="info">（縷々/女性/30代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（51件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">よもぎちゃん、きなこちゃん、こごめちゃん、三羽の放鳥風景と飼い主よもクローバーさんとのやり取りが面白いです。鳥さんの心の声（アテレコ）も絶妙で、コントを見ているようでとても楽しいです。</span><span class="info">（ビトー/女性/40代）</span></li>
        <li><span class="text">飼い主さんの独特の小芝居が面白い。</span><span class="info">（froggy/女性/40代）</span></li>
        <li><span class="text">気性の強いコザクラインコとよもクローバーさんの触れ合いに笑わせてもらっている。多種3羽のそれぞれの性格が面白く、興味深い。3種とも仲良くなりたいという愛情を感じ、次の投稿が気になる。</span><span class="info">（ちーこ/女性/40代）</span></li>
        <li><span class="text">見てるとほっこりします。YouTubeの他のチャンネルと比べて放鳥風景をそのまま見てるかのような、のんびりとした映像が多い気がして好きです。</span><span class="info">（chie/女性/20代）</span></li>
        <li><span class="text">文鳥だけでなく、オカメインコとコザクラインコのやり取りがとても好きで、いつも拝見しています！！</span><span class="info">（もこるぴ/女性/20代）</span></li>
        <li><span class="text">よもぎちゃん、きなこちゃん、こごめちゃんと飼い主さんの微妙な距離感が面白い。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">主のトークがおもしろい。ツンデレ小桜ちゃん、独占したい文鳥ちゃん、おしゃべり上手なおかめちゃん。</span><span class="info">（ワンタン/女性/40代）</span></li>
        <li><span class="text">見ていてほのぼのした気持ちになれるし、コメントがおもしろいからです。</span><span class="info">（りか/女性/40代）</span></li>
        <li><span class="text">面白い飼い主さんと小鳥たちのやり取りが微笑ましく癒されます。</span><span class="info">（ごこくまい/女性/20代）</span></li>
        <li><span class="text">字幕が面白いからです</span><span class="info">（きほ/女性/10代）</span></li>
        <li><span class="text">うちのコザクラインコも、よもぎなので（笑）</span><span class="info">（まさ/男性/50代）</span></li>
        <li><span class="text">小桜大好き</span><span class="info">（まっちゅん/女性/40代）</span></li>
        <li><span class="text">飼い主さんのキャラが最高！</span><span class="info">（むっちゃん/女性/30代）</span></li>
        <li><span class="text">中型インコがかわいい</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">身近に感じられる、鳥との距離が好き! ほわぁ〜と叫ぶ声が何とも言えず、笑えます!</span><span class="info">（おかん/女性/50代）</span></li>
        <li><span class="text">シンプルで楽しい。</span><span class="info">（hagi/女性/30代）</span></li>
        <li><span class="text">こごめのかわいさが魅力的</span><span class="info">（Dai/男性/30代）</span></li>
        <li><span class="text">インコ達に成りきった吹き出しが面白くて…(*´ω｀*)</span><span class="info">（やっちゃん/女性/50代）</span></li>
        <li><span class="text">文鳥、オカメインコ、コザクラインコの組み合わせが可愛い！編集の仕方がとても面白い</span><span class="info">（イヴ/女性/10代）</span></li>
        <li><span class="text">コザクラ好きだから</span><span class="info">（あきこ/女性/40代）</span></li>
        <li><span class="text">飼い主さんと少しずつ仲良くなっていくところがいい。オカメインコのきなこの行動が可愛いくて面白いと思うから！</span><span class="info">（味噌汁/女性/10代）</span></li>
        <li><span class="text">オカメインコと、コザクラインコつながりから。</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">コザクラインコが好きなので</span><span class="info">（うめ4/女性/30代）</span></li>
        <li><span class="text">観ていて楽しい</span><span class="info">（マーブル/男性/40代）</span></li>
        <li><span class="text">なんかゆる〜い感じがいいです。</span><span class="info">（けんたろう。/男性/50代）</span></li>
        <li><span class="text">鳥たちの会話を忠実に再現出来ていてとても面白い</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">鳥たちの自然体の様子が見れて好きです</span><span class="info">（プリンの匂い/女性/40代）</span></li>
        <li><span class="text">みんなで散歩している姿が可愛い</span><span class="info">（ねむむ/女性/50代）</span></li>
        <li><span class="text">よもぎちゃんもきなこちゃんもこごめちゃんも可愛く撮られているのと、飼い主さんがそれぞれの子たちを可愛がっているのが伝わってくる動画なので。</span><span class="info">（とりこ/女性/30代）</span></li>
        <li><span class="text">お家に居てるコザクラインコちゃんが出てくるから</span><span class="info">（まひろん/女性/40代）</span></li>
        <li><span class="text">面白い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">三羽のやり取りがすごく面白い</span><span class="info">（えむちゃん/女性/40代）</span></li>
        <li><span class="text">よもぎちゃんもきなこちゃんもこごめちゃんも、性格が全然違くていいバランスで見ていて飽きません。</span><span class="info">（りょうぶ/女性/30代）</span></li>
        <li><span class="text">鳥さんと飼い主さんのやり取り</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ここは他より喧嘩してる印象が強いけど、飼い主さんのそれに対しての反応が上手。</span><span class="info">（いさ/女性/10代）</span></li>
        <li><span class="text">面白いです🎵</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">オカメ、コザクラ、文鳥３羽の可愛い様子が見られてアップ主さんも面白い</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">飼い主さんが良いキャラクターです。</span><span class="info">（まいまいぷー/女性/30代）</span></li>
        <li><span class="text">とにかく、個性派の3羽に翻弄されっぱなしのよもクロさんに、いつも笑わされています。子守唄を歌ってあげてしまうとこなんか最高です！</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">飼い主様の三羽への鳥愛が、面白く、明るく、可愛らしく、観ずにはいられません！</span><span class="info">（レモンぴぃ/女性/40代）</span></li>
        <li><span class="text">癒される</span><span class="info">（とりのこ/女性/30代）</span></li>
        <li><span class="text">コザクラインコ、オカメインコ、文鳥という組み合わせが新鮮で楽しく、飼い主さんもユーモアがあって面白いからです！</span><span class="info">（ゆいん/女性/20代）</span></li>
        <li><span class="text">オカメインコさんのおしゃべり</span><span class="info">（Ｍ/女性/40代）</span></li>
        <li><span class="text">文鳥が好き</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">北海道のToutuberさんで、鳥に関わらずに、アプリなども開発されたりと幅が広い。同郷を応援中！鳥さんと主さんの絡みもおもしろいです。</span><span class="info">（ハリーママ８８/女性/50代）</span></li>
        <li><span class="text">割とゆるーい感じな飼主さんと3羽の関係が楽しい</span><span class="info">（コザクラインコのみかん/女性/50代）</span></li>
        <li><span class="text">うちの子も同じ事をするなぁーと微笑ましい</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">三羽と飼い主の愉快な掛け合いに癒されたりハラハラしたり、鳥の性格や習性の違いがもたらすドタバタに振り回される飼い主あるあるが共感できます。</span><span class="info">（まめたろうぱぱ/男性/40代）</span></li>
        <li><span class="text">音楽に合わせたりして動いたり、ニギコロをネタにした動画を出しているが鳥さんで遊んでいるのではなく、三羽平等の愛。</span><span class="info">（♡/女性/10代）</span></li>
        <li><span class="text">主さんのイケボとインコ達のわちゃわちゃした空間が面白くて可愛い</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">小桜がかわいくて!</span><span class="info">（さきのり/男性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>