﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">『志村どうぶつ園』でるいちゃんを観てから涙が出るほど笑いました。何回観てもるいちゃんの「お とこ～♪」のこぶしに笑顔を貰えます。</span><span class="info">（koyomiっち🐦/女性/40代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（16件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">おしゃべり上手なヨウムさんです。</span><span class="info">（さわちん/男性/40代）</span></li>
        <li><span class="text">自由なお喋りと歌が面白い。</span><span class="info">（鉄腕/女性/50代）</span></li>
        <li><span class="text">るいちゃんの、優しい親戚のおばさんのような語りかけのお気楽ハッピートークが、どんなに気分が落ちた時でも完全復活させてくれます。</span><span class="info">（月朱/女性/50代）</span></li>
        <li><span class="text">おしゃべりの内容が豊富すぎて、さすがヨウムだなと思います！話す言葉は面白いし、とっても可愛くて癒されます(*^^*)</span><span class="info">（るいちゃん好き/女性/30代）</span></li>
        <li><span class="text">るいちゃんのお喋りがとにかく面白い</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">るいちゃんの、センス有る自由なおしゃべり、飼い主さんの思いに癒されます。</span><span class="info">（くろたつ/女性/40代）</span></li>
        <li><span class="text">笑えるから</span><span class="info">（ミルミル/女性/40代）</span></li>
        <li><span class="text">ヨウムのるいちゃんのお喋りは見てて飽きない</span><span class="info">（かず/女性/50代）</span></li>
        <li><span class="text">おとこぉー↑</span><span class="info">（匿名さん/男性）</span></li>
        <li><span class="text">ヨームのるいちゃんのおしゃべりが限りなく楽しい。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">喋りに笑える。</span><span class="info">（ちこちこ/女性/50代）</span></li>
        <li><span class="text">おしゃべりが面白いから</span><span class="info">（風のゆびさき/女性/50代）</span></li>
        <li><span class="text">ヨウムのるいちゃんが歌ったりおしゃべりしたり楽しいです。</span><span class="info">（☆むにゅ☆/女性/40代）</span></li>
        <li><span class="text">おしゃべりがとにかく面白い</span><span class="info">（とりずきん/女性/20代）</span></li>
        <li><span class="text">笑いを届けてくれる。</span><span class="info">（yamachan8/女性/50代）</span></li>
        <li><span class="text">ヨウムがよくしゃべる❗おっとっこ～ て歌ってる❗人が歌ってるよりうまいかも‼️</span><span class="info">（匿名さん/女性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>