﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">パプリカを上手に歌います！</span><span class="info">（匿名さん/女性/30代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（2件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">歌を歌えるセキセイインコ</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">歌やおしゃべり頑張っている</span><span class="info">（匿名さん/女性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>