﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">アミの上に仰向けに寝転がる、ぽぴさん、まじアイドル(∩´∀`∩) ちゃぴさん・ぴっぴさん・えりさん、皆さん芸達者なかわい子ちゃん達です。</span><span class="info">（雀/女性/30代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（5件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">4羽のセキセイインコの個性がそれぞれあって、可愛い</span><span class="info">（とりすきー/女性/20代）</span></li>
        <li><span class="text">毎日幸せそうなインコちゃん達の動画が観れて楽しみにしてます。</span><span class="info">（はるちゃんママ/女性/40代）</span></li>
        <li><span class="text">ポピちゃんのあお向けに寝る姿に癒される。</span><span class="info">（はる/女性/50代）</span></li>
        <li><span class="text">ぽぴちゃんがセキセイにしては珍しく仰向けでコロンしてる姿が可愛すぎで大好きです。</span><span class="info">（りんりん/女性/40代）</span></li>
        <li><span class="text">仰向けで寝てしまうぽぴちゃんがなんとも無防備で可愛らしく癒されます。自分が飼っている子と瓜二つで親近感も感じます。</span><span class="info">（ゆいん/女性/20代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>