﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">キー太君の関西弁が最高に面白い！関西人のニュアンスまでうまくおしゃべりに出ている！阪神の応援をしてるおしゃべりは最高に可愛い！！お嫁さんのおこめちゃんも上手におしゃべりするようになってきており、今後が楽しみ！ハルクインカップルのルックスの可愛さも抜群！</span><span class="info">（ミッキーワッキー/男性/40代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（1件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">阪神ファンになりそう！</span><span class="info">（かずみ/女性/30代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>