﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">きなこちゃんがかわいくて、毎日アップされる動画を観るのが、寝る前の癒しになっています。</span><span class="info">（ぺん子/女性/40代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（24件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">自分もオカメインコを飼っているから</span><span class="info">（まさ/男性/50代）</span></li>
        <li><span class="text">きなこちゃんがとてもかわいくて、癒されます。</span><span class="info">（キキちゃん大好き/女性/40代）</span></li>
        <li><span class="text">毎日とても楽しみにしています。きなこちゃんがとても可愛くて、お父さんがとても優しい。ずっと続けて欲しいです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">同じ鳥を飼っている事と毎日楽しくみてるから</span><span class="info">（ようたん/男性/30代）</span></li>
        <li><span class="text">北海道のブリーダーさんと言う事もありオカメインコちゃんのことに関してはプロ！お話を聞かせてもらいましたが、すごく丁寧でオカメインコちゃんの事をすごく考えてらっしゃる方でした！本当にいい方です！^^*参考になる事ばかりを教えていただけるのですごくタメになります！</span><span class="info">（Eri★/女性/20代）</span></li>
        <li><span class="text">毎日、更新。</span><span class="info">（鳥山鳥五郎/男性/50代）</span></li>
        <li><span class="text">きなこちゃんの動きや飼い主さんとの触れ合いが好き</span><span class="info">（いそこ/女性/20代）</span></li>
        <li><span class="text">オカメインコが可愛いから。</span><span class="info">（ノグ/男性/40代）</span></li>
        <li><span class="text">自分でもおかめインコを飼ってるし、オカメインコが好きで登録してるから</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">面白い・為になる事が書かれている・オカメの顔が可愛い</span><span class="info">（匿名さん/男性/30代）</span></li>
        <li><span class="text">鳥さんの事を解りやすく紹介している。</span><span class="info">（里香里香/女性/40代）</span></li>
        <li><span class="text">飼い主さんの毎回のテーマを参考に我が家のおカメちゃんたちを育てています。</span><span class="info">（むうこ/女性/60代）</span></li>
        <li><span class="text">オカメインコの育て方を教えてくれているから。</span><span class="info">（じゅんちゃん/女性/30代）</span></li>
        <li><span class="text">オカメが好きだから。</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">オカメインコの飼育に役立ちました。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">勉強になる</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">オカメインコについて深い知識があり参考になる</span><span class="info">（とっしー/男性/50代）</span></li>
        <li><span class="text">編集などはさほど凝ってる方ではないけど、インコに関するテーマが毎日きちんとあって、投稿者の意見や情報、視聴者への問いかけなど…なかなか面白いです。</span><span class="info">（t.yazawa/男性/60代）</span></li>
        <li><span class="text">鳥の事を考えている</span><span class="info">（匿名さん/男性/30代）</span></li>
        <li><span class="text">きなこちゃんが可愛い。下を覗きこむ仕草も可愛い。きなこちゃんのお尻がカメラに映ったときハートマーク付けてワーオ！と効果音付ける飼い主さん、面白いです。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">きなこちゃんがふっくらしていてとにかく可愛いです！癒されます〜</span><span class="info">（ゆいん/女性/20代）</span></li>
        <li><span class="text">オカメインコの事が勉強になる。</span><span class="info">（098japan/男性/30代）</span></li>
        <li><span class="text">お父さんと仲良しで微笑ましい</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">きなこちゃんが好きです。</span><span class="info">（ぴょい/女性/60代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>