﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">怪我などで保護されたカラスやハトたちの日常の動画です。カラスはハシボソとハシブトがそれぞれ登場しますが、性格の違いが面白いです。特にハシブトのクッピは足が不自由ですが、好奇心が旺盛でとてもかわいいです。</span><span class="info">（匿名さん/女性/50代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（2件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">保護主レンさんと保護されたハシブトガラスのクッピの動画で、歩けない立てない飛べない状態での保護。今ではやっとですが歩くことができるようになり、仲間に保護ハシボソガラスも入りレンさんとのやり取りがホッコリとします。保護ハシボソガラスは、前保護主が5年間保護していたが、攻撃的で「もう無理だ」とレンさんの所に、5日後に手乗りハシボソガラスになっている。すごいし感動もあります、何より動物の気持ちをわかってる保護主さんなんだろうな。</span><span class="info">（s.chikashi/女性/50代）</span></li>
        <li><span class="text">カラスやハトの可愛さ全開。カラスの保護活動が知れる</span><span class="info">（匿名さん/女性/50代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>