﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">セキセイインコ6羽多頭飼い(全員家族)で、飼い主さんのセンスが良くて(イラストが上手い)エンターテイメント性が高くクオリティも高い。</span><span class="info">（雀/女性/30代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（5件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">6羽のセキセイインコが飼われていて、自由気ままなところが可愛い。</span><span class="info">（真/男性/20代）</span></li>
        <li><span class="text">インコ達が自由気ままに遊んでいる</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">あまり更新されませんがここのセキセイインコちゃんたちの事が気になってしまうから。いろんな事が起きて心配になる？？みたいな感じです。</span><span class="info">（kj/男性/40代）</span></li>
        <li><span class="text">編集がいい。中身もいい。面白い。</span><span class="info">（かめきち/女性/50代）</span></li>
        <li><span class="text">インコの繁殖の経過が楽しく見れた。インコの可愛さが伝わってくる編集も好き。</span><span class="info">（りらっち/女性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>