﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">以前ご長寿のセキセイ、愛ちゃんと暮らされていて、鳥の老いについてや介護のこととか勉強になった。すごく可愛がっていたのがわかる。今はちょっとモヒカンちっくな頭のセキセイ銀ちゃんをレスキューから引き取られて、幸せそうでこっちも幸せ。</span><span class="info">（匿名さん/女性/40代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（57件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">小鳥への愛情やご自身が小鳥によって癒され元気付けられているのを感じられ好感が持てます</span><span class="info">（かよこ/女性/30代）</span></li>
        <li><span class="text">作り込まない日常の様子がいい！</span><span class="info">（みー/女性/40代）</span></li>
        <li><span class="text">現在飼われている銀ちゃんも可愛くて癒されますが、前に動画に出ていたおじいちゃんインコの愛ちゃんも本当に可愛いくて、老鳥になったときの介護の仕方などの動画は参考になります。</span><span class="info">（pocota/女性/30代）</span></li>
        <li><span class="text">飼い主さんが鳥の保護活動に積極的だから刺激を受けます。里親になったり施設に寄付したりと、とても考えさせられます。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">愛ちゃんの時代から拝見させていただいております。おじいちゃんインコさんのダンディーながらもおちゃめな姿に癒されてました^^*今は後任の銀ちゃんにバトンタッチされ、あいちゃんの時とはまた違った賑やかさに楽しませてもらってます！</span><span class="info">（こたママ/女性/30代）</span></li>
        <li><span class="text">ペットショップからの購入ではなく、保護インコを引き受けた飼い主さんの優しさが魅力です</span><span class="info">（くまえ/女性/50代）</span></li>
        <li><span class="text">ほのぼのする</span><span class="info">（れもん/女性/40代）</span></li>
        <li><span class="text">銀時の頭が可愛い</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">おじいちゃんインコの愛ちゃんの時から見てました。今はママさんとまったり楽しく暮らしている銀ちゃんに癒されます</span><span class="info">（オレッち/女性/50代）</span></li>
        <li><span class="text">ママさんの人柄</span><span class="info">（ななまま/女性/40代）</span></li>
        <li><span class="text">16年と長生きしたセキセイインコの老鳥の事保護施設から迎えたインコの成長が見れる</span><span class="info">（ぴあ/女性/30代）</span></li>
        <li><span class="text">銀ちゃんの容姿から性格…など好みです。主サマの優しさが銀ちゃんから伝わってきて見ていてほっこりします。</span><span class="info">（キキ/女性/40代）</span></li>
        <li><span class="text">保護鳥のセキセイインコの銀ちゃんが、飼い主さんとだんだん仲良しになっていくのが楽しみです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">愛ちゃんかわいい</span><span class="info">（ぴーちゃん/男性/40代）</span></li>
        <li><span class="text">癒される</span><span class="info">（うさぴー/女性/40代）</span></li>
        <li><span class="text">鳥さんを愛しているのが伝わる。1人で頑張っている飼主さんを応援している。ご長寿セキセイインコを二羽育ててきたベテラン飼主さんなので参考にさせてもらって勉強しています。</span><span class="info">（ラムネ/女性/40代）</span></li>
        <li><span class="text">愛ちゃん、銀ちゃん、幸せそうだから! ほのぼのします!</span><span class="info">（おかん/女性/50代）</span></li>
        <li><span class="text">銀ちゃんの頭の羽根が立っていて可愛い。</span><span class="info">（きよっぴー/女性/50代）</span></li>
        <li><span class="text">あいちゃんの時から観ています。今はギンちゃん。リーゼント頭のギンちゃんに釘付けです 笑</span><span class="info">（そライムギ/女性/40代）</span></li>
        <li><span class="text">銀ちゃんの前髪？と時々登場する愛ちゃんがとてもかわいい</span><span class="info">（グルグルメガネ/女性/40代）</span></li>
        <li><span class="text">可愛いくて癒される</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">以前は愛ちゃん、現在は銀ちゃんとママさんの穏やかな雰囲気がホッコリできて大好きです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">愛ちゃんの時からの大ファン。銀ちゃんもママに大事にされていて観ていてほっこりします。</span><span class="info">（はるちゃんママ/女性/40代）</span></li>
        <li><span class="text">飼い主さんの鳥への愛情を感じる</span><span class="info">（まお/女性/60代）</span></li>
        <li><span class="text">長寿の愛ちゃんが励みになりました。うちの目標です。亡くなった時は悲しかった。今は癖毛の銀ちゃんが可愛い</span><span class="info">（しの/女性/50代）</span></li>
        <li><span class="text">銀ちゃんの優しさが伝わってきます。涙ものです</span><span class="info">（とんつ/女性/50代）</span></li>
        <li><span class="text">愛鳥さん登場の音楽やセリフの語尾が愛鳥さんごとに決まっているところなど編集が好き。長生きした愛鳥さんの為に工夫しているケージや遊び場など参考になる。現在飼っている保護鳥さんの徐々に飼い主さんに慣れていく過程にもとても興味がある。</span><span class="info">（sue/女性/40代）</span></li>
        <li><span class="text">16才のセキセイインコに感動</span><span class="info">（やまこ/女性/40代）</span></li>
        <li><span class="text">インコの行動なんかが、楽しい💕</span><span class="info">（ハク チャピ ピノ/女性/40代）</span></li>
        <li><span class="text">前に飼っておられたおじいちゃんインコのケージレイアウトをとても参考にしていた。今飼われている若い子との比較も出来る。</span><span class="info">（shu-mi/女性/30代）</span></li>
        <li><span class="text">セキセイインコの銀ちゃんがとても可愛い</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">16歳のセキセイインコの愛ちゃんからすべて動画観てます。おじいちゃんインコの愛ちゃんに笑って泣いて。老鳥介護の様子もとても感銘でした。今は銀ちゃんと飼い主さんに癒されてます。微笑ましく観ています。</span><span class="info">（マメルリハの飼い主ともとも/女性/30代）</span></li>
        <li><span class="text">セキセイインコを16歳まで育てたママさんが新たにセキセイインコを育ている様子を毎回楽しみして見ています。</span><span class="info">（pen/男性/50代）</span></li>
        <li><span class="text">16才のおじいちゃんインコの動画に惹かれて観るようになりました。残念ながら亡くなってしまったのですが、その後保護されているインコちゃんをお迎えされて飼い主さんは葛藤がありながらもお迎えしてしたインコちゃんとだんだん打ち解けて幸せそうにしています。ほんとにほのぼのと温かい気持ちになります。時には前のインコちゃんとの心温まるお話もあり涙しながら観させていただくこともあります。</span><span class="info">（よっぴぃ/女性/50代）</span></li>
        <li><span class="text">飼い主さんと銀ちゃんの信頼関係が伝わってくる</span><span class="info">（はる/女性/50代）</span></li>
        <li><span class="text">やすらぎ</span><span class="info">（m/女性/50代）</span></li>
        <li><span class="text">とても為になるし、癒されます❗</span><span class="info">（ユウ/女性/40代）</span></li>
        <li><span class="text">保護インコさんを引き取った後、徐々に仲良くなっていく様子がほほえましいです。飼い主さんの愛情がストレートに伝わって来ます。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">楽しい</span><span class="info">（涼/女性/50代）</span></li>
        <li><span class="text">施設からお迎えされた銀ちゃんと飼い主さんの暮らしを見るのが癒しです🍀</span><span class="info">（ちょえー人！/女性/50代）</span></li>
        <li><span class="text">愛ちゃんの看取りを、飼い主さんと一緒にしたから</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ママさんと小鳥さんの日常の動画ですが、ママさんの鳥愛に引かれてファンになった為。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">愛ちゃん、銀ちゃんどっちも大好きです。ママさんがとっても大切に育てていらっしゃるのが伝わり癒やしです。</span><span class="info">（みなみ/女性/20代）</span></li>
        <li><span class="text">愛ちゃんのときから癒やしに癒やされております!銀ちゃんのフサフサ頭がほんとに可愛いです！銀ちゃんこれからどう成長していくのかなってワクワクで見ています！</span><span class="info">（あーさん/女性/20代）</span></li>
        <li><span class="text">おじいちゃんインコの愛らしい姿にほっこりします。旅立ってしまった時は本当に悲しかったですが、新たにお迎えされた銀ちゃんの成長の様子を見れるのが今は楽しみです。トサカのようなヘアスタイルがとってもキュート！</span><span class="info">（とらつる/女性/30代）</span></li>
        <li><span class="text">16歳まで長生きした愛ちゃんを目標にしたいから。老後のインコさんのケアなども参考になります。</span><span class="info">（ねむねむ/女性/50代）</span></li>
        <li><span class="text">16歳のシニアインコの時が好きでした</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">愛ちゃん、銀ちゃんが、可愛い</span><span class="info">（ぴよこ/女性/50代）</span></li>
        <li><span class="text">16歳のご長寿インコ・愛ちゃんの老鳥ライフをよく参考にさせていただいてました。愛ちゃん亡き後、素敵な運命の巡り合わせで飼い主様が新たにお迎えされたモヒカンヘアーがかっこいい銀ちゃんとの動画を今は引き続き楽しみに拝見させてもらっています。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">飼い主さんのあたたかい愛情が伝わってきて、ほっこりします。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">見ていてホッとする。飼い方のお手本になります。</span><span class="info">（ルルペコ/女性/50代）</span></li>
        <li><span class="text">以前はご長寿の愛ちゃんでしたが、虹の橋を渡ってしまったので、今の銀ちゃんの今後に期待大。</span><span class="info">（まるみ/女性/50代）</span></li>
        <li><span class="text">ペットは家族って言うけど、本当にその通りだなーとしみじみ感じる動画です</span><span class="info">（みけ/女性/50代）</span></li>
        <li><span class="text">とても心の温かい方のコトリチャンネルさん動画のコメントに必ず返信を下さいます。銀時ちゃんの可愛らしさです。愛ちゃんの動画も素敵です。</span><span class="info">（まりっぷ/女性/50代）</span></li>
        <li><span class="text">飼い主さんのお人柄がとっても優しそうで好きです</span><span class="info">（はは/女性/40代）</span></li>
        <li><span class="text">銀ちゃんのヘアーが可愛い</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">先代の愛ちゃんの頃から見ていて、飼い主さんとのほのぼのやりとりが好きです</span><span class="info">（松華堂弁当/女性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>