﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">とにかくすごい‼︎会話力。そしてふっくらぷにぷにのメスのミィちゃんがどのインコよりも可愛く美人過ぎる。オスのサァくんはTVに出れるくらい頭が良く、人間のように考えておしゃべりをする。まさに天才インコだと思う。</span><span class="info">（ワイキキ/男性/40代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（6件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">サァちゃんのおしゃべりが面白可愛い！ミィちゃんも癒される！</span><span class="info">（むっちゃん/女性/30代）</span></li>
        <li><span class="text">サァ君のおしゃべりが場面にあっていて、会話になっていることが多い！飼い主さんはあれだけ会話が成り立てば楽しいと思う！まさにまるで人間！ミィちゃんも丸々としていて可愛い！二羽の雛を楽しみにしている！</span><span class="info">（ミッキーワッキー/男性/40代）</span></li>
        <li><span class="text">癒される。メスのミィちゃんもおしゃべりできてすごい。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">サァちゃん、ミィちゃん、飼い主さんのやり取りがとにかく楽しいです。サァちゃんは、並外れたおしゃべり男の子。ミィちゃんは、かわいいし、美しいし、とても癒される女の子。この子たちのこれからがすごく楽しみな為。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">サァちゃんと飼い主さんの会話成立が天才的！！ミィちゃんも可愛い❤️</span><span class="info">（みぃこ/女性/30代）</span></li>
        <li><span class="text">これを超える天才インコはいない為。あと可愛さもこの子達以上はいませんよ‼︎</span><span class="info">（かずみ/女性/30代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>