﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">セキセイインコがこんなにはっきり喋れるのをサクSAKU＊チャンネンで初めて知ってから虜になり、よく喋りよく遊ぶサクちゃんの動画にいつも癒やされています。サクちゃんママの編集も最高です。</span><span class="info">（pikachu_redcheeks/女性/50代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（63件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">毎日 日課になる程好きです！写真もコメントもとてもセンスありで最高です。サクちゃん可愛い！昔から見ている愛着。</span><span class="info">（ぼん/女性/40代）</span></li>
        <li><span class="text">サクちゃん とにかく可愛いです。おしゃべり上手で どの動きも可愛い💠母ちゃんさんの愛情いっぱい受けて 自分もインコちゃん飼ってるのでお手本にさせていただいています🎵</span><span class="info">（はみたん/女性/50代）</span></li>
        <li><span class="text">主様もよく一緒に登場するのですが、インコ臭を嗅いだり、鼻でカキカキしたり、愛情が溢れてます。笑主様の声も可愛いくて好きです。インコちゃんに話しかける声がインコ愛に満ち溢れております。</span><span class="info">（インコまみれ/女性/20代）</span></li>
        <li><span class="text">多頭飼いの方が多いインコ飼いさんの中で、サクちゃんのお家ではサクちゃん一筋に溢れんばかりの愛情を降り注いでいらっしゃいます。サクちゃんはとてもおしゃべり上手で、ママさんのお口にくっつきながらお話しを覚える姿は、瞬殺ものです😍2人のゴーゴーペンギンさんの扱いのギャップも見どころ満点です🤣</span><span class="info">（うまのほっぺ/女性/40代）</span></li>
        <li><span class="text">お喋りが可愛くて癒される</span><span class="info">（るる/女性/30代）</span></li>
        <li><span class="text">とにかくかわいい！</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">サクちゃんが可愛いし飼主さんの人柄が良いので</span><span class="info">（おじょう/女性/50代）</span></li>
        <li><span class="text">お返事が大変よろしいサクちゃんです。おもちゃで遊んでいる姿が可愛いです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">フォローしてます</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">サクちゃんと飼い主さんのふれあいが可愛すぎて癒されます。</span><span class="info">（pocota/女性/30代）</span></li>
        <li><span class="text">サクちゃんが遊んでる小物も可愛い</span><span class="info">（とりすきー/女性/20代）</span></li>
        <li><span class="text">編集がかわいいから。</span><span class="info">（たまふく/女性/20代）</span></li>
        <li><span class="text">サクちゃんのおしゃべりがたまらなく可愛い。そしてビビリなところもとても可愛いくて癒されてます。</span><span class="info">（ぴめい/女性/50代）</span></li>
        <li><span class="text">サクちゃんと母ちゃんがとても仲が良い</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">とにかく、かーちゃんのサクちゃんに対する愛がすごい😆⤴️ラブラブです</span><span class="info">（オレッち/女性/50代）</span></li>
        <li><span class="text">サクちゃんのファンなんです。</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">1羽飼で飼い主やおもちゃとの遊びが参考になるから。サクちゃんが可愛い。ママさんが面白い。</span><span class="info">（kaoriん/女性/50代）</span></li>
        <li><span class="text">Instagramでフォローをさせていただいておりますが、とにかくサクたんが可愛すぎて可愛すぎて、だいっっすきです(⑉• •⑉)</span><span class="info">（にこ/女性/30代）</span></li>
        <li><span class="text">サクちゃんはお喋りも表情も仕草もとっても可愛くて、疲れた私をいつも癒してくれてます。飼い主のかあちゃんさんとの掛け合いや、かあちゃんさんのアテレコ？もとてもよく、これまた楽しみの一つです！</span><span class="info">（eihcas/女性/40代）</span></li>
        <li><span class="text">とっても可愛いから。お喋りが上手で癒されます。仕草が可愛い。</span><span class="info">（なないろ/女性/40代）</span></li>
        <li><span class="text">かわいいサクちゃん</span><span class="info">（MUCO/男性/50代）</span></li>
        <li><span class="text">愛情。編集。</span><span class="info">（ななまま/女性/40代）</span></li>
        <li><span class="text">さくちゃんを見てインコを実際に飼ったから</span><span class="info">（ピノママ/女性/30代）</span></li>
        <li><span class="text">サクちゃんがとにかくカワイイ💕おしゃべりも上手で「はいっ！」「サクたん！」など聞いているだけでニヤニヤしてしまいます💖</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">サクくんのおしゃべりが凄く可愛い😍❤️</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">サクちゃんのインスタをフォローしているから。</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">サクちゃんのあんよが可愛くていつも見てます♡</span><span class="info">（トロ/女性/40代）</span></li>
        <li><span class="text">我が家のセキセイインコはサクちゃんにそっくりなインコです。サクちゃんのおしゃべりはすごいです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">黄色と白のゴーペンで遊ぶ時の態度の違いや、声がお母さんの声そっくり❗</span><span class="info">（YU-KI/女性/40代）</span></li>
        <li><span class="text">かわいい</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">セキセイインコのサクちゃんのお喋りが、とても可愛い</span><span class="info">（ぽぷり/女性/50代）</span></li>
        <li><span class="text">さくちゃーん可愛い</span><span class="info">（ボンゴレ/男性/30代）</span></li>
        <li><span class="text">ママさんとのおしゃべり編集の様子がとにかくかわいい。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">サクちゃんとかあちゃんがかわいい</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ビビリのサクちゃんが可愛い</span><span class="info">（しの/女性/50代）</span></li>
        <li><span class="text">さくちゃんがかわいいから</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ウチと同じカラーの子だから</span><span class="info">（hiru/女性/40代）</span></li>
        <li><span class="text">単純にサクちゃんが可愛いから</span><span class="info">（あーりん☆/女性/40代）</span></li>
        <li><span class="text">うちのセキセイインコに似ている</span><span class="info">（まる優/女性/50代）</span></li>
        <li><span class="text">飼い主さんとのやりとりがみていて微笑ましい❗インコちゃんがかわいい❗</span><span class="info">（R/女性/40代）</span></li>
        <li><span class="text">さくちゃん、ポコちゃんいい匂いしそう。</span><span class="info">（ままゆ/女性/40代）</span></li>
        <li><span class="text">サクちゃんのおしゃべりは、とっても可愛い。飼い主さんとサクちゃんのやりとりは見ていてとっても癒されます。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">サクと飼い主さんがほのぼのしてます。</span><span class="info">（たま/女性/40代）</span></li>
        <li><span class="text">サクちゃんがめっちゃかわいいです。飼い主さんのことがほんとに大好きなのが伝わります。飼い主さんの優しいお声にも癒されます。</span><span class="info">（よっぴぃ/女性/50代）</span></li>
        <li><span class="text">おしゃべり上手でかわいいです🎵</span><span class="info">（ずんだ君/女性/50代）</span></li>
        <li><span class="text">サクチャンのびびりな所とママさんとのラブラブさが何とも可愛い♡</span><span class="info">（☆AHKO☆/女性/40代）</span></li>
        <li><span class="text">上手におしゃべりしていて普段からたくさんお話してもらっているんだなあ、ママさんパパさんとの触れ合いも愛情たっぷり。見ていてほんわかします。</span><span class="info">（みなみ/女性/20代）</span></li>
        <li><span class="text">飼い主のインコ愛が伝わって共感できる。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">サクちゃんのおしゃべりがスゴイです飼い主さんとの信頼関係がよくわかる動画です</span><span class="info">（kiki/女性/50代）</span></li>
        <li><span class="text">さくちゃんのおしゃべり可愛すぎます!可愛いねぇと言いながら見てしまいます。飼い主さんのこと大好きなんだろうなぁと思いながら癒やされてます！</span><span class="info">（あーさん/女性/20代）</span></li>
        <li><span class="text">サクちゃんとかあちゃん、とおちゃんのやりとりがとても可愛いくて大好きです</span><span class="info">（そらなのひあお/女性/30代）</span></li>
        <li><span class="text">とってもお喋りが上手で、遊んでる姿も可愛いので動画を見るのが楽しみです。</span><span class="info">（ﾎﾟｰﾁｬﾝ/女性/50代）</span></li>
        <li><span class="text">飼い主さんのお口にぴとっとくっいているサクちゃんが可愛いです。本当に飼い主さんが大好きなんだとわかります。おしゃべりも上手だし、おもちゃで遊ぶ姿も見ていて飽きません。</span><span class="info">（とらつる/女性/30代）</span></li>
        <li><span class="text">さくちゃんが可愛い</span><span class="info">（ぴよこ/女性/50代）</span></li>
        <li><span class="text">サクちゃんと飼い主さんのラブラブな様子にキュンキュンします</span><span class="info">（みけ/女性/50代）</span></li>
        <li><span class="text">サクちゃん可愛くて大好きです♡動画を観ると自然と笑顔になれるし、元気が出ます∩^ω^∩</span><span class="info">（あさぷー/女性/30代）</span></li>
        <li><span class="text">さくちゃんが可愛いから</span><span class="info">（Lily/女性/20代）</span></li>
        <li><span class="text">可愛い</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">セキセイインコのサクちゃんがとても愛らしく、ママさんの愛情が伝わって来る動画。我が家のセキセイと同じスパングルなので応援しています。</span><span class="info">（DION/女性/50代）</span></li>
        <li><span class="text">返事がじょうず</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">インスタでも見てますが、サクちゃんの動きと飼い主さんとのやり取りが面白すぎる♪</span><span class="info">（syokopy/女性/40代）</span></li>
        <li><span class="text">ふんわり綺麗な空色の羽と寂しいときの子犬泣きがかわいすぎる！</span><span class="info">（匿名さん/男性/20代）</span></li>
        <li><span class="text">サクちゃんとてもいいお返事！！ナイス！</span><span class="info">（かずみ/女性/30代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>