﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">飼い主様の動画の編集センスが素晴らしく、何度も見返してしまう中毒性のある動画が多いです。ニコちゃん（本名・カラシニコフ）もかわいい！</span><span class="info">（匿名さん/女性/30代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（59件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">なんといっても動画編集のセンスが抜群に上手で、ニコちゃんが可愛いからです。見ててオカメインコの可愛さを全面に引き出してくれる方だなーと思います。</span><span class="info">（るふれ/女性/10代）</span></li>
        <li><span class="text">オカメインコの動きや行動が面白くアレンジされていること。「ビビリながらチラ見しまくるオカメインコに戦場へ行ってもらった」の動画は笑が止まらず涙が出るほど面白く、飼い主さんのセンスがたまりません。これ以上ハマった動画はありません。</span><span class="info">（DION/女性/50代）</span></li>
        <li><span class="text">月1更新ですが、オカメインコのカラシニコフとその飼い主の味のある動画が魅力です。内容は、綿棒の色の好みを調べてみたり、オタマトーンという楽器？と共鳴させてみたり。一度見ると癖になるかもしれません。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">オカメのニコちゃんがたまらなく可愛い。飼い主の作品としてのセンスが光る</span><span class="info">（かず/女性/50代）</span></li>
        <li><span class="text">飼い主の独特な世界観がよい</span><span class="info">（そばごめ/男性/30代）</span></li>
        <li><span class="text">ひょっこりからのファンです。</span><span class="info">（ちびハルまま/女性/40代）</span></li>
        <li><span class="text">飼い主の編集から愛情と哀愁が溢れ出ているから</span><span class="info">（ちゃんちゃんたらたら/男性/30代）</span></li>
        <li><span class="text">ニコちゃんがかわいい。編集が面白い。</span><span class="info">（tami/女性/50代）</span></li>
        <li><span class="text">オカメインコがとても可愛いし、編集も好き</span><span class="info">（たけなぱ/女性/20代）</span></li>
        <li><span class="text">みていてたのしい</span><span class="info">（モコちゃん/女性/40代）</span></li>
        <li><span class="text">飼うきっかけになりました</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">鳥を飼うきっかけになりました</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">企画が面白い。</span><span class="info">（マチャ/男性/40代）</span></li>
        <li><span class="text">編集が面白い！オススメに出てきたら何回でも必ず見ちゃう！</span><span class="info">（むむ/女性/20代）</span></li>
        <li><span class="text">なんか細やかな編集のセンスに笑える。</span><span class="info">（ちこちこ/女性/50代）</span></li>
        <li><span class="text">ニコもかわいい センスがいい 面白い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">飼い主さんお発想が独特で面白い</span><span class="info">（froggy/女性/40代）</span></li>
        <li><span class="text">客観性を保ちつつ、シニカルに、且つ愛のあるツッコミ系の表現力で撮影編集しているセンスが素晴らしいです。</span><span class="info">（月朱/女性/50代）</span></li>
        <li><span class="text">編集が好き</span><span class="info">（R/女性/40代）</span></li>
        <li><span class="text">オカメインコがなかなか動画的に良い味を出していて、飼い主の編集も上手い。</span><span class="info">（真/男性/20代）</span></li>
        <li><span class="text">鳥さんへのツッコミに愛を感じる。</span><span class="info">（イチ/女性/30代）</span></li>
        <li><span class="text">編集の言葉のチョイスが好き</span><span class="info">（ぷーさん/女性/20代）</span></li>
        <li><span class="text">面白いから。</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">BGMの使い方や主様の視点が好き！</span><span class="info">（なんくる/女性/40代）</span></li>
        <li><span class="text">カワイイ＆たのしい！</span><span class="info">（ゆたか/男性/40代）</span></li>
        <li><span class="text">動画が面白くてセンスを感じる．ニコちゃんが可愛い。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">デザイン性が高い動画もさることながら、インコのお茶目、可愛らしい姿、飼い主さんとの笑えるやり取りが非常に良い</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">可愛すぎる</span><span class="info">（まえかわ/女性/20代）</span></li>
        <li><span class="text">ニコちゃん究極にかわいい。編集の仕方が好き</span><span class="info">（さぼてん/女性/30代）</span></li>
        <li><span class="text">ニコちゃん可愛い。飼い主さんの編集のセンス最高！</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">動画構成がユニークで独特、なおかつ面白い！カラシニコフ(オカメの名前)も可愛く面白いが、飼い主の感性が、その上を行く面白さ。</span><span class="info">（Y.K./女性/50代）</span></li>
        <li><span class="text">ニコちゃんが可愛い。飼い主さんの編集力も素晴らしい。</span><span class="info">（マシュマシュ/女性/40代）</span></li>
        <li><span class="text">普通のツンデレオカメインコがいいんじゃ。</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">かわいいしおもしろい</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">オカメが優秀＋飼い主がさらに優秀</span><span class="info">（chi-mos/男性/40代）</span></li>
        <li><span class="text">ニコちゃんがかわいい！面白い！編集がとても凝っててめちゃくちゃ笑える</span><span class="info">（しれい/女性/10代）</span></li>
        <li><span class="text">飼い主とオカメインコのやり取りが面白い</span><span class="info">（そのへんの草/女性/20代）</span></li>
        <li><span class="text">動画として観た場合、飼われてるオカメさんの行動や仕草等視聴者が100％楽しめる様な編集がとても上手で、必ず最後まで観てしまいます。</span><span class="info">（あくび/女性/40代）</span></li>
        <li><span class="text">観ていてすごくすごく楽しい！オカメインコちゃんをお迎えしようと決心したのはこのニコの飼い主さんのおかげです！参考になります！本当に！</span><span class="info">（Eri★/女性/20代）</span></li>
        <li><span class="text">ニコちゃんのキャラ。編集が面白い。</span><span class="info">（may/女性/30代）</span></li>
        <li><span class="text">鳥Tuber界で1番編集も面白くてセンス抜群✨飼い主さんも可愛らしいです！！</span><span class="info">（鳥が好き学生。/女性/10代）</span></li>
        <li><span class="text">とてものんびりした動画の作りで癒されます！</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">癒し系の動画です！</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">面白い</span><span class="info">（SiN/女性/10代）</span></li>
        <li><span class="text">更新頻度は多くないが、オカメインコと飼い主のやり取りが、ほのぼのとしていて良い。</span><span class="info">（ポンあきインコ/男性/40代）</span></li>
        <li><span class="text">ニコちゃんの自由な生き方が詰まった動画です。</span><span class="info">（いずみゃお/女性/30代）</span></li>
        <li><span class="text">ニコちゃんののほほんとした動きで癒やされること。飼い主さんの編集に愛情が感じられ、かつ軽快で最後まて楽しく見れることです。</span><span class="info">（ぺこ/男性/40代）</span></li>
        <li><span class="text">飼い主さんの編集センスが好き。</span><span class="info">（しかさん/女性/10代）</span></li>
        <li><span class="text">とにかく可愛い！！鳥がこんなに可愛いんだと教えてもらったチャンネル</span><span class="info">（こーさん/女性/30代）</span></li>
        <li><span class="text">投稿者の編集スキルが高く、内容も面白い。オカメインコの可愛さとユニークさを教えてくれた</span><span class="info">（ニシ/女性/30代）</span></li>
        <li><span class="text">飼い主様がとても面白く、最後まで楽しく動画が見れます。</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">オカメインコを飼うきっかけになった人だから。この人のおかげで鳥が好きになり、今ではオカメインコ3羽、ルリコンゴウインコ1羽、ニワトリ2羽、その他動物達と毎日楽しく暮らしています。</span><span class="info">（mika/女性/10代）</span></li>
        <li><span class="text">飼い主さんのツッコミとかがテンポよくておもしろいから！「そこに注目する！？」みたいなところもあって何度も見ちゃいます！</span><span class="info">（あしゅら/女性/20代）</span></li>
        <li><span class="text">オカメインコさんの面白可愛さがとてもよくわかる動画づくりが素敵です。</span><span class="info">（ぺち/女性/20代）</span></li>
        <li><span class="text">チラ見と綿棒の動画が大好き</span><span class="info">（のっち/男性/40代）</span></li>
        <li><span class="text">オカメインコが可愛くて編集が面白い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ﾏｯﾀﾘしていて、可愛らしいから好きです。</span><span class="info">（ぷらむ/女性/50代）</span></li>
        <li><span class="text">私が大好きでずっとみているチャンネルです。</span><span class="info">（インコ好き/女性/20代）</span></li>
        <li><span class="text">編集が良く面白い。</span><span class="info">（匿名さん/男性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>