﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">とりぴー(カラス)と主氏のやり取りが面白い。とりぴー、賢い。</span><span class="info">（匿名さん/女性/40代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（8件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">私も同じトリを飼っていて、わからないこととかあったら相談に乗ってくれて助かります！動画も面白いです🥰</span><span class="info">（ゆきトリ/女性/30代）</span></li>
        <li><span class="text">リズミカルで、カラスの可愛いさ、野鳥らしい所がおもしろい。</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">保護カラスと飼い主のやり取りが面白い。</span><span class="info">（鉄腕/女性/50代）</span></li>
        <li><span class="text">カラスの可愛さ、賢さがよくわかる</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">カラスを屋内にて保護しており、毎日様々ないたずらや、遊んでいる姿を見ることができる。普段どこにでもいる野鳥だが実はかわいらしい一面があることを知ることができる。</span><span class="info">（えーえす/男性/40代）</span></li>
        <li><span class="text">とりぴー 烏の魅力</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">カラスのトリピーと主さんの掛け合いが面白いです。あと水浴びも良くするんですが、水音と足音が個人的に好きです。他にもカラスならではの賢さを試す（蓋開けなど）とか、行動が見ていて飽きないです。動画内には他に猫と犬も登場します。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">保護したハシボソガラスを、ここまで育てている事が凄い! 生き物への想いが素晴らしい!</span><span class="info">（おかん/女性/50代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>