﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">セキセイインコと雀を楽しく紹介していて、いつもストーリーがあって面白いです。セキセイインコの性格がわかって楽しいし、カレンダーも買わせて頂きました。</span><span class="info">（すみっこばらぐらし/女性/50代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（132件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">ダントツ一位で大ファンです。ポコちゃんの、おしゃべり。ポコちゃん、そらちゃんのインコなのに雀走りは滅茶苦茶可愛い！笑いあり、涙ありで最高です🎵</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">インコのそらちゃんのおしゃべりや遊びに癒されます。編集も秀逸で、ユーモアたっぷりで好きです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ユーモアのセンスが最高です！！おもしろすぎです！！尊敬してます！！</span><span class="info">（ぽちょまま/女性/40代）</span></li>
        <li><span class="text">ぽこちゃん・そらちゃん・ちゅんちゃん・Qちゃん可愛すぎてずっと見ています！お喋り凄いなぁと感心してしまいますし、カメラワークが素敵で「おしゃれだー」といつもなります！</span><span class="info">（あーさん/女性/20代）</span></li>
        <li><span class="text">数年前から追っている。亡くなってしまいましたが、兄貴分のポコちゃんとそらちゃんの兄弟愛、すずめのQちゃんのかわいさがたまりません！</span><span class="info">（モフモフ/女性/50代）</span></li>
        <li><span class="text">面白い</span><span class="info">（はる/女性/50代）</span></li>
        <li><span class="text">編集が上手で楽しい。中でもポコちゃんがそらちゃんの育児に奮闘する動画は秀逸と思います。</span><span class="info">（くまえ/女性/50代）</span></li>
        <li><span class="text">セキセイインコとすずめの可愛い動画です。癒されます。ポコそらさんの編集が絶妙でほっこりします。</span><span class="info">（ピチくんのママ/女性/40代）</span></li>
        <li><span class="text">ポコちゃんの没後も大切に扱ってますから。</span><span class="info">（バントット・マイマイ・ピヨ/男性/40代）</span></li>
        <li><span class="text">面白いから好きです。</span><span class="info">（ぷらむ/女性/50代）</span></li>
        <li><span class="text">とにかく可愛いね</span><span class="info">（chi-mos/男性/40代）</span></li>
        <li><span class="text">ポコちゃん、そらちゃん、ちゅんちゃん(保護スズメ)、Qちゃん(保護スズメ)の日常生活の可愛くてゆる～い一端が見られる、癒しの動画をいつも拝見しております、ポコラーです。笑とにかくまったりとしてて、よくモモヒキをドアップで見せて下さいます。</span><span class="info">（インコまみれ/女性/20代）</span></li>
        <li><span class="text">みんな可愛いけどママもいつも楽しそう！</span><span class="info">（ぷに/女性/30代）</span></li>
        <li><span class="text">編集がとてもお上手で、優しい色調の映像とかわいい字幕でつづられる動画は、本当にミニドラマを見ている気分になります。</span><span class="info">（みなっつ/女性/30代）</span></li>
        <li><span class="text">ほっこりできる！時間も短いので朝に夜にとちょこちょこ観れる！</span><span class="info">（花/女性/40代）</span></li>
        <li><span class="text">すずめにあこがれて真似をするポコちゃん。弟分のそらちゃんのお世話をかいがいしくするポコちゃん。クスっと笑えてとても癒されるチャンネルです。</span><span class="info">（匿名さん/50代）</span></li>
        <li><span class="text">そらたちゃんとQちゃんが可愛いし動画の編集がとても工夫されています。</span><span class="info">（おじょう/女性/50代）</span></li>
        <li><span class="text">フォローしてます</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">ポコちゃん、そらちゃん、Qちゃんみんなマイペースでかわいいです</span><span class="info">（オレッち/女性/50代）</span></li>
        <li><span class="text">編集が凝っていて好き。ぽこちゃんとそらちゃんのおしゃべりがかわいい。</span><span class="info">（とりずきん/女性/20代）</span></li>
        <li><span class="text">セキセイインコの個性の違いが分かる。違っていても仲が良いのもほのぼのとする。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">編集。そらちゃんのおしゃべり。</span><span class="info">（ななまま/女性/40代）</span></li>
        <li><span class="text">それっぽい字幕がついているところがキモです🐤そらちゃんがポコちゃんのおやつ食べちゃったくだりは何度見ても笑</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">インコさんだけでなくスズメさんも出てきて癒される。</span><span class="info">（とりおた/女性/10代）</span></li>
        <li><span class="text">インコとスズメのコンビが最高です。</span><span class="info">（あや/女性/40代）</span></li>
        <li><span class="text">そらちゃんのぽっちゃりなところが好き</span><span class="info">（さとみちゃん/女性/40代）</span></li>
        <li><span class="text">ポコそらチュンちゃん全員可愛すぎる♡動画の編集も最高にうまい！</span><span class="info">（むっちゃん/女性/30代）</span></li>
        <li><span class="text">ポコちゃんは、虹の橋の方へ行ってしまいましたが、その悲しさを忘れるくらいそらちゃんの面白い仕草やおしゃべり等、お笑い的なところもあって楽しい動画です。</span><span class="info">（しょりさん/女性/40代）</span></li>
        <li><span class="text">そらちゃんサイコー‼️</span><span class="info">（キキ/女性/40代）</span></li>
        <li><span class="text">とても楽しいから</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ここの子達が可愛いのでついつい見てしまいます。</span><span class="info">（kj/男性/40代）</span></li>
        <li><span class="text">とにかくお喋りが可愛すぎる</span><span class="info">（masamin/女性/50代）</span></li>
        <li><span class="text">そらちゃんの綺麗な空色がすばらしい。</span><span class="info">（k1/男性/30代）</span></li>
        <li><span class="text">うちのインコもそらちゃんで名前が同じだったし、ポコそらさんの編集が大好きです。</span><span class="info">（YU-KI/女性/40代）</span></li>
        <li><span class="text">あんまりスズメを飼っている人がいないから</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">楽しい! 笑える! 趣味がよい! 愛を感じる!</span><span class="info">（おかん/女性/50代）</span></li>
        <li><span class="text">飼い主の演出が凝っていて飽きない。</span><span class="info">（きよっぴー/女性/50代）</span></li>
        <li><span class="text">かわいい</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">画像が綺麗。ネタが面白い。視点が面白い！</span><span class="info">（みー/女性/40代）</span></li>
        <li><span class="text">そらちゃんのももひきか最高です。</span><span class="info">（たらこ/男性/30代）</span></li>
        <li><span class="text">そらちゃんがかわいい。お喋りが面白い。編集がおしゃれ。</span><span class="info">（tami/女性/50代）</span></li>
        <li><span class="text">編集がとても上手で楽しいです。ポコちゃん、ちゅんちゃんも今も皆の中で生きているようです。ずっと見ていたいです。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">亡くなったポコちゃんがお話上手とお茶目なのと優しいインコちゃんで大好きでした。編集も上手です。ただ雀さんは飼っていいのかなー？と思ったりします。</span><span class="info">（かよこ/女性/30代）</span></li>
        <li><span class="text">可愛い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ポコちゃん亡きあとも、そらちゃん主演でポコちゃんワールド引き継いでいます。優しいお顔がずっと見ていられます。</span><span class="info">（ごんのすけ/女性/40代）</span></li>
        <li><span class="text">ママさんの工夫が凝っていて、とりさんの可愛さを引き出している。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">ポコちゃんそらちゃん 時々スズメちゃんのおしゃべりが楽しい❗️見ていて元気が出ます❗️</span><span class="info">（ニコニコちゃん★/女性/30代）</span></li>
        <li><span class="text">亡くなったポコちゃんが大好き、ポコちゃんに育てられた様なそらちゃんも大好き。</span><span class="info">（しの/女性/50代）</span></li>
        <li><span class="text">虹の橋を渡ってもずっと一緒。そんな思いにさせてくれる動画編集が好きです。笑いのセンスも良いと思う。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">そらちゃんがかわいいから</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ボコちゃん、そらちゃんの兄弟愛に癒やされます。</span><span class="info">（とんつ/女性/50代）</span></li>
        <li><span class="text">ぽこちゃんのおしゃべりに癒やされる</span><span class="info">（あお きい まる ママ/男性/40代）</span></li>
        <li><span class="text">そらちゃんが好き</span><span class="info">（リカ・アッカーマン/女性/50代）</span></li>
        <li><span class="text">そらちゃんのおしゃべりが楽しい</span><span class="info">（ぴーちゃん/女性/70代〜）</span></li>
        <li><span class="text">動画の時間が短くまとめてあり、手軽に見れる</span><span class="info">（shu-mi/女性/30代）</span></li>
        <li><span class="text">おしゃべりがおもしろ</span><span class="info">（まる優/女性/50代）</span></li>
        <li><span class="text">おしゃべりが達者ですね</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">おしゃべりやおもちゃで遊ぶ姿がかわいい！マイペースなちゅんちゃん（？ すずめちゃん）もかわいいです。</span><span class="info">（toko/女性/40代）</span></li>
        <li><span class="text">とにかくかわいい❗</span><span class="info">（R/女性/40代）</span></li>
        <li><span class="text">ポコポコ連打大好き。会見もみもの。</span><span class="info">（ままゆ/女性/40代）</span></li>
        <li><span class="text">ポコポコ言ってるそらちゃんが可愛い❤️</span><span class="info">（しょーママ/女性/40代）</span></li>
        <li><span class="text">ただただ癒されます</span><span class="info">（みりん/女性/40代）</span></li>
        <li><span class="text">サムネに惹かれる。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">喋る鳥さん動画はたくさんありますが、喋る内容が特に楽しいかなと思います。謎の女性の名前を言ったり「おいしかった、ポコちゃんのおやつ食べちゃった」「しげちゃんお風呂入って」と人間みたいなおしゃべり、飼い主さんとのコントみたいなやりとりが毎回楽しいです！(≧∇≦)</span><span class="info">（マメルリハの飼い主ともとも/女性/30代）</span></li>
        <li><span class="text">今は亡きポコちゃんにどれだけの愛情を注いでたかわかる、飼い主の愛情やユーモアが出ているところが素敵です。</span><span class="info">（pen/男性/50代）</span></li>
        <li><span class="text">そらちゃんのお喋りがめちゃくちゃ可愛い。</span><span class="info">（真/男性/20代）</span></li>
        <li><span class="text">おしゃべりの動画が面白い🤣</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">ポコちゃんそらちゃんがとにかく可愛い</span><span class="info">（まる/男性/40代）</span></li>
        <li><span class="text">編集が素晴らしく、テンポも長さもよく、とても可愛いし、アイデアがあふれてる。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">そらちゃんのおしゃべり</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">見ていて楽しい</span><span class="info">（ずんだ君/女性/50代）</span></li>
        <li><span class="text">可愛いだけでなく編集の仕方やstory作りがたまらない。続きがみたくなる。</span><span class="info">（☆AHKO☆/女性/40代）</span></li>
        <li><span class="text">可愛い❗</span><span class="info">（ユウ/女性/40代）</span></li>
        <li><span class="text">とにかく、可愛い❤️お話が上手。</span><span class="info">（くりちゃん/女性/40代）</span></li>
        <li><span class="text">コメントにセンスを感じます。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">鳥さんたちの個性をよく理解されている飼い主さんなのかなぁ。アングルとか、いい感じで、動画の構成も上手だと思います。</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">そらちゃんが大好きだからです！もともと、そらちゃんが、わたしの家の1番好きな子に似ている事から見始めましたが、そらちゃんの方が、会話が出来、チュッとか、テレサちゃんとか話しかけてくれる所と、とっても明るく優しくて、可愛すぎる顔と身体から目が離せません！！！</span><span class="info">（える/女性/30代）</span></li>
        <li><span class="text">いつもなんとなく見てしまって、そして毎回、癒やされることです。</span><span class="info">（ぺこ/男性/40代）</span></li>
        <li><span class="text">セキセイのそらちゃんと雀のQちゃんのデコボココンビが可愛い♪</span><span class="info">（ちょえー人！/女性/50代）</span></li>
        <li><span class="text">インコ同士、ぽこちゃんとそらちゃんの可愛いやり取りが好きです。</span><span class="info">（しの/女性/40代）</span></li>
        <li><span class="text">ポコちゃんの死を乗り越え、頑張ってる飼い主さんを応援したいから。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">そらちゃんのブンナゲシリーズがとっても可愛いため</span><span class="info">（とき/男性/10代）</span></li>
        <li><span class="text">とにかく楽しい・可愛い。コミカル。元気な感じ。</span><span class="info">（だんごむし/女性/50代）</span></li>
        <li><span class="text">ポコちゃんが大好きで、ポコ兄がそらちゃんのお世話をしたり、本当にもっともっと元気に生きてて欲しかった。大好きなチャンネルです。</span><span class="info">（みなみ/女性/20代）</span></li>
        <li><span class="text">そらちゃん最高💕</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">おしゃべり上手で可愛い。編集もおもしろくて楽しい。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">そらちゃんとポコちゃんの絆を感じます。</span><span class="info">（たれみみ/女性/40代）</span></li>
        <li><span class="text">小鳥の様子が短くまとめられていて、惹きつけられる。</span><span class="info">（yuko/女性/30代）</span></li>
        <li><span class="text">ポコちゃん見てると家の子思い出す</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">ポコちゃんは亡くなってしまったが、しゃべりが面白い。</span><span class="info">（れお/女性/40代）</span></li>
        <li><span class="text">そらちゃんが可愛いすぎる❤️</span><span class="info">（みずき/女性/50代）</span></li>
        <li><span class="text">短編が多いけど、中身が濃いです。とにかく癒される。</span><span class="info">（クミホ/女性/30代）</span></li>
        <li><span class="text">ポコちゃんとそらちゃんが好きだから</span><span class="info">（つば九郎/女性/10代）</span></li>
        <li><span class="text">セキセイインコが好きだからです(*^^*)</span><span class="info">（るいちゃん好き/女性/30代）</span></li>
        <li><span class="text">ポコポコポコちゃんのSAXの曲〜💕💕💦💦💦💦感動🥺🥺</span><span class="info">（3103🐤🐤/女性/50代）</span></li>
        <li><span class="text">温かくて、面白い‼️</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">癒されるし、クスっと笑える</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">昔から大好きです。</span><span class="info">（けんおぎ/男性/50代）</span></li>
        <li><span class="text">そらちゃんが可愛過ぎる❤️インタビューシリーズ大爆笑です！</span><span class="info">（みぃこ/女性/30代）</span></li>
        <li><span class="text">自然体。音楽、効果音の選択が上手。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ポコちゃん・そらちゃん・Qちゃんそれぞれ個性的でとっても可愛い！ポコそらさんの編集のセンスが抜群です。ももひきスペシャルとかギョリギョリだけとか、ただただドアップとか、インコ好きにはたまらない。ポコそらさん自身が鳥ちゃん達を愛してやまないのが伝わってきます！密かにポコそらさんの声のファンだったりもします。ポコそらさんが描かれるイラストも可愛くて大好きです！</span><span class="info">（とらつる/女性/30代）</span></li>
        <li><span class="text">ほのぼのしてとても可愛い</span><span class="info">（kitoriko/女性/60代）</span></li>
        <li><span class="text">ポコちゃん、そらちゃん、ちゅんちゃん、みんなかわいい。飼い主さんの機知に富んだ語り口が好きです。</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">ポコちゃんとそらちゃんが好きだから</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">うちのインコの名前もそらだから</span><span class="info">（ねむねむ/女性/50代）</span></li>
        <li><span class="text">ポコちゃんがかわいい</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">鳥も好きだし、動画の作り方も好き。</span><span class="info">（ぴよこ/女性/50代）</span></li>
        <li><span class="text">亡くなってしまった賢く愛らしいポコちゃんの大ファンでした。今は弟分のソラちゃんの細マッチョな体とモモヒキの虜です。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">ポコそらの表情が豊かでとても可愛い！なんとも言えないユーモアのあるおしゃべりも最高！！飼い主の方の編集のうまさも最高！！いつも楽しませてもらっている！</span><span class="info">（ミッキーワッキー/男性/40代）</span></li>
        <li><span class="text">天才かと思うほど編集もセットもインコも内容も面白い。</span><span class="info">（てぃ/女性/30代）</span></li>
        <li><span class="text">コント風な動画などエンターテイメントな要素が楽しい</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">面白い！笑えるし可愛い！凝っている！</span><span class="info">（まるみ/女性/50代）</span></li>
        <li><span class="text">おもしろインコさん</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">心があったまります</span><span class="info">（さぬきうどん/女性/30代）</span></li>
        <li><span class="text">謎の女性の名前を呟く回が好きです</span><span class="info">（るる/女性/20代）</span></li>
        <li><span class="text">可愛いし面白く、インコの特徴をとらえているから。</span><span class="info">（snow/女性/50代）</span></li>
        <li><span class="text">飼ってるスズメの姿は他で見れないから</span><span class="info">（ぺるころ/女性/10代）</span></li>
        <li><span class="text">とにかく面白い</span><span class="info">（なんくる/女性/40代）</span></li>
        <li><span class="text">可愛いから</span><span class="info">（Lily/女性/20代）</span></li>
        <li><span class="text">おしゃべりが上手</span><span class="info">（インコ大好きJK/女性/10代）</span></li>
        <li><span class="text">物語のようだから。</span><span class="info">（y/女性/50代）</span></li>
        <li><span class="text">喋りが面白い</span><span class="info">（masa/男性/50代）</span></li>
        <li><span class="text">ポコちゃんのお喋りが、ずっと聞いてて飽きないです🥰</span><span class="info">（九条のねぎちゃん/女性/40代）</span></li>
        <li><span class="text">おしゃべりとセットが面白い</span><span class="info">（kerohana/女性/50代）</span></li>
        <li><span class="text">個性が凄い‼️</span><span class="info">（かこ/女性/40代）</span></li>
        <li><span class="text">セキセイインコはほんとうに面白いインコだ…… それがよくわかるチャンネルです。ポコちゃん そらちゃん テレサちゃん としこちゃん…</span><span class="info">（ぺち/女性/20代）</span></li>
        <li><span class="text">光調が美しいので好きなチャンネル。ゆるゆるしたトーンも癒されます。時々お空に行ってしまった蔵出しそらちゃんの動画を出されるのですが、素晴らしく優しいそらちゃんに会えて嬉しいような、でも何度も泣いてしまうチャンネルです。</span><span class="info">（Nana Hacchi/女性/40代）</span></li>
        <li><span class="text">主さんの小鳥愛に溢れているところ。ポコちゃん、そらちゃん、Qちゃん、ちゅんちゃんみんな可愛い。涙あり笑いありの癒しチャンネルです。</span><span class="info">（komugi/女性/50代）</span></li>
        <li><span class="text">ポコちゃん、そらちゃんが、とてもかわいい。動画の編集もとても良いです。ホッコリさせてもらってます。</span><span class="info">（きょん太郎/女性/50代）</span></li>
        <li><span class="text">ぽこちゃんのしぐさがかわいいから</span><span class="info">（ちーちゃんまま/女性/50代）</span></li>
        <li><span class="text">そらちゃんのお喋りが可愛い。</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">そらちゃんおもしろい子</span><span class="info">（匿名さん/女性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>