﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">鳥について色々学ぶことが出来たり、鳥本来の生活を楽しめたりバラエティ番組のように見れたり。</span><span class="info">（みっちゅ/女性/20代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（6件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">残念ながら、主役のインコはもう亡くなってしまったけれど、とても賢いインコで、飼い主のよっさんの言葉を本当によく覚えていた。よっさんが男性なので、インコの喋る声が低音ボイス。様々な言葉を覚えており、飼い主もよく喋りかけていたのが窺える。</span><span class="info">（ドリチン/女性/30代）</span></li>
        <li><span class="text">私が「インコが飼いたい」って思った、すずちゃんのYouTubeです！関西弁喋るインコちゃんです！今、虹の橋を渡ってしまいましたが、今でも大好きです！</span><span class="info">（ちゅら、ククルのママ/女性/40代）</span></li>
        <li><span class="text">飼い主さんとのやり取りや編集が面白いです</span><span class="info">（がもりんこ/女性/30代）</span></li>
        <li><span class="text">関西弁おじさんインコ可愛い</span><span class="info">（こーこ/女性/10代）</span></li>
        <li><span class="text">ずーやんが大好きでした⭐️（今は天国にいますが）鳥と飼い主さんの幸せをわけてもらっている感じです。</span><span class="info">（はんべえ/女性/40代）</span></li>
        <li><span class="text">亡くなったけど、YouTubeでインコ動画を見るきっかけになりました。ずーやん大好きでした。</span><span class="info">（みずき/女性/50代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>