﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">シロハラインコを知るきっかけともなった、わせぉくん！シロハラインコの面白い性格がわかるし、タイハクオウムやうずら、動物たちの仲睦まじいところが見られるチャンネルです。</span><span class="info">（あやこ/女性/30代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（89件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">鳥達と他の生き物が一緒に遊ぶの楽しい！みぎちぐまさんのテロップが面白い！可愛らしさ満載！癒されたい方どうぞっ(^o^)/</span><span class="info">（とび/女性/30代）</span></li>
        <li><span class="text">わせぉが可愛くて癒されます。ファンになる事間違いないです。わせぉの歩き方がとにかく好き！みんな、同じだと思います。シロハラインコの魅力が詰まったYouTubeで大好きです。脚を高く上げて歩くわせぉが可愛くていつも見ています。</span><span class="info">（イラストらんど/女性/40代）</span></li>
        <li><span class="text">シロハラさん達の動きが可愛いすぎ。このお宅では鳥さんだけでなくプレーリーとかフトアゴとかモルモットもいて、いろんな動物ともわせぉちゃんが仲良くしててそこが一番好きです。飼い主さん次第で異種動物達でも仲良くできるんだなぁと楽しく見させてもらってます。</span><span class="info">（さくらmama/女性/40代）</span></li>
        <li><span class="text">色んな種類の鳥さんがいて、おまけにそれぞれキャラクターが可愛い(強烈とも言う😆)</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">シロハラインコがかわいい</span><span class="info">（おこ/男性/40代）</span></li>
        <li><span class="text">わせぉくんの行進の動画を観たとき、一気にファンになりました。</span><span class="info">（ふみなつ/女性/40代）</span></li>
        <li><span class="text">鳥ちゃん自体が可愛いのと編集の上手さ</span><span class="info">（たか/女性/40代）</span></li>
        <li><span class="text">みぎちぐま！編集もよい</span><span class="info">（明太子/女性/20代）</span></li>
        <li><span class="text">ナンバーワンだと思います</span><span class="info">（ロミオ/女性/40代）</span></li>
        <li><span class="text">鳥の意外な行動の一面が知れる面白くて笑ってしまう楽しい動画が見られるから。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ズグロシロハラインコを迎えるきっかけになったチャンネルです。</span><span class="info">（lave.oza/女性/50代）</span></li>
        <li><span class="text">ほんとにわせぉに一目惚れしてシロハラインコが好きになった！わせぉと小福ちゃんのこれからが気になる笑</span><span class="info">（悠緋/女性/20代）</span></li>
        <li><span class="text">わせぉ君がとにかく可愛い</span><span class="info">（うめとミント/女性/40代）</span></li>
        <li><span class="text">シロハラインコを知ったきっかけです</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">拾ったうずらを大切にしているから</span><span class="info">（あきこ/女性/40代）</span></li>
        <li><span class="text">大好きなので</span><span class="info">（あや/女性/40代）</span></li>
        <li><span class="text">シロハラがかわいい</span><span class="info">（しー/女性/30代）</span></li>
        <li><span class="text">様々な動物と同居している様子がほっとする。それぞれへの愛情を感じるし、とても良いお世話をされているので、勉強になる。</span><span class="info">（へとちゃん/女性/50代）</span></li>
        <li><span class="text">姫うずらのニャーンに、ハートを射抜かれる。</span><span class="info">（えいたま。/女性/30代）</span></li>
        <li><span class="text">鳥だけではなく、色々な動物がいて楽しそう。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">シロハラインコの愛らしさを知ったチャンネルだから</span><span class="info">（hiru/女性/40代）</span></li>
        <li><span class="text">種別を越えた動物同士と絡みが面白い</span><span class="info">（えむちゃん/女性/40代）</span></li>
        <li><span class="text">わせぉが好きだから。</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">わせおがとっても愉快で可愛い</span><span class="info">（もも吉/女性/50代）</span></li>
        <li><span class="text">好き</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">わせぉくんの面白い動きが好きだから</span><span class="info">（ま。/女性/10代）</span></li>
        <li><span class="text">間が良い</span><span class="info">（ゆちこ/女性/50代）</span></li>
        <li><span class="text">ひたすらかわいい</span><span class="info">（こっさん/女性/40代）</span></li>
        <li><span class="text">シロハラインコを中心に異種がみんな仲良く、見ていて微笑ましい。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">最近見始めました。癒されてます。日常的な感じがそのまま映っているので好きです。</span><span class="info">（あるふぁ/女性/10代）</span></li>
        <li><span class="text">ご機嫌わせぉのころから大好き</span><span class="info">（あらし/女性/50代）</span></li>
        <li><span class="text">インコの想定外の行動が楽しくて癒されます</span><span class="info">（むぎちゃ/女性/40代）</span></li>
        <li><span class="text">飼い主さんとのやりとりが面白い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">わせぉの歩きは最高だから。</span><span class="info">（cyara/女性/40代）</span></li>
        <li><span class="text">主さんの鳥さんへの愛に溢れているから</span><span class="info">（あ/女性/40代）</span></li>
        <li><span class="text">鳥だけではなく他の動物も見られる。編集が可愛い。</span><span class="info">（sala/女性/30代）</span></li>
        <li><span class="text">不思議な動きをするわせぉ君が可愛すぎる。シロハラインコを好きになったきっかけのチャンネル</span><span class="info">（ニシ/女性/30代）</span></li>
        <li><span class="text">シロハラカップル最高っす…</span><span class="info">（匿名さん/10代）</span></li>
        <li><span class="text">わせぉ君と小福ちゃんがカワイイ！</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">とにかく 「わせぉ」くんのペタペタ歩き</span><span class="info">（さぬきうどん/女性/30代）</span></li>
        <li><span class="text">わせぉの歩き方が最高。</span><span class="info">（☆むにゅ☆/女性/40代）</span></li>
        <li><span class="text">わせぉだいすき！</span><span class="info">（るる/女性/20代）</span></li>
        <li><span class="text">無駄な声の解説がなく、鳥さんに集中できる。かわいいだけじゃなく面白い</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">とにかく、シロハラインコの可愛さ爆発</span><span class="info">（コザクラインコのみかん/女性/50代）</span></li>
        <li><span class="text">わせぉ君！かわいい</span><span class="info">（さとうえ/女性/40代）</span></li>
        <li><span class="text">シロハラインコの歩き方が面白かった</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">とくにわせぉ君、見てるだけで癒されます</span><span class="info">（ぴよ/女性/50代）</span></li>
        <li><span class="text">シロハラインコの動きがおもしろくてかわいいから</span><span class="info">（ぺるころ/女性/10代）</span></li>
        <li><span class="text">登場人物全員好き。</span><span class="info">（まるまる/女性/30代）</span></li>
        <li><span class="text">わせぉくんが大好きなんです♡</span><span class="info">（くーちゃん/女性/40代）</span></li>
        <li><span class="text">色々な鳥さんがいて楽しい編集が面白いわせぉくん可愛い</span><span class="info">（アナコンダ/女性/20代）</span></li>
        <li><span class="text">わせぉくんの歩き方に衝撃を受けました。ホントにかわいい！！</span><span class="info">（りんりん/女性/40代）</span></li>
        <li><span class="text">可愛いくて賢いとりさんが魅力的で毎回癒されているため</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">わせぉくんの母ちゃん見て〜に、小福ちゃんのわせぉ私のもの！そして彩りある仲間たちが素敵です。</span><span class="info">（なんくる/女性/40代）</span></li>
        <li><span class="text">私が鳥好きになったきっかけがみぎちぐまさんの動画でした。ぺたぺたとご機嫌で歩くシロハラインコのわせぉくんをたまたま見かけてから、こんなに感情表現豊かな生き物だったんだと知ることができてから、大の鳥好きになりました。</span><span class="info">（たいちゃん/女性/20代）</span></li>
        <li><span class="text">様々な種類が登場するが、どの子も飼い主さんの愛情たっぷりぶりが分かる関係性。仕草も表現豊かで鳥という認識が変わった。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">鳥を飼えない中(家族の反対)で、いつも癒されています。</span><span class="info">（匿名さん/男性/20代）</span></li>
        <li><span class="text">わせぉがさいこー。はなちゃん、頑張ってほしい。</span><span class="info">（カロン/女性/50代）</span></li>
        <li><span class="text">わせぉちゃんが可愛いです</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">わせぉとはなちゃんの仲の良さ。右クリックさんの愛情を感じられる。</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">多種多頭飼育が、うちと一緒で、でも飼っている種類は違うからかわいい。</span><span class="info">（インコ大好きJK/女性/10代）</span></li>
        <li><span class="text">わせぉ君が可愛い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">わせぉ君が賢こ過ぎるところ</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">わせぉくんファンです！ぺちぺち歩きが超かわいい♪</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">みんなかわいい。ウズラがいるのもいい。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">わせぉの動きがとにかくかわいい。見ていて楽しいです。</span><span class="info">（栗子/女性/40代）</span></li>
        <li><span class="text">内容が面白いのと、出てくる鳥さん達が超絶可愛い！</span><span class="info">（小鳥遊 優/女性/40代）</span></li>
        <li><span class="text">動画内で動物達の懐き方を見ていると、飼い主さん愛情の注ぎ方が想像できるので大好きです。みんな可愛い子達で、動画作りも上手です。</span><span class="info">（りんりん/女性/40代）</span></li>
        <li><span class="text">動画の作り方に工夫があって面白い</span><span class="info">（aibaちゃん/女性/30代）</span></li>
        <li><span class="text">足音をたてて歩くのがかわいい</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">なんと言っても わせぉ君の動きが何とも言えない可愛さ🥰🥰🥰インコである事を忘れてしまいそうです😆😆😆 でもインコだからこの動きができるんだろうなぁ と思っちゃいます。シロハラインコ！わせぉ君、小福ちゃんあなた達は 本当にインコですか？もしかして中身はちっちゃい人間が入ってないですか？🤣🤣🤣😁😁😁</span><span class="info">（九条のねぎちゃん/女性/40代）</span></li>
        <li><span class="text">わせぉくんの愉快な歩き方が大好きです。心が和みます♪</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">シロハラインコの仕草や個体の色</span><span class="info">（ネモヨウ/男性/30代）</span></li>
        <li><span class="text">動物たちがかわいい</span><span class="info">（kerohana/女性/50代）</span></li>
        <li><span class="text">わせぉ君のかわいさ、顔がニヤけます。</span><span class="info">（かこ/女性/40代）</span></li>
        <li><span class="text">シロハラインコという存在を知るキッカケになったのがわせぉ君です。どうしてこんなに可愛いのかしら…</span><span class="info">（ぺち/女性/20代）</span></li>
        <li><span class="text">わせぉさんの動きに魅了されまくりです！</span><span class="info">（サンマルコ。/女性/40代）</span></li>
        <li><span class="text">「わせぉ」が可愛い。ダンス、歩く姿、はなちゃんと種を超えた愛など、とにかくわせぉが可愛い。</span><span class="info">（りらっち/女性/40代）</span></li>
        <li><span class="text">わせぉくんのパタパタ歩きがおすすめに出てきて、それからわせぉくん達の大ファンです！オウムや、トカゲ、プレーリードック、沢山の動物達に囲まれて、憧れちゃいます！</span><span class="info">（マヒメ/女性/40代）</span></li>
        <li><span class="text">シロハラのわせお君が、なんと言っても可愛すぎます。癒しをもらってます。他の鳥さん小福ちゃん、うみちゃんも、可愛い。主様の愛情が画面からとどきます。色々な面白い動画編集をしてくれたり、近日中には、自粛中のみんなに、ライブ配信毎日してくれるようです。楽しいチャンネルです。</span><span class="info">（きょん太郎/女性/50代）</span></li>
        <li><span class="text">わせぉちゃんのぺたぺた歩きとシロハラプロレスが最高</span><span class="info">（のっち/男性/40代）</span></li>
        <li><span class="text">わせぉくんが可愛いから</span><span class="info">（しん/女性/30代）</span></li>
        <li><span class="text">わせぉくんの中には人が入っているのかと思う位、動きが人間っぽい</span><span class="info">（メガヒヨ/女性/40代）</span></li>
        <li><span class="text">楽しい。おもしろい。</span><span class="info">（ぺんこ/女性/50代）</span></li>
        <li><span class="text">わせぉ君が可愛い</span><span class="info">（ままま/女性/20代）</span></li>
        <li><span class="text">わせぉを見ると幸せな気分になる</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">わせぉ君の行動に癒される～</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">鳥さんたちと、他の動物たちとの掛け合いがすごく癒されます。シロハラインコのわせぉ君のちょっと変わった歩き方から私ははまってしまいました。鳥なのに鳥じゃないような、すごくかわいいです❗</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">とても上手に飼われてると思います。(飼うと言う表現を嫌う人もいると思うのですが私は飼育していると思ってます)見習いたいです。</span><span class="info">（あーおかん/女性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>