﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">ハシビロコウのふたばちゃん、大好きです。こんなに動くハシビロコウすごいです。大好きな飼育員さんと挨拶したり、かわいいです。</span><span class="info">（ぴよ/女性/50代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（51件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">いろいろな鳥を紹介してくれていて、どの鳥を見ても親しみを感じる。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">飼育員にベタ惚れな鳥たちがかわいい</span><span class="info">（りさ/女性/10代）</span></li>
        <li><span class="text">鳥好きがこのチャンネルを推すのに理由など必要ないのでは…！</span><span class="info">（ソラ/女性/40代）</span></li>
        <li><span class="text">ミヤマオウムさんがすごすぎて、いつか会いに行きたいと思ってます。</span><span class="info">（すーる/女性/10代）</span></li>
        <li><span class="text">ふたばちゃんが可愛いから</span><span class="info">（れい/女性/10代）</span></li>
        <li><span class="text">いろんな鳥さんが見れるから</span><span class="info">（みう/女性/40代）</span></li>
        <li><span class="text">掛川花鳥園のファンだから。</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">いろいろな鳥が紹介され面白い</span><span class="info">（たか/女性/40代）</span></li>
        <li><span class="text">自然な反応が見れる</span><span class="info">（きょうさん/男性/10代）</span></li>
        <li><span class="text">毎年行くのが楽しみ</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">珍しい鳥と個性が楽しい。</span><span class="info">（ちゃろ/女性/50代）</span></li>
        <li><span class="text">いろいろな鳥たちを観たい。</span><span class="info">（ちびハルまま/女性/40代）</span></li>
        <li><span class="text">イケメン揃いだから。</span><span class="info">（匿名さん/男性）</span></li>
        <li><span class="text">いつか行ってみたい。</span><span class="info">（腹黒ぼーいず/女性/40代）</span></li>
        <li><span class="text">兎に角大好き</span><span class="info">（あや/女性/40代）</span></li>
        <li><span class="text">飼育員さんと鳥さんの貴重な場面を見れるから</span><span class="info">（ハル/女性/40代）</span></li>
        <li><span class="text">いつかは行ってみたいと思いつつ拝見しています。</span><span class="info">（ぴぴまる/女性/50代）</span></li>
        <li><span class="text">ヘビクイさんかわいい</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">癒される</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">是非一度行ってみたい‼️</span><span class="info">（ゆう/女性/40代）</span></li>
        <li><span class="text">ふたばちゃん、可愛い？</span><span class="info">（まきまき/女性/50代）</span></li>
        <li><span class="text">好きで良く通った園です</span><span class="info">（みやびです/女性/60代）</span></li>
        <li><span class="text">ハシビロコウを見るのが好き</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">ハシビロコウのフタバちゃんがとても可愛いです！！ハシビロコウの魅力を教えてくれました。</span><span class="info">（りょうぶ/女性/30代）</span></li>
        <li><span class="text">日常見られない鳥の風景</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">やっぱり地元のふたばちゃん👍</span><span class="info">（ハル/女性/40代）</span></li>
        <li><span class="text">行ったことなくても楽しめる</span><span class="info">（こっさん/女性/40代）</span></li>
        <li><span class="text">行ったことあるから。</span><span class="info">（コロン/女性/40代）</span></li>
        <li><span class="text">ハシビロコウのふたばさん！</span><span class="info">（むぎちゃ/女性/40代）</span></li>
        <li><span class="text">ふたばちゃんの溢れ出す気持ちが見ていてかわいい</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ハシビロコウが可愛い</span><span class="info">（とりのこ/女性/30代）</span></li>
        <li><span class="text">ハシビロコウのふたばちゃんが最高です！</span><span class="info">（クマクマ/女性/50代）</span></li>
        <li><span class="text">是非行ってみたいところ何日間でもいられそう‼️</span><span class="info">（リコッコ/女性/40代）</span></li>
        <li><span class="text">ハシビロコウのふたばちゃんが見れるからです</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">ハシビロコウのふたばちゃんが何とも言えず可愛い。</span><span class="info">（まるみ/女性/50代）</span></li>
        <li><span class="text">動かない鳥が動く時・・・</span><span class="info">（さぬきうどん/女性/30代）</span></li>
        <li><span class="text">色んな鳥さんがいますが、ふたばちゃんがいいです。もちろんハシビロコウです。カメラもお客さんが撮る位置ではなくて、ふたばちゃんが寝る部屋の中からの撮影とかそこでの飼育員さんとのふれあいなど、お客さんが見れないふたばちゃんが見れます。</span><span class="info">（s.chikashi/女性/50代）</span></li>
        <li><span class="text">私が掛川花鳥園の虜になってしまったのは、TVでハシビロコウさんの紹介をされているとき、飼育員のお兄さんのインタビュー画面の端で、元気に走って飛んでいるイワシャコちゃんに夢中になってしまったからです！(笑)あの愛らしいまん丸ボディと足を伸ばして寝る姿に、心を打たれました、、、掛川は私の自宅からはとても遠く、年に一回程しか訪れることができないのですが、YouTubeを通して普段の鳥さんたちの姿を見ることができて、とても嬉しいです😊1番の推しはもちろんイワシャコちゃんですが、他の鳥さんも可愛くて可愛くて、掛川花鳥園は私にとって楽園です！いつか、掛川に住んで花鳥園の年パスを買うことが夢です！これからも可愛らしい鳥さんたちの動画、楽しみにしております。</span><span class="info">（ででぽ/女性/10代）</span></li>
        <li><span class="text">遠くて行けないから貴重な動画です。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">様々な鳥さんを観れて楽しい</span><span class="info">（小鳥遊 優/女性/40代）</span></li>
        <li><span class="text">ふたばちゃんが大好き</span><span class="info">（ゆか/女性/30代）</span></li>
        <li><span class="text">ハシビロコウが好きでたまに観ています。</span><span class="info">（nicoty/女性/50代）</span></li>
        <li><span class="text">ハシビロコウ「ふたば」が良い。</span><span class="info">（にゃんすけ/女性/50代）</span></li>
        <li><span class="text">ふたばちゃんがかわいい</span><span class="info">（ゆかりん/女性/50代）</span></li>
        <li><span class="text">以前、掛川花鳥園に行ってとても楽しかったので、また行きたいと思っていますがなかなか行けず…。行った気分に浸るためにときどき見ます</span><span class="info">（あしゅら/女性/20代）</span></li>
        <li><span class="text">色んな鳥を知ることができ、バックヤードが見られるのが嬉しい。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">色んな鳥さんが見れる</span><span class="info">（kerohana/女性/50代）</span></li>
        <li><span class="text">いろいろな鳥がみられるのが素敵</span><span class="info">（セロナ/男性/50代）</span></li>
        <li><span class="text">この施設が好き</span><span class="info">（さきのり/男性/40代）</span></li>
        <li><span class="text">鳥好きにはたまらない場所なので大好きです♪</span><span class="info">（syokopy/女性/40代）</span></li>
        <li><span class="text">大好きな花鳥園だから</span><span class="info">（メガヒヨ/女性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>