﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">フクロウとハリネズミと主の掛け合いがおもしろい</span><span class="info">（ワンタン/女性/40代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（5件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">吹き替え？が面白い！</span><span class="info">（しれい/女性/10代）</span></li>
        <li><span class="text">鳥を飼うきっかけになったチャンネルだから</span><span class="info">（ノグ/男性/40代）</span></li>
        <li><span class="text">飼い主さんとの掛け合いが良い！</span><span class="info">（ブリリアント/女性/10代）</span></li>
        <li><span class="text">可愛いフクロウ💕</span><span class="info">（匿名さん/男性/50代）</span></li>
        <li><span class="text">ホロがかわいい</span><span class="info">（匿名さん/女性/10代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>