﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">いつも品があり素敵です。インコのうりちゃんのおしゃべりが、主さんが穏やかに優しく接してみえるんだなと感じ、たまちゃんの愛らしさも相まって、家族で大好きなチャンネルです！</span><span class="info">（ニコニコちゃん★/女性/30代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（77件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">無理やりに小鳥の気持ちをテロップにしていないので、自然体の鳥さんの姿が見れて微笑ましい。あと飼い主さんのお部屋もおしゃれで、それも楽しみなところ。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">オカメインコとセキセイインコの掛け合いがおもしろい</span><span class="info">（アセアン/男性/10代）</span></li>
        <li><span class="text">うりちゃん推しです。仕草や声も可愛くて。編集に品があります。</span><span class="info">（さわちん/男性/40代）</span></li>
        <li><span class="text">おしゃべりがすごく上手で可愛いセキセイちゃんと、それを鬱陶しがるオカメちゃんの姿が爆笑必須です。思ってる以上におしゃべりが上手でびっくりします笑</span><span class="info">（小野/女性/20代）</span></li>
        <li><span class="text">おしゃれでみててほっこり</span><span class="info">（おさかなママ/女性/40代）</span></li>
        <li><span class="text">ほのぼのとした日常が切り取られていて、可愛いです。</span><span class="info">（すーる/女性/10代）</span></li>
        <li><span class="text">うりちゃんのおしゃべりと笑い声で飼い主さんが想像できます。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">落ち着いた感じで癒される</span><span class="info">（とりずきん/女性/20代）</span></li>
        <li><span class="text">動画の雰囲気がお洒落で見ていて楽しい。</span><span class="info">（火星人/女性/10代）</span></li>
        <li><span class="text">うりちゃんのおしゃべりが可愛い♡動画自体のクオリティが高い！とっても癒される！！</span><span class="info">（むっちゃん/女性/30代）</span></li>
        <li><span class="text">うりちゃん、とってもキュート！</span><span class="info">（せーの/女性/20代）</span></li>
        <li><span class="text">お喋り凄い</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">可愛らしい日常</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">うりちゃんのおしゃべりが面白い。</span><span class="info">（きよっぴー/女性/50代）</span></li>
        <li><span class="text">1人でのんびりする時にとても良いのとインコちゃんが喋ってる言葉が飼い主の愛が伝わってくるから好き</span><span class="info">（イヴ/女性/10代）</span></li>
        <li><span class="text">鳥さんたちがかわいい。編集がオシャレ。</span><span class="info">（tami/女性/50代）</span></li>
        <li><span class="text">セキセイインコのうりちゃんが可愛いから</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">おしゃれな動画で好き。</span><span class="info">（saa/女性/30代）</span></li>
        <li><span class="text">セキセイさんとおかめさんが仲良しでかわいい！私もセキセイとおかめを飼っていますが、同時放鳥は無理。うらやましいです。</span><span class="info">（ちいさん/女性/50代）</span></li>
        <li><span class="text">静かな空間で二羽の鳥の自然な行動を観察する大人な感じが好き</span><span class="info">（かのん０３１６/女性/40代）</span></li>
        <li><span class="text">スタイリッシュなお宅でうりちゃんとたまちゃんが暮らしてる様が素敵すぎます。飼い主さんの笑い声も癒されます。</span><span class="info">（まきまき/女性/50代）</span></li>
        <li><span class="text">お洒落な感じが好きです。</span><span class="info">（けんたろう。/男性/50代）</span></li>
        <li><span class="text">インテリア含め全体の雰囲気がすき</span><span class="info">（may/女性/30代）</span></li>
        <li><span class="text">うりちゃんがとにかく可愛い！笑い声に癒される。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">編集がとにかくおしゃれ！！</span><span class="info">（鳥が好き学生。/女性/10代）</span></li>
        <li><span class="text">ずっとみれる</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">可愛い</span><span class="info">（匿名さん/女性/10代）</span></li>
        <li><span class="text">癒し系</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">何気ない日常が好き</span><span class="info">（やまこ/女性/40代）</span></li>
        <li><span class="text">映像のきれいさ</span><span class="info">（さと/女性/20代）</span></li>
        <li><span class="text">うりちゃん可愛い</span><span class="info">（Sora/女性/30代）</span></li>
        <li><span class="text">オシャレな動画。可愛い</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ゆったりした時間に癒されます</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">鳥さんの可愛い所や性格が分かりやすい</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">ライフスタイル系の動画づくりで、鳥達と過ごしている穏やかな空気感が表現されていてとても癒されます。</span><span class="info">（月朱/女性/50代）</span></li>
        <li><span class="text">見るとホッコリした気持ちになれるから</span><span class="info">（風のゆびさき/女性/50代）</span></li>
        <li><span class="text">うりぱろがかわいい</span><span class="info">（いさ/女性/10代）</span></li>
        <li><span class="text">うりちゃんがかわいい。おしゃべりもおもしろい。</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">BGMや雰囲気がおしゃれ</span><span class="info">（みりん/女性/40代）</span></li>
        <li><span class="text">多頭飼いに興味があるのと、鳥さんと暮らすお洒落な日常が素敵で真似したいから。</span><span class="info">（あーや/女性/10代）</span></li>
        <li><span class="text">オカメインコとセキセイインコのテンションの差が好き</span><span class="info">（SiN/女性/10代）</span></li>
        <li><span class="text">自由気ままでおしゃべりが上手なウリちゃんと1人で遊びたそうなたまちゃんコンビにいつも和んでます！</span><span class="info">（匿名さん/女性/60代）</span></li>
        <li><span class="text">単純にセキセイインコとオカメインコが可愛い。</span><span class="info">（真/男性/20代）</span></li>
        <li><span class="text">人、声、字幕少なく、鳥の日常的な映像が好き。</span><span class="info">（はる/女性/50代）</span></li>
        <li><span class="text">おしゃべりうりちゃんが可愛すぎで、その横でちょっと困ってるたまちゃんがまたカワイイ!</span><span class="info">（みぃ姐さん/女性/40代）</span></li>
        <li><span class="text">おしゃべりがとってもかわいいセキセイインコちゃん。飼い主さんの愛情が伝わってきます。</span><span class="info">（あーむ/女性/20代）</span></li>
        <li><span class="text">楽しいから。</span><span class="info">（涼/女性/50代）</span></li>
        <li><span class="text">動画がとてもお洒落！！雰囲気が凄く好きです。うりちゃんのお喋りがセキセイインコの中でもハッキリ聞こえて、お喋り上手だなって思います。たまちゃんのカキカキタイムがもう可愛すぎますね。</span><span class="info">（るふれ/女性/10代）</span></li>
        <li><span class="text">癒やされる</span><span class="info">（ぽぽ/女性/50代）</span></li>
        <li><span class="text">動画がオシャレ。余計な効果音や、リピートがなくていい。セキセイインコの喋っている声も可愛い。</span><span class="info">（ドリチン/女性/30代）</span></li>
        <li><span class="text">インコのうりちゃん語録が面白いです。飼い主さんのおしゃれなお部屋も見ていて楽しいです。</span><span class="info">（しの/女性/40代）</span></li>
        <li><span class="text">全体的な雰囲気が好きです。</span><span class="info">（匿名さん/男性/40代）</span></li>
        <li><span class="text">おしゃれな雰囲気。環境音楽的に流していたりする。</span><span class="info">（モコちゃん/女性/40代）</span></li>
        <li><span class="text">オシャレ！</span><span class="info">（マナカ/女性/20代）</span></li>
        <li><span class="text">とにかく鳥さんとの暮らしがオシャレ！！二羽の鳥さんの性格の違いも面白くて 鳥さんの声だけなのでずーっと見ていられる！</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">おしゃれな空気感がすごくいい。うりちゃんのしゃべりや笑い声が楽しい。</span><span class="info">（だんごむし/女性/50代）</span></li>
        <li><span class="text">うりちゃん❤️</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">インコとは思えないはっきりしたおしゃべり。</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">とにかく、セキセイのうりちゃんが可愛い❤️</span><span class="info">（れお/女性/40代）</span></li>
        <li><span class="text">センスが良い。</span><span class="info">（Ibee/女性/50代）</span></li>
        <li><span class="text">トリさん達と飼い主さんのやりトリがナンカおしゃれで可愛い💕💕</span><span class="info">（3103🐤🐤/女性/50代）</span></li>
        <li><span class="text">日々の穏やかなひとときという感じで見る度に癒されます。どちらのインコも個性があってとてもかわいい。うりちゃんの明瞭なお喋りは初見時驚かされました。あとクリエイター職の自分から見ても、センスの良い素敵な動画ばかりだなと思います。</span><span class="info">（ななお/女性/30代）</span></li>
        <li><span class="text">映像がきれいでシンプル。構成も良い。うりちゃんの日本語が秀逸。何回見ても飽きない。</span><span class="info">（匿名さん）</span></li>
        <li><span class="text">うりちゃんたまちゃんの可愛さはもちろん、特筆すべきはダントツの編集センス、清潔感と落ち着きのある撮影環境です！ほかのyoutuberさんも沢山観てきましたが、上に挙げた要素のクオリティが個人的にトップクラス。丁寧な撮影が鳥さんの可愛さも余すことなく伝えてくれてとても素敵な動画に仕上がってます。飼い主さんの声色もとても穏やかで和みます。最近パッタリと更新が途絶えているようで…この特集をキッカケに何かしらのリアクションがあればという思いもあっての一票です！</span><span class="info">（鳥と暮らしたい人/男性/20代）</span></li>
        <li><span class="text">うりちゃんのおしゃべりがとっても上手で面白くて、可愛いくて、癒されます。うりちゃんとたまちゃんの関係も見てて楽しい。映像が綺麗でお洒落なのも魅力です。</span><span class="info">（とらつる/女性/30代）</span></li>
        <li><span class="text">うりちゃんのお喋りがとにかく可愛い。うりちゃんとたまちゃんの微妙な距離感が面白い</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">シンプルな感じがしますが、カフェのような明るい、和む、空間にも癒されます。</span><span class="info">（katy/女性/40代）</span></li>
        <li><span class="text">YouTubeを開いた時にきちらのこちらの動画がオススメに出てきました。そこで鳥さんの可愛さに気づき現在3羽のセキセイインコを飼っています。こちらの動画に出会えたおかげで3羽に出会えました。とても感謝しているチャンネルです。</span><span class="info">（あちゅん/女性/20代）</span></li>
        <li><span class="text">撮影しているお部屋の雰囲気が素敵です。セキセイインコのおしゃべりがかわいいです、</span><span class="info">（栗子/女性/40代）</span></li>
        <li><span class="text">うりちゃんのお喋りが大好き♥です｡『 うりぱろ🥰』</span><span class="info">（九条のねぎちゃん/女性/40代）</span></li>
        <li><span class="text">おしゃべりや普段の様子がよく映されていたり、二羽の仲の良さが伝わってくる。</span><span class="info">（♡/女性/10代）</span></li>
        <li><span class="text">うりちゃんのおしゃべりとたまちゃんの甘えん坊ぶりがとても可愛い。お洒落で落ち着いた編集も好き。</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">おしゃべり上手</span><span class="info">（匿名さん/女性/30代）</span></li>
        <li><span class="text">オカメのたまちゃんが大好きなうりちゃんの関係ややりとりが可愛いだけでないクスッと笑わせてくれる秀逸なチャンネルです。使用されているカメラもかもしれませんが、画像や動画構成、色構成、光調はすっきりとしたスタイルがあり(インテリアから想像するに好みが一貫されている方)美しい稀有な動画です。飼い主さんの声がかわいい。最近アップがないので心配です。</span><span class="info">（Nana Hacchi/女性/40代）</span></li>
        <li><span class="text">うりちゃんがカワイイから</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">シンプルな映像ですが見ているだけで楽しい♪</span><span class="info">（syokopy/女性/40代）</span></li>
        <li><span class="text">うりちゃん、たまちゃんが可愛いのはもちろんですが、映像がオシャレです。ちょこっと映る家具や小物もセンスがイイ！トリ以外も楽しめます。</span><span class="info">（匿名さん/女性/30代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>