﻿<div class="comment">
  <ul class="accordion">
    <li>
      <ul class="inner_open">
        <li><span class="text">初心者にも伝わるやさしい口調の飼育情報が役に立ちます。</span><span class="info">（匿名さん/男性/40代）</span></li>
      </ul>
    </li>
    <li>
      <p class="more"><span class="c_open">推薦コメントを見る（7件）</span><span class="c_close">推薦コメントを閉じる</span></p>
      <ul class="inner">
        <li><span class="text">優しい雰囲気が好きです。</span><span class="info">（匿名さん/女性/20代）</span></li>
        <li><span class="text">サザナミインコを飼ってからのファンです</span><span class="info">（匿名さん/女性/50代）</span></li>
        <li><span class="text">勉強になるし、相談もできる</span><span class="info">（はるか/女性/20代）</span></li>
        <li><span class="text">飼い方等丁寧に教えてくれる所</span><span class="info">（匿名さん/女性/40代）</span></li>
        <li><span class="text">鳥さんのかわいさや魅力が分かりやすく、楽しくまとめられている。時間もちょうど良い。</span><span class="info">（サザナミ073/女性/40代）</span></li>
        <li><span class="text">わかりやすい！</span><span class="info">（ももいちご/女性/40代）</span></li>
        <li><span class="text">クリッカー芸などの教え方を分かりやすく説明してくれる</span><span class="info">（ゆにこん/女性/40代）</span></li>
      </ul>
    </li>
  </ul><!-- accordion -->
</div>